    {{> numerosIcomp/navbar page="docentes"}}
<div class="flex-wrapper bg-primary">

    <section class="mb-3">
        <div class="container">
                <div class="card card-body mx-3 mx-md-4 mt-n6">
                    <div class="row gx-4 mb-4">
                        <div class="nav-wrapper position-relative end-0">
                            <ul class="nav nav-pills nav-fill p-1" role="tablist">
                            <li class="nav-item">
                                <a id="profile-tab" class="nav-link mb-0 px-0" href="/docentes/{{professor.id}}?lng={{lng}}" aria-controls="profile" role="tab" aria-selected="true">
                                <i class="material-icons position-relative">person</i>
                                
                                <span class="ms-1">{{__ 'profile.perfil'}}</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mb-0 px-0 " href="/docentes{{professor.id}}/publicacoes?lng={{lng}}" aria-controls="public" role="tab" aria-selected="false">
                                <i class="material-icons position-relative">description</i>
                                
                                <span class="ms-1">{{__ 'profile.publicacoes'}}</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mb-0 px-0 " href="/docentes/{{professor.id}}/projetos?lng={{lng}}" role="tab" aria-controls="code" aria-selected="false">
                                <i class="material-icons text-lg position-relative">search</i>
                                <span class="ms-1">{{__ 'profile.projetosDePesquisa'}}</span>
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle mb-0 px-0" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons text-lg position-relative">account_circle</i>
                                <span class="ms-1">{{__ 'profile.orientacoes'}}</span>
                                </a>
                                <div class="dropdown-menu w-100 text-center">
                                    <a class="dropdown-item" href="/docentes/{{professor.id}}/orientacoes/graduacao?lng={{lng}}">{{__ 'profile.graduacao'}}</a>
                                    <a class="dropdown-item" href="/docentes/{{professor.id}}/orientacoes/mestrado?lng={{lng}}">{{__ 'profile.mestrado'}}</a>
                                    <a class="dropdown-item" href="/docentes/{{professor.id}}/orientacoes/doutorado?lng={{lng}}">{{__ 'profile.doutorado'}}</a>
                                  </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mb-0 px-0 active" href="/docentes/{{professor.id}}/premios?lng={{lng}}" role="tab" aria-controls="code" aria-selected="false">
                                <i class="material-icons text-lg position-relative">military_tech</i>
                                <span class="ms-1">{{__ 'profile.premios'}}</span>
                                </a>
                            </li>
                            </ul>
                        </div>
                    </div>

                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="prizesTab" role="tabpanel" aria-labelledby="prizes-tab">
                            <div class="card mb-3">
                                <div class="card-body p-3" >
                                    <div class="w-100 text-center">
                                        <h4 class="mb-4">
                                            {{professor.nomeCompleto}}
                                        </h4>
                                    </div>
                                    <div class="nav-wrapper position-relative end-0">
                                        <ul class="nav nav-tabs p-1" role="tablist">
                                            <li class="nav-item">
                                            <a class="nav-link px-3 nav-link-event" id="prizes-tab" data-bs-toggle="tab" href="#prizes" role="tab" aria-controls="prizes" aria-selected="false">{{__ 'profile.premios'}} ({{premiosLen}})</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="tab-content tab-event" id="myTabContent">
                                        <div class="tab-pane fade" id="prizes" role="tabpanel" aria-labelledby="prizes-tab">
                                            <ol class="mt-3 text-dark" style="font-size: 14px;">
                                                {{#if premios}}
                                                {{#each premios}}
                                                <li><strong>{{titulo}}. </strong>{{entidade}}, {{ano}}.</li><br>
                                                {{/each}}
                                                {{else}}
                                                {{__ 'profile.naoHaPremios'}} {{professor.nomeCompleto}}.
                                                {{/if}}
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>        
            
                </div>
            </div>
    </section>
        
{{> numerosIcomp/footer}}
</div>
