    {{> numerosIcomp/navbar page="docentes"}}
<div class="flex-wrapper bg-primary">

    <section class="mb-3">
        <div class="container">
                <div class="card card-body mx-3 mx-md-4 mt-n6">
                    <div class="row gx-4 mb-4">
                        <div class="nav-wrapper position-relative end-0">
                            <ul class="nav nav-pills nav-fill p-1" role="tablist">
                            <li class="nav-item">
                                <a id="profile-tab" class="nav-link mb-0 px-0" href="/numerosIcomp/docentes/{{professor.id}}" aria-controls="profile" role="tab" aria-selected="true">
                                <i class="material-icons position-relative">person</i>
                                
                                <span class="ms-1">Perfil</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mb-0 px-0 active" href="/numerosIcomp/docentes/{{professor.id}}/publicacoes" aria-controls="public" role="tab" aria-selected="false">
                                <i class="material-icons position-relative">description</i>
                                
                                <span class="ms-1">Publicações</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mb-0 px-0 " href="/numerosIcomp/docentes/{{professor.id}}/projetos" role="tab" aria-controls="code" aria-selected="false">
                                <i class="material-icons text-lg position-relative">search</i>
                                <span class="ms-1">Projetos de Pesquisa</span>
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle mb-0 px-0 " data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons text-lg position-relative">account_circle</i>
                                <span class="ms-1">Orientações</span>
                                </a>
                                <div class="dropdown-menu w-100 text-center">
                                    <a class="dropdown-item" href="/numerosIcomp/docentes/{{professor.id}}/orientacoes/graduacao">Graduação</a>
                                    <a class="dropdown-item" href="/numerosIcomp/docentes/{{professor.id}}/orientacoes/mestrado">Mestrado</a>
                                    <a class="dropdown-item" href="/numerosIcomp/docentes/{{professor.id}}/orientacoes/doutorado">Doutorado</a>
                                  </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mb-0 px-0" href="/numerosIcomp/docentes/{{professor.id}}/premios" role="tab" aria-controls="code" aria-selected="false">
                                <i class="material-icons text-lg position-relative">military_tech</i>
                                <span class="ms-1">Prêmios</span>
                                </a>
                            </li>
                            </ul>
                        </div>
                    </div>

            
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="public" role="tabpanel" aria-labelledby="public-tab">
                    <div class="card mb-3">
                        <div class="card-body p-3" >
                            <div class="w-100 text-center">
                                <h4 class="mb-4">
                                    {{professor.nomeCompleto}}
                                </h4>
                            </div>
                          <div class="chart" style="height: 220px">
                            <canvas id="line-chart" class="chart-canvas" ></canvas>
                          </div>
                          <div class="chart-2" style="height: 220px">
                            <canvas id="line-chart-2" class="chart-canvas" style="height: 100px"></canvas>
                          </div>
                          <div class="nav-wrapper position-relative end-0 pt-3">
                          <ul class="nav nav-tabs p-1" role="tablist">
                            <li class="nav-item">
                              <a class="nav-link px-3" id="conference-tab" data-bs-toggle="tab" href="#conference" role="tab" aria-controls="conference" aria-selected="true">Artigos Publicados em Conferências ({{paperConfLen}})</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link " id="paper-book-tab" data-bs-toggle="tab" href="#paper-book" role="tab" aria-controls="PaperBook" aria-selected="false">Artigos Publicados em Periódicos ({{paperPerLen}})</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link px-3" id="book-tab" data-bs-toggle="tab" href="#book" role="tab" aria-controls="book" aria-selected="false">Livros Publicados ({{bookLen}})</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link px-3" id="chapter-tab" data-bs-toggle="tab" href="#chapter" role="tab" aria-controls="chapter" aria-selected="false">Capítulos de Livros Publicados ({{chapterLen}})</a>
                            </li>
                          </ul>
                        </div>

                          <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show" id="conference" role="tabpanel" aria-labelledby="conference-tab">
                                <ol class="mt-3 text-dark" style="font-size: 14px;">
                                    {{#if publicacoes.artigosConferencias}}
                                    {{#each publicacoes.artigosConferencias}}
                                    <li><strong>{{titulo}}. </strong>{{autores}}; <i>{{local}}, {{ano}}. </i>{{natureza}}. <b></b></li><br>
                                    {{/each}}
                                    {{else}}
                                    Não há artigos publicados em conferências cadastrados para {{professor.nomeCompleto}}.
                                    {{/if}}
                                </ol>

                            </div>
                            <div class="tab-pane fade" style="font-size: 14px;" id="paper-book" role="tabpanel" aria-labelledby="paper-book-tab">
                                <ol class="mt-3 text-dark">
                                    {{#if publicacoes.artigosPeriodicos}}
                                    {{#each publicacoes.artigosPeriodicos}}
                                    <li><strong>{{titulo}}. </strong>{{autores}}; <i>{{local}}, {{ano}}. </i>{{natureza}}. <b></b></li><br>
                                    {{/each}}
                                    {{else}}
                                    Não há artigos publicados em periódicos cadastrados para {{professor.nomeCompleto}}.
                                    {{/if}}
                                    
                            </div>
                            <div class="tab-pane fade" style="font-size: 14px;" id="book" role="tabpanel" aria-labelledby="book-tab">
                                <ol class="mt-3 text-dark">
                                    {{#if publicacoes.livros}}
                                    {{#each publicacoes.livros}}
                                    <li><strong>{{titulo}}. </strong>{{autores}}; <i>{{local}}, {{ano}}. </i>{{natureza}}. <b></b></li><br>
                                    {{/each}}
                                    {{else}}
                                    Não há livros publicados cadastrados para {{professor.nomeCompleto}}.
                                    {{/if}}
                                </ol>
                            </div>
                            <div class="tab-pane fade" style="font-size: 14px;" id="chapter" role="tabpanel" aria-labelledby="chapter-tab">
                                <ol class="mt-3 text-dark">
                                    {{#if publicacoes.capitulos}}
                                    {{#each publicacoes.capitulos}}
                                    <li><strong>{{titulo}}. </strong>{{autores}}; <i>{{local}}, {{ano}}. </i>{{natureza}}. <b></b></li><br>
                                    {{/each}}
                                    {{else}}
                                    Não há capitulos de livros publicados cadastrados para {{professor.nomeCompleto}}.
                                    {{/if}}
                                </ol>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>        
            
                </div>
            </div>
    </section>
        
<script>
    // Line chart
    var ctx1 = document.getElementById("line-chart").getContext("2d");
    var ctx2 = document.getElementById("line-chart-2").getContext("2d");
    var labels = [{{anos}}]
    labels[0] = "Até "+labels[1]

    new Chart(ctx1, {
        type: "line",
        data: {
            labels: labels,
            datasets: [{
                label: "Artigos",
                tension: 0,
                borderWidth: 0,
                pointRadius: 5,
                pointBackgroundColor: "#18bc9c",
                borderColor: "#18bc9c",
                borderWidth: 3,
                backgroundColor: 'transparent',
                data: [{{graficoArtigosConferencias}}],
                maxBarThickness: 6,
            }
            ],
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
            legend: {
                display: false,
            },
            title: {
                fullsize: true,
                color: '#344767',
                display: true,
                text: 'Artigos Publicados em Conferências',
                font: {
                    size: 24
                },
            }
            },
            interaction: {
            intersect: false,
            mode: 'index',
            },
            scales: {
            y: {
                grid: {
                drawBorder: false,
                display: true,
                drawOnChartArea: true,
                drawTicks: false,
                borderDash: [5, 5]
                },
                ticks: {
                display: true,
                padding: 10,
                color: '#b2b9bf',
                font: {
                    size: 11,
                    family: "Open Sans",
                    style: 'normal',
                    lineHeight: 2
                },
                }
            },
            x: {
                grid: {
                drawBorder: false,
                display: true,
                drawOnChartArea: true,
                drawTicks: true,
                borderDash: [5, 5]
                },
                ticks: {
                display: true,
                color: '#b2b9bf',
                padding: 10,
                font: {
                    size: 11,
                    family: "Open Sans",
                    style: 'normal',
                    lineHeight: 2
                },
                }
            },
            },
        },
    });
    new Chart(ctx2, {
        type: "line",
        data: {
            labels: labels,
            datasets: [{
                label: "Artigos",
                tension: 0,
                borderWidth: 0,
                pointRadius: 5,
                pointBackgroundColor: "#18bc9c",
                borderColor: "#18bc9c",
                borderWidth: 3,
                backgroundColor: 'transparent',
                data: [{{graficoArtigosPeriodicos}}],
                maxBarThickness: 6
            },
            ],
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
            legend: {
                display: false,
            },
            title: {
                fullsize: true,
                color: '#344767',
                display: true,
                text: 'Artigos Publicados em Periódicos',
                font: {
                    size: 24
                },
            }
            },
            interaction: {
            intersect: false,
            mode: 'index',
            },
            scales: {
            y: {
                grid: {
                drawBorder: false,
                display: true,
                drawOnChartArea: true,
                drawTicks: false,
                borderDash: [5, 5]
                },
                ticks: {
                display: true,
                padding: 10,
                color: '#b2b9bf',
                font: {
                    size: 11,
                    family: "Open Sans",
                    style: 'normal',
                    lineHeight: 2
                },
                }
            },
            x: {
                grid: {
                drawBorder: false,
                display: true,
                drawOnChartArea: true,
                drawTicks: true,
                borderDash: [5, 5]
                },
                ticks: {
                display: true,
                color: '#b2b9bf',
                padding: 10,
                font: {
                    size: 11,
                    family: "Open Sans",
                    style: 'normal',
                    lineHeight: 2
                },
                }
            },
            },
        },
    });


</script>
{{> numerosIcomp/footer}}
</div>