{{> header}}

{{> sidebar module='edital' page='edital-listar'}}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-9">
                    <h1>Edital: {{edital}} </h1>
                </div>
                <div class="col-sm-3">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Selecoes</a></li>
                        <li class="breadcrumb-item active">Listar</li>
                    </ol>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-3 col-md-2 col-lg-1">
                    <button type="button" class="btn btn-block btn-secondary">
                        <i class="fa fa-arrow-left color-white"></i>
                        Voltar
                    </button>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-2">
                    <a type="button" class="btn btn-block btn-primary" href="/edital/adicionar">
                        <i class="fas fa-plus color-white"></i>
                        Adicionar Seleção
                    </a>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-2">
                    <a type="button" class="btn btn-block btn-primary" href="/edital/adicionar">
                        <i class="fas fa-plus color-white"></i>
                        Lista de Inscritos
                    </a>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-2">
                    <a type="button" class="btn btn-block btn-primary" href="/edital/adicionar">
                        <i class="fas fa-plus color-white"></i>
                        Planilha Excel para Avaliação (Excel)
                    </a>
                </div>

            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">

                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                
                                </thead>
                                <tbody>
                                   
                                    <tr>
                                        <td>Nº edital</td>
                                        <td>{{edital}}</td>

                                    </tr>
                                    <tr>
                                        <td>Data início</td>
                                        <td>{{dataInicio}}TESTE</td>
                                    </tr>
                                    <tr>
                                        <td>Data fim</td>
                                        <td>{{dataFim}}</td>
                                    </tr>
                                    <tr>
                                        <td>Nº de Inscrições Iniciadas</td>
                                        <td>{{inscricoesIniciadas}}</td>

                                    </tr>
                                    <tr>
                                        <td>Nº de Inscrições Encerradas</td>

                                        <td>{{inscricoesEncerradas}}</td>

                                    </tr>
                                    <tr>
                                        <td>Carta de Recomendação</td>

                                        <td>{{cartaRecomendacao}}</td>

                                    </tr>
                                    <tr>
                                        <td>Carta do Orientador</td>

                                        <td>{{cartaOrientador}}</td>

                                    </tr>
                                    <tr>
                                        <td>Curso</td>

                                        <td>{{curso}}</td>

                                    </tr>
                                    <tr>
                                        <td>Vagas para Mestrado</td>

                                        <td>{{vagasMestrado}}</td>

                                    </tr>

                                    <tr>
                                        <td>Vagas para Doutorado</td>

                                        <td>{{vagasDoutorado}}</td>

                                    </tr>
                                    <td>Vagas para Doutorado</td>

                                    <td>{{vagasPosDoutorado}}</td>
                                    <tr>
                                        <td>{{vagasPosDoutorado}}</td>

                                    </tr>
                                    <tr>
                                        <td>Baixar</td>

                                        <td>
                                            <a href="/edital/{{edital}}/selecao/baixar" class="btn btn-primary btn-sm">
                                                <i class="fas fa-download"></i>
                                            </a>
                                        </td>
                                    </tr>




                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

<script>



</script>

{{> footer}}