{{> header}}

{{> sidebar module='perfil' page='perfil-dados' }}

<div class="content-wrapper">


  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col">
          <ol class="breadcrumb float-md-right">
            <li class="breadcrumb-item">
              <a href="/inicio">Início</a>
            </li>
            <li class="breadcrumb-item active">
              Perfil
            </li>
          </ol>
          <h1>{{usuario.nomeCompleto}}</h1>
        </div>
      </div>
      <div class="row mb-4">
          <div class="text-nowrap col-sm-3 col-md-2 col-lg-1 min-width-button mt-4">
              <a class="btn btn-warning color-white" href="/inicio">
                  <i class="fa fa-arrow-left"></i>
                  Voltar
              </a>
              <a type="button" class="btn btn-success" href="/perfil/editar/{{usuario.id}}">
                  <i class="fa fa-solid fa-pen color-white"></i>
                  Editar Perfil
              </a>
          </div>
      </div>
    </div>
  </section>



  <section class="content">
    <div class="container-fluid">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">
            <i class="fas fa-info-circle"></i>
            Dados do Usuário
          </h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <table id="example2" class="table table-bordered table-hover">
            <tbody>
              <tr>
                <th class="col-3">Nome Completo</th>
                <td>{{usuario.nomeCompleto}}</td>
              </tr>
              <tr>
                <th class="col-3">CPF</th>
                <td>{{usuario.cpf}}</td>
              </tr>
              <tr>
                <th class="col-3">Email</th>
                <td>{{usuario.email}}</td>
              </tr>
              <tr>
                <th class="col-3">Perfil(s)</th>
                <td>
                  {{#if usuario.administrador}}<span class="badge bg-primary">Administrador</span>{{/if}}
                  {{#if usuario.coordenador}}<span class="badge bg-primary">Coordenador(a)</span>{{/if}}
                  {{#if usuario.professor}}<span class="badge bg-primary">Professor(a)</span>{{/if}}
                  {{#if usuario.secretaria}}<span class="badge bg-primary">Secretaria</span>{{/if}}
                  {{#if usuario.diretor}}<span class="badge bg-primary">Diretor(a)</span>{{/if}}
                </td>
              </tr>
              <tr>
                <th class="col-3">Data de Criação</th>
                <td>{{usuario.DateFormatada}}</td>
              </tr>
              <tr>
                <th class="col-3">Status</th>
                <td><span class="{{#if usuario.status}}badge bg-success">Ativo{{else}}badge bg-danger">Bloqueado{{/if}}</span></td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>

      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">
            <i class="fas fa-info-circle"></i>
            Dados Pessoais
          </h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <table id="example2" class="table table-bordered table-hover">
            <tbody>
              <tr>
                <th class="col-3">Endereço</th>
                <td>{{usuario.endereco}}</td>
              </tr>
              <tr>
                <th class="col-3">Telefone Residencial</th>
                <td>{{usuario.telResidencial}}</td>
              </tr>
              <tr>
                <th class="col-3">Telefone Celular</th>
                <td>{{usuario.telCelular}}</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>

      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">
            <i class="fas fa-info-circle"></i>
            Dados Profissionais
          </h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <table id="example2" class="table table-bordered table-hover">
            <tbody>
              <tr>
                <th class="col-3">SIAPE</th>
                <td>{{usuario.siape}}</td>
              </tr>
              <tr>
                <th class="col-3">Data de Ingresso</th>
                <td>{{usuario.dataIngresso}}</td>
              </tr>
              <tr>
                <th class="col-3">Unidade</th>
                <td>{{usuario.unidade}}</td>
              </tr>
              <tr>
                <th class="col-3">Turno</th>
                <td>{{usuario.turno}}</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>


  
  </section>
</div>

{{#if message}}
  <script>
      $(document).Toasts('create', {
          icon: 'success',
          class: "bg-{{type}}",
          autohide: true,
          delay: 10000,
          title: '{{messageTitle}}',
          body: '{{message}}'
          })
  </script>
{{/if}}
{{> footer}}