<style>
	.login-page {
		height: 100vh;
		display: flex;
		background-color: #d2d6de;
		overflow-y: hidden;
	}

	.login-page .box {
		width: 35%;
		min-width: 360px;
		margin: auto;
		margin-top: 7%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.login-page .box .card {
		width: 100%;

		padding: 20px;
		background-color: #fff;
		border-radius: 2px;
		box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
	}

	.login-page .box .card .card-body {
		padding: 20px;
		color: #666;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.login-page .box .card .card-body .title {
		font-size: 24px;
		margin-bottom: 16px;
		text-align: center;

		font-weight: bold;
	}

	.login-page .box .card .card-body .sub-title {
		font-size: 14px;
		margin-bottom: 16px;
		text-align: center;
	}

	.login-page .box .card .card-body .form-group {
		width: 100% !important;
		min-width: 280px;
	}

	.login-page .box .card .card-body .form-control:focus {
		border: 2px solid #3c8dbc;
	}

	.login-page .box .card .card-body .btn {
		width: 100%;
		margin-top: 20px;
		background-color: #3c8dbc;
		border-color: #3c8dbc;
		color: #fff;
	}

	.login-page .box .card .card-body .btn-default {
		background-color: #fff;
		border-color: #ccc;
		color: #666;
		width: 100%;
	}
</style>
<div class="login-page">
	<div class="box">
		<div class="card">
			<div class="card-body">
				<h1 class="title">
					Efetuar Login
				</h1>
				<div id="error-msg" class="alert alert-danger" hidden="true">
				</div>

				<p class="sub-title">Todos os campos são obrigatórios</p>
				<form id="loginform">
					<input id="csrfToken" type="hidden" name="_csrf" value="{{csrfToken}}">

					<div class="form-group">
						<input type="email" class="form-control" name="email" id="email" aria-describedby="email"
							placeholder="Email">
						<div class="help-block"></div>

					</div>

					<div class="form-group">
						<input type="password" class="form-control" name="password" id="password" aria-describedby="senha"
							placeholder="Senha">
						<div class="help-block"></div>

					</div>

					<div class="form-group">
						<select class="form-control" name="edital" id="edital">
							<option value="">Selecione um edital</option>
							{{#each editais}}
							<option value="{{editalId}}">{{editalId}}</option>
							{{/each}}
						</select>
						<div class="help-block"></div>

					</div>
					<button type="submit" name="logar" id="login-btn" class="btn btn-primary btn-block btn-flat">
						Continuar Inscrição
						<span class="spinner-border spinner-border-sm " hidden="true" role="status" aria-hidden="true"></span>
					</button>
					<button name="voltar" type="button" id="voltar" onclick="back()" class="btn btn-block btn-flat btn-default"
						role="button">
						Voltar
					</button>
				</form>
			</div>
		</div>
	</div>
</div>

<script>
	function back() {
		window.location.href = "{{url}}/selecaoppgi";
	}

  	$("#loginform input").on("input", function() {
        const divError = $("#error-msg");
        if (!divError.prop("hidden")) {
            divError.prop("hidden", true);
        }
    });

	$("#loginform").validate({
		ignore: ':hidden',
		rules: {
			email: {
				required: true,
				email: true
			},
			password: {
				required: true,
				minlength: 6
			},
			edital: {
				required: true
			}
		},
		messages: {
			email: {
				required: "Campo obrigatório",
				email: "Digite um email válido"
			},
			password: {
				required: "Campo obrigatório",
				minlength: "A senha deve ter no mínimo 6 caracteres"
			},
			edital: {
				required: "Campo obrigatório"
			},
		},
		errorElement: 'span',
		errorPlacement: function (error, element) {
			error.addClass('invalid-feedback');
			element.closest('div').append(error);
		},

		highlight: function (element, errorClass, validClass) {
			$(element).addClass('is-invalid');
		},
		unhighlight: function (element, errorClass, validClass) {
			$(element).removeClass('is-invalid');
		},
		submitHandler: function (form, e) {
			e.preventDefault();
			const buttonLogin = $("#login-btn");
			buttonLogin.attr("disabled", true);
			buttonLogin.find("span").prop("hidden", false);

			var email = $("#email").val();
			var senha = $("#password").val();
			var edital = $("#edital").val();
			const csrfToken = $("#csrfToken").val();

			$.ajax({
				url: "{{url}}/selecaoppgi/entrar",
				type: "POST",
				data: {
					email: email,
					senha: senha,
					edital: edital,
					_csrf: csrfToken,
				},
				success: function (data) {
					window.location.href = "{{url}}/selecaoppgi/formulario";
				},
				error: function (res, status, error) {
					buttonLogin.attr("disabled", false);
					buttonLogin.find("span").prop("hidden", true);
					if(res.status === 400){
						const divError = $("#error-msg");
						divError.prop("hidden", false);
						divError.text("Email, senha e/ou edital imcompletos");
					} else if(res.status === 406){
						const divError = $("#error-msg");
						divError.prop("hidden", false);
						divError.text("Email, senha e/ou edital incorretos");
					} else if (res.status === 401){
						const divError = $("#error-msg");
						divError.prop("hidden", false);
						divError.text("Candidato já finalizou a inscrição neste edital");
					}
				}

			})
		}
	})
</script>