
{{#section "head"}}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
{{/section}}

<div class="login-box"> 
  <div class="login-logo container-cards">
    <img src="/public/img/logo-icomp.png" alt="">
    <img src="/public/img/logo-ufam.png" alt="">
  </div>
  <div class="card">
    <div class="card-body login-card-body">
      <div class="login-logo">
       <b>Login</b>
      </div>
      <!-- /.login-logo -->
      <p class="login-box-msg">Insira suas credenciais para realizar login</p>
      {{#if message}}
      <div class="alert alert-{{type}}">
        {{{message}}}
      </div>
      {{/if}} 

      <form action="/login" method="post" id="loginForm">
        <div class="form-group">
          <label for="cpfInput">CPF</label>
          <input id="cpfInput" name="cpf" type="text" autocomplete="off" class="form-control cpf" placeholder="___.___.___-__">
        </div>

        <!--SENHA-->
        <div class="form-group">
          <label for="senhaInput">Senha</label>

          <!-- Usando .input-group para manter estilo Bootstrap consistente -->
          <div  style="grid-template-columns: 1fr auto; display: grid; margin-bottom: 16px;">
            <input
              type="password"
              class="form-control input-eye"
              name="senha"
              id="senhaInput"
              aria-describedby="senha-help"
              placeholder="{{__ "ppgiSignIn.passwordPlaceholder"}} *"
              autocomplete="current-password"
            />
            <button
              type="button"
              class="btn btn-light button-eye"
              id="togglePassword"
              aria-label="{{__ 'ppgi.hidePassword'}}"
              title="{{__ 'ppgi.hidePassword'}}"

            >
              <i class="bi bi-eye-slash" id="togglePasswordIcon"></i>
            </button>
          </div>

          <div class="row mt-4">
            <div class="col-md-8">
            </div>
            <div class="col-md-4">
              <button type="submit" class="btn btn-primary btn-block">Entrar</button>
            </div>
          </div>
        </div>
      </form>
      <a href="/recuperarSenha">Esqueci minha senha</a><br>
    </div>
  </div>
</div>
  <!-- /.login-box-body -->
<!-- /.login-box -->

<script>
  $(document).ready(function () {
    $('.cpf').inputmask('999.999.999-99', { placeholder: '___.___.___-__' });

    $("#togglePassword").click(function() {
		  const typeActual = $("#senhaInput").attr("type");
      if (typeActual === "password") {
        $("#senhaInput").attr("type", "text");
        $(this).children().toggleClass("bi-eye-slash bi-eye");
      } else {
         $("#senhaInput").attr("type", "password");
         $(this).children().toggleClass("bi-eye bi-eye-slash");
      }
    });

    $.validator.addMethod("cpfLength", function (el) {
      const cpfValue = $('#cpfInput')[0].value.split('.').join('').split('-').join('').split('_').join('')
      return cpfValue.length === 11
    })

    $.validator.setDefaults({
      onfocusout: function (el) {
        this.element(el);
      },
    });

    $('#loginForm').validate({
      rules: {
        cpf: {
          required: true,
          cpfLength: true,
        },
        senha: {
          required: true,
          minlength: 6,
        },
      },
      messages: {
        cpf: {
          required: '"CPF (Digite somente números)" não pode ficar em branco.',
          cpfLength: '"CPF" deve ter 11 dígitos.',
        },
        senha: {
          required: '"Senha" não pode ficar em branco',
          minlength: '"Senha" deve conter pelo menos 6 caracteres'
        },
      },
      errorElement: 'span',
      errorPlacement: function (error, element) {
        error.addClass('invalid-feedback');
        element.closest('div').append(error);
      },
      highlight: function (element, errorClass, validClass) {
        $(element).addClass('is-invalid');
      },
      unhighlight: function (element, errorClass, validClass) {
        $(element).removeClass('is-invalid');
      }
    });

  });

</script>