    {{> numerosIcomp/navbar page="docentes"}}
<div class="flex-wrapper bg-primary">

    <section class="mb-3">
        <div class="container">
                <div class="card card-body mx-3 mx-md-4 mt-n6">
                    <div class="row gx-4 mb-4">
                        <div class="nav-wrapper position-relative end-0">
                            <ul class="nav nav-pills nav-fill p-1" role="tablist">
                            <li class="nav-item">
                                <a id="profile-tab" class="nav-link mb-0 px-0 active" data-bs-toggle="tab" href="#profile" aria-controls="profile" role="tab" aria-selected="true">
                                <i class="material-icons position-relative">person</i>
                                
                                <span class="ms-1">Perfil</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mb-0 px-0 " data-bs-toggle="tab" href="#public" aria-controls="public" role="tab" aria-selected="false">
                                <i class="material-icons position-relative">description</i>
                                
                                <span class="ms-1">Publicações</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mb-0 px-0 " data-bs-toggle="tab" href="#research" role="tab" aria-controls="code" aria-selected="false">
                                <i class="material-icons text-lg position-relative">search</i>
                                <span class="ms-1">Projetos de Pesquisa</span>
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle mb-0 px-0 py-1 " data-bs-toggle="dropdown" href="#guidences" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons text-lg position-relative">account_circle</i>
                                <span class="ms-1">Orientações</span>
                                </a>
                                <div class="dropdown-menu w-100 text-center">
                                    <a class="dropdown-item" href="#">Graduação</a>
                                    <a class="dropdown-item" href="#">Mestrado</a>
                                    <a class="dropdown-item" href="#">Doutorado</a>
                                  </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mb-0 px-0  " data-bs-toggle="tab" href="#prizes" role="tab" aria-controls="code" aria-selected="false">
                                <i class="material-icons text-lg position-relative">military_tech</i>
                                <span class="ms-1">Prêmios</span>
                                </a>
                            </li>
                            </ul>
                        </div>
                    </div>

            
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="row gx-4 mb-2">
    
                        <div class="col-auto">
                        <div class="avatar avatar-xxl position-relative ms-3">
                            <img src="{{#if professor.Avatar}}/uploads/{{professor.Avatar.nome}}{{else}}/public/img/user-profile-generic.png{{/if}}" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
                        </div>
                        </div>
                        <div class="col-auto my-auto">
                        <div class="h-100">
                            <h5 class="mb-1">
                            {{professor.nomeCompleto}}
                            </h5>
                        </div>
                        </div>
                        <div class="col-lg-6 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mt-3">
    
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="row">
                            <div class="card card-plain h-100">
                            <div class="card-body p-3">
                                <p class="text-sm text-justify">
                                    Possui graduação em Engenharia Civil pela Universidade Federal do Amazonas(1986), graduação em Tecnologia Eletrônica pelo Instituto de Tecnologia da Amazônia(1984), mestrado em Automação Industrial pela Universidade Federal do Espírito Santo(1993), doutorado em Computer Science - Artificial Intelligence pela University of Edinburgh(1998) e pós-doutorado pela University of Edinburgh(2010). Atualmente é professor titular da Universidade Federal do Amazonas e Membro de corpo editorial da Revista Brasileira de Informática na Educação (1414-5685). Tem experiência na área de Ciência da Computação, com ênfase em Metodologia e Técnicas da Computação. Atuando principalmente nos seguintes temas:program synthesis, logic programming, intelligent interfaces, knowledge-based systems.
                                </p>
                                <hr class="horizontal gray-light my-4">
                                <ul class="list-group">
                                <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Formação:</strong> &nbsp; Doutorado em Computer Science - Artificial Intelligence</li>
                                <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Local:</strong> &nbsp;  University of Edinburgh</li>
                                <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Ano:</strong> &nbsp; 1998</li>
                                <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Lattes:</strong> &nbsp; <a href="http://lattes.cnpq.br/5919189481858271"> http://lattes.cnpq.br/5919189481858271</a></li>
                                <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">E-mail:</strong> &nbsp; {{professor.email}}</li>
                                </ul>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade show" id="public" role="tabpanel" aria-labelledby="public-tab">
                    <div class="card mb-3">
                        <div class="card-body p-3" >
                          <div class="chart" style="height: 220px">
                            <canvas id="line-chart" class="chart-canvas" ></canvas>
                          </div>
                          <div class="chart-2" style="height: 220px">
                            <canvas id="line-chart-2" class="chart-canvas" style="height: 100px"></canvas>
                          </div>
                          <div class="nav-wrapper position-relative end-0 pt-3">
                          <ul class="nav nav-tabs p-1" role="tablist">
                            <li class="nav-item">
                              <a class="nav-link px-3" id="conference-tab" data-bs-toggle="tab" href="#conference" role="tab" aria-controls="conference" aria-selected="true">Artigos Publicados em Conferências ({{paperConfLen}})</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link " id="paper-book-tab" data-bs-toggle="tab" href="#paper-book" role="tab" aria-controls="PaperBook" aria-selected="false">Artigos Publicados em Periódicos ({{paperPerLen}})</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link px-3" id="book-tab" data-bs-toggle="tab" href="#book" role="tab" aria-controls="book" aria-selected="false">Livros Publicados ({{bookLen}})</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link px-3" id="chapter-tab" data-bs-toggle="tab" href="#chapter" role="tab" aria-controls="chapter" aria-selected="false">Capítulos de Livros Publicados ({{chapterLen}})</a>
                            </li>
                          </ul>
                        </div>
                          <div class="tab-content" id="myTabContent2">
                            <div class="tab-pane fade show" id="conference" role="tabpanel" aria-labelledby="conference-tab">
                                <ol class="mt-3 text-dark" style="font-size: 14px;">
                                    {{#each professor.artigosConferencias}}
                                    <li><strong>{{titulo}}. </strong>{{autores}}; <i>{{local}}, {{ano}}. </i>{{natureza}}. <b></b></li><br>
                                    {{/each}}
                                </ol>

                            </div>
                            <div class="tab-pane fade" style="font-size: 14px;" id="paper-book" role="tabpanel" aria-labelledby="paper-book-tab">
                                <ol class="mt-3 text-dark">
                                    {{#each professor.artigosPeriodicos}}
                                    <li><strong>{{titulo}}. </strong>{{autores}}; <i>{{local}}, {{ano}}. </i>{{natureza}}. <b></b></li><br>
                                    {{/each}}
                            </div>
                            <div class="tab-pane fade" style="font-size: 14px;" id="book" role="tabpanel" aria-labelledby="book-tab">
                                <ol class="mt-3 text-dark">
                                    {{#each professor.livros}}
                                    <li><strong>{{titulo}}. </strong>{{autores}}; <i>{{local}}, {{ano}}. </i>{{natureza}}. <b></b></li><br>
                                    {{/each}}
                                </ol>
                            </div>
                            <div class="tab-pane fade" style="font-size: 14px;" id="chapter" role="tabpanel" aria-labelledby="chapter-tab">
                                <ol class="mt-3 text-dark">
                                    {{#each professor.capitulos}}
                                    <li><strong>{{titulo}}. </strong>{{autores}}; <i>{{local}}, {{ano}}. </i>{{natureza}}. <b></b></li><br>
                                    {{/each}}
                                </ol>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="tab-pane fade show" id="prizes" role="tabpanel" aria-labelledby="prizes-tab">
                    <div class="card mb-3">
                        <div class="card-body p-3" >
                          <div class="tab-content" id="myTabContent2">
                            <div class="" id="prizes-content" >
                                <ol class="mt-3 text-dark" style="font-size: 14px;">
                                    {{#if professor.Premios}}
                                    {{#each professor.Premios}}
                                    <li><strong>{{titulo}}. </strong>{{entidade}}, {{ano}}.</li><br>
                                    {{/each}}
                                    {{else}}
                                    Não há prêmios cadastrados para {{professor.nomeCompleto}}.
                                    {{/if}}
                                </ol>

                            </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>        
            
                </div>
            </div>
    </section>
        
<script>
    // Line chart
    var ctx1 = document.getElementById("line-chart").getContext("2d");
    var ctx2 = document.getElementById("line-chart-2").getContext("2d");
    var labels = [{{anos}}]
    labels[0] = "Até "+labels[1]

    new Chart(ctx1, {
    type: "line",
    data: {
        labels: labels,
        datasets: [{
            label: "Artigos",
            tension: 0,
            borderWidth: 0,
            pointRadius: 5,
            pointBackgroundColor: "#18bc9c",
            borderColor: "#18bc9c",
            borderWidth: 3,
            backgroundColor: 'transparent',
            data: [{{graficoArtigosConferencias}}],
            maxBarThickness: 6
        }
        ],
    },
    options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
        legend: {
            display: false,
        },
        title: {
            fullsize: true,
            color: '#000',
            display: true,
            text: 'Artigos Publicados em Conferências',
            font: {
                weight: 'bold'
            },
        }
        },
        interaction: {
        intersect: false,
        mode: 'index',
        },
        scales: {
        y: {
            grid: {
            drawBorder: false,
            display: true,
            drawOnChartArea: true,
            drawTicks: false,
            borderDash: [5, 5]
            },
            ticks: {
            display: true,
            padding: 10,
            color: '#b2b9bf',
            font: {
                size: 11,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
            },
            }
        },
        x: {
            grid: {
            drawBorder: false,
            display: true,
            drawOnChartArea: true,
            drawTicks: true,
            borderDash: [5, 5]
            },
            ticks: {
            display: true,
            color: '#b2b9bf',
            padding: 10,
            font: {
                size: 11,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
            },
            }
        },
        },
    },
    });
    new Chart(ctx2, {
    type: "line",
    data: {
        labels: labels,
        datasets: [{
            label: "Artigos",
            tension: 0,
            borderWidth: 0,
            pointRadius: 5,
            pointBackgroundColor: "#18bc9c",
            borderColor: "#18bc9c",
            borderWidth: 3,
            backgroundColor: 'transparent',
            data: [{{graficoArtigosPeriodicos}}],
            maxBarThickness: 6
        },
        ],
    },
    options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
        legend: {
            display: false,
        },
        title: {
            fullsize: true,
            color: '#000',
            display: true,
            text: 'Artigos Publicados em Periódicos',
            font: {
                weight: 'bold'
            },
        }
        },
        interaction: {
        intersect: false,
        mode: 'index',
        },
        scales: {
        y: {
            grid: {
            drawBorder: false,
            display: true,
            drawOnChartArea: true,
            drawTicks: false,
            borderDash: [5, 5]
            },
            ticks: {
            display: true,
            padding: 10,
            color: '#b2b9bf',
            font: {
                size: 11,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
            },
            }
        },
        x: {
            grid: {
            drawBorder: false,
            display: true,
            drawOnChartArea: true,
            drawTicks: true,
            borderDash: [5, 5]
            },
            ticks: {
            display: true,
            color: '#b2b9bf',
            padding: 10,
            font: {
                size: 11,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
            },
            }
        },
        },
    },
    });

</script>
{{> numerosIcomp/footer}}
</div>