    {{> numerosIcomp/navbar page="publicacoes"}}
<div class="flex-wrapper bg-primary">
     <section class="success"  id="docentes">
        <div class="container pb-4" >
          <div class="row ">
              <div class="col-md-12 text-center">
                  <h2 class="text-white">{{publicacoes.length}} publicações dos professores do IComp</h2>
                  <h5 class="text-white">Para conferir os detalhes das publicações, clique no seu título.</h5>
                  <hr style="border-top: 3px solid; opacity: 70%; border-color: #fff;">
              </div>
      <table id="example" class="table table-hover table-striped w-100 bg-white wrap"><thead>
      <tr id="filters">
        <th id="name">Título</th>
        <th id="period">Ano</th>
        <th id="about-hidden">Local:</th>
        <th id="financers-hidden">Autor(es):</th>
        <th id="team-hidden">ISSN/ISBN:</th>
      </tr>
      <tr id="header">
        <th>Título</th>
        <th>Ano</th>
        <th>Local:</th>
        <th>Autor(es):</th>
        <th>ISSN/ISBN:</th>
      </tr>
      </thead>
      <tbody>
        {{#each publicacoes}}
        <tr data-key={{id}}>
            <td class="ps-4" style="word-break: break-word; white-space: normal;">{{titulo}}</td>
            <td class="ps-4"><b>{{ano}}</b></td>
            <td class="ps-4">{{local}}</td>
            <td class="ps-4">{{autores}}</td>
            <td class="ps-4">{{#if ('!=' ISSN "0")}}{{ISSN}}{{else}}Não informado{{/if}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
        </div>
        </div>
      </section>


      <script>

    var table = ''
    $(document).ready(function() {
        // Setup - add a text input to each footer cell
        $('#example thead #filters th').each( function (i) {
            var title = $('#example thead #header th').eq( $(this).index() ).text();
            $(this).html( '<div id="input'+i+'" class="input-group input-group-outline"><input type="text" class="form-control" data-index="'+i+'" placeholder="'+title+'" /></div>')
        } );
    
        // DataTable
        table = $('#example').DataTable( {
            dom: 'tp',
            bLengthChange: false,
            paginationType: "numbers",
            pageLength: 20,
            responsive: true, 
            columns: [
            { responsivePriority: 1 },
            { responsivePriority: 2 },
            { responsivePriority: 3 },
            { responsivePriority: 3 },
            { responsivePriority: 3 },
        ],
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/pt-BR.json',
            },
            autoWidth: false,
            columnDefs: [
            { width: "100px", targets: 1 },
            { className: 'none', targets: 2 },
            { className: 'none', targets: 3 },
            { className: 'none', targets: 4 },
            ],
            order: [[1, 'desc']],
        } );



        table.columns().every(function(){
            const column = this;
            const title = column.header().textContent;
            const idx = column.index()

            const input = $(`#filters th #input${idx} input`)
            input.on('keyup', function () {

                if (table.column(idx).search() !== this.value) {
                    table.column(idx).search(this.value).draw()
                }
             })

        })

    } );


    window.addEventListener("resize", verifyColumns)

    function verifyColumns() {
        setTimeout(()=>{
            const period = $("#period")
            const headerHidden = [$('#about-hidden'), $('#financers-hidden'), $('#team-hidden')]
            headerHidden.forEach(h => {
                if(!h.hasClass('d-none')){
                    h.addClass('d-none')
                }
            })
            const header =  $('#example #header .dtr-hidden').length
            if(header == 3 && period.hasClass("d-none")){
                period.removeClass("d-none")
            }else if(header==4 && !period.hasClass("d-none")){
                period.addClass("d-none")
            }
        }, 200)
        
    }
    verifyColumns()
        

</script>
    {{> numerosIcomp/footer}}
</div>