{{> header}}

{{> sidebar module="edital"}}
{{ setTitle title=(concat "Candidato " candidato.id "- Edital " candidato.idEdital) }}

<div class="content-wrapper">
    <section class="content-header">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <div class="container-fluid">
            <div class="d-flex justify-content-between flex-wrap gap-1 ">
                <div>
                    <h1>Candidato {{candidato.id}} - Edital {{candidato.idEdital}} </h1>
                </div>
                <div>
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Página Inicial </a></li>
                        <li class="breadcrumb-item"><a href="/edital/listEdital">Editais de Seleção do PPGI </a></li>
                        <li class="breadcrumb-item"><a href="/edital/listEdital/{{candidato.idEdital}}">Detalhes de edital </a></li>
                        <li class="breadcrumb-item"><a href="/edital/listEditalCandidates/{{candidato.idEdital}}">Lista de candidados</a></li>
                        <li class="breadcrumb-item active">Detalhes do Candidado</li>
                    </ol>
                </div>
            </div>
            <div class="row mb-4">
                <div class="text-nowrap col-sm-3 col-md-2 col-lg-2 mt-4">
                    <a class="btn btn-warning color-white" id="voltarBtn">
                        <i class="fa fa-arrow-left"></i>
                        Voltar
                    </a> 
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title
                            "><b>Informações do Candidato</b></h3>
                        </div>
                        <div class="card-body" style="overflow-x:auto;">
                            <table id="example2" class="table table-bordered table-hover">
                                <tbody>
                                <tr>
                                    <th class="col-3">Nome Completo</th>
                                    <td>{{candidato.nome}}</td>
                                </tr>
                                {{!-- <tr>
                                    <th class="col-3">Data da Inicialização da Inscrição</th>
                                    <td>{{candidato.begin}}</td>
                                </tr>
                                <tr>
                                    <th class="col-3">Data da Finalização da Inscrição</th>
                                    <td>{{candidato.finish}}</td>
                                </tr> --}}
                                <tr>
                                    <th class="col-3">Endereço</th>
                                    <td>{{candidato.endereco}}</td>
                                </tr>
                                <tr>
                                    <th class="col-3">Bairro</th>
                                    <td>{{candidato.bairro}}</td>
                                </tr>
                                <tr>
                                    <th class="col-3">Cidade</th>
                                    <td>{{candidato.cidade}}</td>
                                </tr>
                                <tr>
                                    <th class="col-3">Estado</th>
                                    <td>{{candidato.uf}}</td>
                                </tr>
                                <tr>
                                    <th class="col-3">CEP</th>
                                    <td>{{candidato.cep}}</td>
                                </tr>
                                <tr>
                                    <th class="col-3">E-mail</th>
                                    <td>{{candidato.email}}</td>
                                </tr>
                                <tr>
                                    <th class="col-3">Data de nascimento</th>
                                    <td>{{#if (notEmpty candidato.dataNascimento)}} {{formataData candidato.dataNascimento}}{{/if}}</td>
                                </tr>
                                <tr>
                                    <th class="col-3">Nacionalidade</th>
                                    <td>{{candidato.nacionalidade}}</td>
                                </tr>
                                {{!-- <tr>
                                    <th class="col-3">País</th>
                                    <td>{{candidato.Pais}}</td>
                                </tr> --}}
                                {{!-- <tr>
                                    <th class="col-3">CPF</th>
                                    <td>{{candidato.CPF}}</td>
                                </tr> --}}
                                <tr>
                                    <th class="col-3">Sexo</th>
                                    <td><span class="{{#if (notEmpty candidato.sexo)}}">{{formataBioSex candidato.sexo}}
                                        {{else}}badge bg-danger">Não Informado{{/if}}</span></td>
                                </tr>
                                <tr>
                                    <th class="col-3">Telefone Principal</th>
                                    <td>{{candidato.telefone}}</td>
                                </tr>
                                <tr>
                                    <th class="col-3">Telefone Alternativo</th>
                                    <td>{{candidato.telefoneSecundario}}</td>
                                </tr>
                                {{!-- <tr>
                                    <th class="col-3">Curso desejado</th>
                                    <td>{{candidato.inscricaoposcomp}}</td>
                                </tr> --}}
                                <tr>
                                    <th class="col-3">Regime de Dedicação</th>
                                    <td>{{candidato.regime}}</td>
                                </tr>
                                <tr>
                                    <th class="col-3">Incrição poscomp</th>
                                    <td>{{candidato.cursoDesejado}}</td>
                                </tr>
                                <tr>
                                    <th class="col-3">Ano poscomp</th>
                                    <td>{{candidato.anoposcomp}}</td>
                                </tr>
                                <tr>
                                    <th class="col-3">Nota poscomp</th>
                                    <td>{{candidato.notaposcomp}}</td>
                                </tr>
                                <tr>
                                    <th class="col-3">Solicita Bolsa?</th>
                                    {{!-- <td>{{#if (eq candidato.bolsista '1')}} Sim {{else}} Não {{/if}}</td> --}}
                                    <td><span class="{{#if (eq candidato.bolsista '1')}} badge bg-success">Sim{{else}}badge bg-danger">Não{{/if}}</span></td>

                                </tr>
                                <tr>
                                    <th class="col-3">Cotista?</th>
                                    <td><span class="{{#if (eq candidato.cotista '1')}} badge bg-success">{{candidato.cotistaTipo}}{{else}}badge bg-danger">Não{{/if}}</span></td>
                                </tr>
                                <tr>
                                    <th class="col-3">Possui algum tipo de problema de saúde física ou psiquiátrica?</th>
                                    <td><span class="{{#if (eq candidato.condicao '1')}} badge bg-success">{{candidato.condicaoTipo}}{{else}}badge bg-danger">Não{{/if}}</span></td>
                                </tr>
                                <tr>
                                    <th class="col-3">Linha de Pesquisa</th>
                                    <td>{{candidato.idLinhaPesquisa}}</td>
                                </tr>
                                <tr>
                                    <th class="col-3">Título da Proposta</th>
                                    <td><span class="{{#if (notEmpty candidato.tituloProposta)}}">{{candidato.tituloProposta}}
                                        {{else}}badge bg-danger">Não Registrado{{/if}}

                                    </span></td>
                                </tr>
                                <tr>
                                    <th class="col-3">Motivos</th>
                                    <td><span class="{{#if (notEmpty candidato.motivos)}}">{{candidato.motivos}}
                                        {{else}}badge bg-danger">Não Registrado{{/if}}

                                    </span></td>
                                </tr>
                                {{#if (eq edital.cartaOrientador 1)}}
                                <tr>
                                    <th class="col-3">Carta do Orientador (PDF)</th>
                                    <td><span class="{{#if candidatoDocs.CartaDoOrientador}}">
                                            <a  style="margin-right: 3px"
                                                href="/downloadCandidateDocument/{{candidato.id}}?documento=CartaDoOrientador"
                                                class='fa fa-solid fa-download'></a>
                                            {{else}}badge bg-warning">Pendente{{/if}}
                                    </span></td>
                                </tr>
                                {{/if}}
                               
                                <tr>
                                    <th class="col-3">Proposta de Trabalho (PDF)</th>
                                    <td><span class="{{#if candidatoDocs.PropostaDeTrabalho}}">
                                            <a  style="margin-right: 3px"
                                                href="/downloadCandidateDocument/{{candidato.id}}?documento=PropostaTrabalho.pdf"
                                                class='fa fa-solid fa-download'></a>
                                            {{else}}badge bg-warning">Pendente{{/if}}
                                    </span></td>
                                </tr>
                                <tr>
                                    <th class="col-3">Curriculum (PDF)</th>
                                    <td><span class="{{#if candidatoDocs.Curriculum}}">
                                            <a  style="margin-right: 3px"
                                                href="/downloadCandidateDocument/{{candidato.id}}?documento=Curriculum.pdf"
                                                class='fa fa-solid fa-download'></a>
                                            {{else}}badge bg-warning">Pendente{{/if}}
                                    </span></td>
                                </tr>
                                <tr>
                                    <th class="col-3">Prova de seleção anterior para aproveitamento de nota (PDF)</th>
                                    <td><span class="{{#if candidatoDocs.ProvaAnteriorSelecao}}">
                                            <a  style="margin-right: 3px"
                                                href="/downloadCandidateDocument/{{candidato.id}}?documento=prova_anterior"
                                                class='fa fa-solid fa-download'></a>
                                            {{else}}badge bg-warning">Pendente{{/if}}
                                    </span></td>
                                </tr>
                                <tr>
                                    <th class="col-3">Comprovante de Pagamento (PDF)</th>
                                    <td><span class="{{#if candidatoDocs.ComprovantePagamento}}">
                                            <a  style="margin-right: 3px"
                                                href="/downloadCandidateDocument/{{candidato.id}}?documento=ComprovantePagamento.pdf"
                                                class='fa fa-solid fa-download'></a>
                                            {{else}}badge bg-warning">Pendente{{/if}}
                                    </span></td>
                                </tr>
                                {{#if (eq edital.cartaRecomendacao 1)}}
<!--                                <tr>-->
<!--                                    <th class="col-3">Cartas de Recomendação (PDF)</th>-->
<!--                                    <td>-->
<!--                                        <span class="{{#if candidatoDocs.Recomendacao}}">-->
<!--                                            <a  style="margin-right: 3px"-->
<!--                                                href="/downloadCandidateDocument/{{candidato.id}}?documento=recommendationLetter"-->
<!--                                                class='fa fa-solid fa-download'-->
<!--                                            />-->
<!--                                            {{else}}badge bg-warning">Pendente{{/if}}-->
<!--                                        </span>-->
<!--                                    </td>-->
<!--                                </tr>-->
                                <tr>
                                    <th class="col-3">N° de Cartas de Recomendação (Emitidas)</th>
                                    <td>{{countRecomendations}}</td>
                                </tr>
                                <tr>
                                    <th class="col-3">N° de Cartas de Recomendação (Respondidas)</th>
                                    <td>{{countRecomendationsFinished}}</td>
                                </tr>
                                {{/if}}

                             
                                <tr>
                                    <th class="col-3">Curso de graduação</th>
                                    <td>
                                      {{#if (notEmpty candidato.cursoGraduacao)}}
                                        <span>
                                          {{candidato.cursoGraduacao}}
                                        </span>
                                      {{else}}
                                        <span class="badge bg-danger">Não Registrado</span>
                                      {{/if}}
                                    </td>
                                </tr>
                                <tr>
                                    <th class="col-3">Instituição da graduação</th>
                                    <td>
                                        {{#if (notEmpty candidato.instituicaoGraduacao)}}
                                          <span>{{candidato.instituicaoGraduacao}}</span>
                                        {{else}}
                                          <span class="badge bg-danger">Não Registrado</span>
                                        {{/if}}
                                    </td>
                                </tr>
                                <tr>
                                    <th class="col-3">Ano de Egresso na Graduação</th>
                                    <td>
                                      {{#if (notEmpty candidato.anoEgressoGraduacao)}}
                                        {{candidato.anoEgressoGraduacao}}
                                      {{else}}
                                        <span class="badge bg-danger">Não Registrado</span>
                                      {{/if}}
                                    </td>
                                </tr>
                                <tr>
                                    <th class="col-3">Curso de Pós Graduação</th>
                                    <td>
                                      {{#if (notEmpty candidato.cursoPos)}}
                                          {{candidato.cursoPos}}
                                      {{else}}
                                          <span class="badge bg-danger">Não Registrado</span>
                                      {{/if}}
                                    </td>
                                </tr>
                                <tr>
                                    <th class="col-3">Tipo de Pós Graduação</th>
                                    <td>
                                        {{#if (notEmpty candidato.tipoPos)}}
                                          {{candidato.tipoPos}}
                                        {{else}}
                                          <span class="badge bg-danger">Não Registrado</span>
                                        {{/if}}
                                    </td>
                                </tr>
                                <tr>
                                    <th class="col-3">Instituição da Pós Graduação</th>
                                    <td>
                                      {{#if (notEmpty candidato.instituicaoPos)}}
                                        {{candidato.instituicaoPos}}
                                      {{else}}
                                        <span class="badge bg-danger">Não Registrado</span>
                                      {{/if}}
                                    </td>
                                </tr>
                                <tr>
                                    <th class="col-3">Ano de Egresso na Pós Graduação</th>
                                    <td>
                                        {{#if (notEmpty candidato.anoEgressoPos)}}
                                          {{candidato.anoEgressoPos}}
                                        {{else}}
                                          <span class="badge bg-danger">Não Registrado</span>
                                        {{/if}}
                                    </td>
                                </tr>
                                <tr>
                                    <th class="col-3">Resultado da Avaliação</th>

                                    <td>
                                      {{#if candidato.notaposcomp}}
                                        {{candidato.notaposcomp}}
                                      {{else}}
                                        <span class="badge bg-danger">Não Julgado</span>
                                      {{/if}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
         document.getElementById("voltarBtn").addEventListener("click", function() {
            window.history.back();
        });
</script>

{{> footer}}