{{> header}}

{{> sidebar module="edital"}}

<div class="content-wrapper">
    <section class="content-header">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-9">
                    <h1>Candidato {{candidate.id}} - Edital {{candidate.editalId}} </h1>
                </div>
                <div class="col-sm-3">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Página Inicial </a></li>
                        {{!-- <li class="breadcrumb-item"><a href="/">Edital: {{candidate.editalId}}</a></li> --}}
                        <li class="breadcrumb-item active">Detalhes do Canditado</li>
                    </ol>
                </div>
            </div>
            <div class="row mb-4">
                <div class="text-nowrap col-sm-3 col-md-2 col-lg-2 mt-4">
                    <a class="btn btn-warning color-white" href="/edital/listEditalCandidates/{{candidate.idEdital}}">
                        <i class="fa fa-arrow-left"></i>
                        Voltar
                    </a> 
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title
                            "><b>Informações do Candidato</b></h3>
                        </div>
                        <div class="card-body" style="overflow-x:auto;">
                            <table id="example2" class="table table-bordered table-hover">
                                <tbody>
                                <tr>
                                    <th class="col-3">Nome Completo</th>
                                    <td>{{candidate.nome}}</td>
                                </tr>
                                {{!-- <tr>
                                    <th class="col-3">Data da Inicialização da Inscrição</th>
                                    <td>{{candidate.begin}}</td>
                                </tr>
                                <tr>
                                    <th class="col-3">Data da Finalização da Inscrição</th>
                                    <td>{{candidate.finish}}</td>
                                </tr> --}}
                                <tr>
                                    <th class="col-3">Endereço</th>
                                    <td>{{candidate.endereco}}</td>
                                </tr>
                                <tr>
                                    <th class="col-3">Bairro</th>
                                    <td>{{candidate.bairro}}</td>
                                </tr>
                                <tr>
                                    <th class="col-3">Cidade</th>
                                    <td>{{candidate.cidade}}</td>
                                </tr>
                                <tr>
                                    <th class="col-3">Estado</th>
                                    <td>{{candidate.uf}}</td>
                                </tr>
                                <tr>
                                    <th class="col-3">CEP</th>
                                    <td>{{candidate.cep}}</td>
                                </tr>
                                <tr>
                                    <th class="col-3">E-mail</th>
                                    <td>{{candidate.email}}</td>
                                </tr>
                                <tr>
                                    <th class="col-3">Data de nascimento</th>
                                    <td>{{#if (notEmpty candidate.dataNascimento)}} {{formataData candidate.dataNascimento}}{{/if}}</td>
                                </tr>
                                <tr>
                                    <th class="col-3">Nacionalidade</th>
                                    <td>{{candidate.nacionalidade}}</td>
                                </tr>
                                {{!-- <tr>
                                    <th class="col-3">País</th>
                                    <td>{{candidate.Pais}}</td>
                                </tr> --}}
                                {{!-- <tr>
                                    <th class="col-3">CPF</th>
                                    <td>{{candidate.CPF}}</td>
                                </tr> --}}
                                <tr>
                                    <th class="col-3">Sexo</th>
                                    <td><span class="{{#if (notEmpty candidate.sexo)}}">{{formataBioSex candidate.sexo}}
                                        {{else}}badge bg-danger">Não Informado{{/if}}</span></td>
                                </tr>
                                <tr>
                                    <th class="col-3">Telefone Principal</th>
                                    <td>{{candidate.telefone}}</td>
                                </tr>
                                <tr>
                                    <th class="col-3">Telefone Alternativo</th>
                                    <td>{{candidate.telefoneSecundario}}</td>
                                </tr>
                                {{!-- <tr>
                                    <th class="col-3">Curso desejado</th>
                                    <td>{{candidate.inscricaoposcomp}}</td>
                                </tr> --}}
                                <tr>
                                    <th class="col-3">Regime de Dedicação</th>
                                    <td>{{candidate.regime}}</td>
                                </tr>
                                <tr>
                                    <th class="col-3">Incrição poscomp</th>
                                    <td>{{candidate.cursoDesejado}}</td>
                                </tr>
                                <tr>
                                    <th class="col-3">Ano poscomp</th>
                                    <td>{{candidate.anoposcomp}}</td>
                                </tr>
                                <tr>
                                    <th class="col-3">Nota poscomp</th>
                                    <td>{{candidate.notaposcomp}}</td>
                                </tr>
                                <tr>
                                    <th class="col-3">Solicita Bolsa?</th>
                                    {{!-- <td>{{#if (eq candidate.bolsista '1')}} Sim {{else}} Não {{/if}}</td> --}}
                                    <td><span class="{{#if (eq candidate.bolsista '1')}} badge bg-success">Sim{{else}}badge bg-danger">Não{{/if}}</span></td>

                                </tr>
                                <tr>
                                    <th class="col-3">Cotista?</th>
                                    <td><span class="{{#if (eq candidate.cotista '1')}} badge bg-success">{{candidate.cotistaTipo}}{{else}}badge bg-danger">Não{{/if}}</span></td>
                                </tr>
                                <tr>
                                    <th class="col-3">Possui algum tipo de problema de saúde física ou psiquiátrica?</th>
                                    <td><span class="{{#if (eq candidate.condicao '1')}} badge bg-success">{{candidate.condicaoTipo}}{{else}}badge bg-danger">Não{{/if}}</span></td>
                                </tr>
                                <tr>
                                    <th class="col-3">Linha de Pesquisa</th>
                                    <td>{{candidate.idLinhaPesquisa}}</td>
                                </tr>
                                <tr>
                                    <th class="col-3">Título da Proposta</th>
                                    <td>{{candidate.tituloProposta}}</td>
                                </tr>
                                <tr>
                                    <th class="col-3">Motivos</th>
                                    <td>{{candidate.motivos}}</td>
                                </tr>
                                <tr>
                                    <th class="col-3">Carta do Orientador (PDF)</th>
                                    <td><span class="{{#if candidatoDocs.CartaDoOrientador}}">
                                            <a  style="margin-right: 3px"
                                                href="/downloadCandidateDocument/{{candidate.id}}?documento=CartaDoOrientador"
                                                class='fa fa-solid fa-download'
                                            />
                                            {{else}}badge bg-warning">Pendente{{/if}}
                                    </span></td>
                                </tr>
                                <tr>
                                    <th class="col-3">Proposta de Trabalho (PDF)</th>
                                    <td><span class="{{#if candidatoDocs.PropostaDeTrabalho}}">
                                            <a  style="margin-right: 3px"
                                                href="/downloadCandidateDocument/{{candidate.id}}?documento=PropostaDeTrabalho"
                                                class='fa fa-solid fa-download'
                                            />
                                            {{else}}badge bg-warning">Pendente{{/if}}
                                    </span></td>
                                </tr>
                                <tr>
                                    <th class="col-3">Curriculum (PDF)</th>
                                    <td><span class="{{#if candidatoDocs.Curriculum}}">
                                            <a  style="margin-right: 3px"
                                                href="/downloadCandidateDocument/{{candidate.id}}?documento=Curriculum"
                                                class='fa fa-solid fa-download'
                                            />
                                            {{else}}badge bg-warning">Pendente{{/if}}
                                    </span></td>
                                </tr>
                                <tr>
                                    <th class="col-3">Prova de seleção anterior para aproveitamento de nota (PDF)</th>
                                    <td><span class="{{#if candidatoDocs.ProvaAnteriorSelecao}}">
                                            <a  style="margin-right: 3px"
                                                href="/downloadCandidateDocument/{{candidate.id}}?documento=prova_anterior"
                                                class='fa fa-solid fa-download'
                                            />
                                            {{else}}badge bg-warning">Pendente{{/if}}
                                    </span></td>
                                </tr>
                                <tr>
                                    <th class="col-3">Comprovante de Pagamento (PDF)</th>
                                    <td><span class="{{#if candidatoDocs.ComprovantePagamento}}">
                                            <a  style="margin-right: 3px"
                                                href="/downloadCandidateDocument/{{candidate.id}}?documento=comprovante"
                                                class='fa fa-solid fa-download'
                                            />
                                            {{else}}badge bg-warning">Pendente{{/if}}
                                    </span></td>
                                </tr>
                                <tr>
                                    <th class="col-3">Cartas de Recomendação (PDF)</th>
                                    <td>
                                        <span class="{{#if candidatoDocs.Recomendacao}}">
                                            <a  style="margin-right: 3px"
                                                href="/downloadCandidateDocument/{{candidate.id}}?documento=recommendationLetter"
                                                class='fa fa-solid fa-download'
                                            />
                                            {{else}}badge bg-warning">Pendente{{/if}}
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="col-3">N° de Cartas de Recomendação (Emitidas)</th>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <th class="col-3">N° de Cartas de Recomendação (Respondidas)</th>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <th class="col-3">Curso de graduação</th>
                                    <td><span class="{{#if (notEmpty candidate.cursoGraduacao)}}">{{candidate.cursoGraduacao}}
                                        {{else}}badge bg-danger">Não Registrado{{/if}}

                                    </span></td>
                                </tr>
                                <tr>
                                    <th class="col-3">Instituição da graduação</th>
                                    <td><span class="{{#if (notEmpty candidate.instituicaoGraduacao)}}">{{candidate.instituicaoGraduacao}}
                                        {{else}}badge bg-danger">Não Registrado{{/if}}</span></td>
                                </tr>
                                <tr>
                                    <th class="col-3">Ano de Egresso na Graduação</th>
                                    <td><span class="{{#if (notEmpty candidate.anoEgressoGraduacao)}}">{{candidate.anoEgressoGraduacao}}
                                        {{else}}badge bg-danger">Não Registrado{{/if}}
                                </tr>
                                <tr>
                                    <th class="col-3">Curso de Pós Graduação</th>
                                    <td><span class="{{#if (notEmpty candidate.cursoPos)}}">{{candidate.cursoPos}}
                                        {{else}}badge bg-danger">Não Registrado{{/if}}
                                </tr>
                                <tr>
                                    <th class="col-3">Tipo de Pós Graduação</th>
                                    <td><span class="{{#if (notEmpty candidate.tipoPos)}}">{{candidate.tipoPos}}
                                        {{else}}badge bg-danger">Não Registrado{{/if}}
                                </tr>
                                <tr>
                                    <th class="col-3">Instituição da Pós Graduação</th>
                                    <td><span class="{{#if (notEmpty candidate.instituicaoPos)}}">{{candidate.instituicaoPos}}
                                        {{else}}badge bg-danger">Não Registrado{{/if}}
                                </tr>
                                <tr>
                                    <th class="col-3">Ano de Egresso na Pós Graduação</th>
                                    <td><span class="{{#if (notEmpty candidate.anoEgressoPos)}}">{{candidate.anoEgressoPos}}
                                        {{else}}badge bg-danger">Não Registrado{{/if}}
                                </tr>
                                <tr>
                                    <th class="col-3">Resultado da Avaliação</th>
                                    
                                    <td><span class="{{#if candidate.notaposcomp}}">{{candidate.notaposcomp}}{{else}}badge bg-danger">Não Julgado{{/if}}</span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{{> footer}}