{{> header}}

{{> sidebar module="edital"}}
{{ setTitle title=(concat "Candidato " candidato.id "- Edital " candidato.idEdital) }}
<!-- No seu layout base -->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>-->

<div class="content-wrapper">
    <section class="content-header">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <div class="container-fluid">
            <div class="d-flex justify-content-between flex-wrap gap-1 ">
                <div>
                    <h1>Candidato {{#if (notEmpty candidato.nome)}} {{formatarNome candidato.nome}} {{else}}{{candidato.email}}{{/if}}  - Edital {{candidato.editalId}} </h1>
                </div>
                <div>
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Página Inicial </a></li>
                        <li class="breadcrumb-item"><a href="/edital/listEdital">Editais de Seleção do PPGI </a></li>
                        <li class="breadcrumb-item"><a href="/edital/listEdital/{{candidato.editalId}}">Detalhes de edital </a></li>
                        <li class="breadcrumb-item"><a href="/edital/listEditalCandidates/{{candidato.editalId}}">Lista de candidatos</a></li>
                        <li class="breadcrumb-item active">Detalhes do Candidado</li>
                    </ol>
                </div>
            </div>
            <div class="row mb-4">
                <div class="text-nowrap col-sm-3 col-md-2 col-lg-2 mt-4">
                    <a class="btn btn-warning color-white" id="voltarBtn">
                        <i class="fa fa-arrow-left"></i>
                        Voltar
                    </a> 
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title
                            "><b>Informações do Candidato</b></h3>
                        </div>
                        <div class="card-body" style="overflow-x:auto;">
                            <table id="example2" class="table table-bordered table-hover">
                                <tbody>
                                <tr>
                                  <th class="col-3">Id</th>
                                  <td>{{candidato.id}}</td>
                                </tr>
                                <tr>
                                    <th class="col-3">Nome Completo</th>
                                    <td>{{candidato.nome}}</td>
                                </tr>
                                <tr>
                                    <th class="col-3">Endereço</th>
                                    <td>{{candidato.endereco}}</td>
                                </tr>
                                <tr>
                                    <th class="col-3">Bairro</th>
                                    <td>{{candidato.bairro}}</td>
                                </tr>
                                <tr>
                                    <th class="col-3">Cidade</th>
                                    <td>{{candidato.cidade}}</td>
                                </tr>
                                <tr>
                                    <th class="col-3">Estado</th>
                                    <td>{{candidato.uf}}</td>
                                </tr>
                                <tr>
                                    <th class="col-3">CEP</th>
                                    <td>{{candidato.cep}}</td>
                                </tr>
                                <tr>
                                    <th class="col-3">E-mail</th>
                                    <td>{{candidato.email}}</td>
                                </tr>
                                <tr>
                                    <th class="col-3">Data de nascimento</th>
                                    <td>{{#if (notEmpty candidato.dataNascimento)}} {{formataData candidato.dataNascimento}}{{/if}}</td>
                                </tr>
                                <tr>
                                    <th class="col-3">Nacionalidade</th>
                                    <td>{{candidato.nacionalidade}}</td>
                                </tr>

                                {{#if (notEmpty candidato.cpf)}}
                                  <tr>
                                      <th class="col-3">CPF</th>
                                      <td>{{candidato.cpf}}</td>
                                  </tr>
                                {{/if}}
                                {{#if (notEmpty candidato.passaporte)}}
                                  <tr>
                                    <th class="col-3">Passaporte</th>
                                    <td>{{candidato.passaporte}}</td>
                                  </tr>
                                {{/if}}
                                {{#if (notEmpty candidato.pais)}}
                                  <tr>
                                    <th class="col-3">País</th>
                                    <td>{{candidato.pais}}</td>
                                  </tr>
                                {{/if}}
                                <tr>
                                    <th class="col-3">Sexo</th>
                                    <td><span class="{{#if (notEmpty candidato.sexo)}}">{{formataBioSex candidato.sexo}}
                                        {{else}}badge bg-danger">Não Informado{{/if}}</span></td>
                                </tr>
                                <tr>
                                    <th class="col-3">Telefone Principal</th>
                                    <td>{{candidato.telefone}}</td>
                                </tr>
                                <tr>
                                    <th class="col-3">Telefone Alternativo</th>
                                    <td>{{candidato.telefoneSecundario}}</td>
                                </tr>
                                <tr>
                                    <th class="col-3">Regime de Dedicação</th>
                                    <td>{{candidato.regime}}</td>
                                </tr>
                                <tr>
                                    <th class="col-3">Curso desejado</th>
                                    <td>{{candidato.cursoDesejado}}</td>
                                </tr>
<!--                                <tr>-->
<!--                                    <th class="col-3">Ano poscomp</th>-->
<!--                                    <td>{{candidato.anoposcomp}}</td>-->
<!--                                </tr>-->
<!--                                <tr>-->
<!--                                    <th class="col-3">Nota poscomp</th>-->
<!--                                    <td>{{candidato.notaposcomp}}</td>-->
<!--                                </tr>-->
                                <tr>
                                    <th class="col-3">Solicita Bolsa?</th>
                                    {{!-- <td>{{#if (eq candidato.bolsista '1')}} Sim {{else}} Não {{/if}}</td> --}}
                                    <td><span class="{{#if (eq candidato.bolsista '1')}} badge bg-success">Sim{{else}}badge bg-danger">Não{{/if}}</span></td>

                                </tr>
                                <tr>
                                  <th class="col-3">Tae?</th>
                                  <td><span class="{{#if (eq candidato.tae '1')}} badge bg-success">Sim{{else}}badge bg-danger">Não{{/if}}</span></td>
                                </tr>
                                <tr>
                                    <th class="col-3">Cotista?</th>
                                    <td>
                                      {{#if (eq candidato.cotista '1')}}
                                        {{candidato.cotistaTipo}}
                                      {{else}}
                                        <span class="badge bg-danger">Não</span>
                                      {{/if}}
                                    </td>
                                </tr>
                                {{#if  (eq candidato.cotista '1') }}
                                  {{#if (or (eq candidato.cotistaTipo 'indigena')  (eq candidato.cotistaTipo 'pcd'))}}
                                    <tr>
                                      <th class="col-3">Comprovante cota</th>
                                      <td>
                                        <span class="{{#if candidatoDocs.ComprovanteCota}}">
                                          <a style="margin-right: 16px"
                                             title="Visualizar"
                                             target="_blank"
                                             href="/edital/viewDocumentCandidate/{{candidato.id}}?documento=ComprovanteCota.pdf"
                                             class='fa fa-solid fa-eye'></a>
                                          <a  style="margin-right: 3px"
                                              title="Baixar"
                                              href="/downloadCandidateDocument/{{candidato.id}}?documento=ComprovanteCota.pdf"
                                              class='fa fa-solid fa-download'></a>
                                        {{else}}badge bg-warning">Pendente{{/if}}
                                        </span>
                                      </td>
                                  </tr>
                                  {{/if}}
                                  {{#if (or (eq candidato.cotistaTipo 'negro')  (eq candidato.cotistaTipo 'pardo'))}}
                                    <tr>
                                      <th class="col-3">Autodeclaração (PDF)</th>
                                      <td>
                                        <span class="{{#if candidatoDocs.Autodeclaracao}}">
                                          <a style="margin-right: 16px"
                                             title="Visualizar"
                                             target="_blank"
                                             href="/edital/viewDocumentCandidate/{{candidato.id}}?documento=AutodeclaracaoCiencia.pdf"
                                             class='fa fa-solid fa-eye'></a>
                                          <a  style="margin-right: 3px"
                                              title="Baixar"
                                              href="/downloadCandidateDocument/{{candidato.id}}?documento=AutodeclaracaoCiencia.pdf"
                                              class='fa fa-solid fa-download'></a>
                                        {{else}}badge bg-warning">Pendente{{/if}}
                                        </span>
                                      </td>
                                    </tr>
                                    <tr>
                                      <th class="col-3">Autodeclaração (Vídeo)</th>
                                      <td>
                                        <span class="{{#if candidatoDocs.AutodeclaracaoVideo}}">
                                          <a style="margin-right: 16px"
                                             title="Visualizar"
                                             target="_blank"
                                             href="/edital/viewDocumentCandidate/{{candidato.id}}?documento=VideoAutodeclaracao.mp4"
                                             class='fa fa-solid fa-eye'></a>
                                          <a  style="margin-right: 3px"
                                              title="Baixar"
                                            href="/downloadCandidateDocument/{{candidato.id}}?documento=VideoAutodeclaracao.mp4"
                                            class='fa fa-solid fa-download'></a>
                                            {{else}}badge bg-warning">Pendente{{/if}}
                                        </span>
                                      </td>
                                    </tr>
                                  {{/if}}
                                {{/if}}
                                <tr>
                                    <th class="col-3">Possui algum tipo de problema de saúde física ou psiquiátrica?</th>
                                    <td>
                                      {{#if (eq candidato.condicao '1')}}
                                        {{candidato.condicaoTipo}}
                                      {{else}}
                                        <span class="badge bg-danger">Não</span>
                                      {{/if}}</td>
                                </tr>
                                <tr>
                                    <th class="col-3">Linha de Pesquisa</th>
                                  <td><span class="{{#if (notEmpty candidato.linhaPesquisa)}}">{{candidato.linhaPesquisa.nome}}
                                  {{else}}badge bg-danger">Não Registrado{{/if}}

                                  </span></td>
                                </tr>
                                <tr>
                                    <th class="col-3">Título da proposta</th>
                                    <td><span class="{{#if (notEmpty candidato.tituloProposta)}}">{{candidato.tituloProposta}}
                                        {{else}}badge bg-danger">Não Registrado{{/if}}

                                    </span></td>
                                </tr>
                                <tr>
                                  <th class="col-3">Professor orientador</th>
                                  <td>{{#if (notEmpty candidato.nomeOrientador)}}{{candidato.nomeOrientador}}
                                  {{else}}-{{/if}}</td>
                                </tr>
                                <tr>
                                    <th class="col-3">Motivos</th>
                                    <td><span class="{{#if (notEmpty candidato.motivos)}}">{{candidato.motivos}}
                                        {{else}}badge bg-danger">Não Registrado{{/if}}

                                    </span></td>
                                </tr>
                                {{#if (eq edital.cartaOrientador 1)}}
                                <tr>
                                    <th class="col-3">Carta do Orientador (PDF)</th>
                                    <td>
                                      <span class="{{#if candidatoDocs.CartaDoOrientador}}">
                                        <a style="margin-right: 16px"
                                           title="Visualizar"
                                           target="_blank"
                                           href="/edital/viewDocumentCandidate/{{candidato.id}}?documento=CartaAceiteOrientador.pdf"
                                           class='fa fa-solid fa-eye'></a>
                                        <a  style="margin-right: 3px"
                                            title="Baixar"
                                            href="/downloadCandidateDocument/{{candidato.id}}?documento=CartaAceiteOrientador.pdf"
                                            class='fa fa-solid fa-download'></a>
                                        {{else}}badge bg-warning">Pendente{{/if}}
                                      </span>
                                    </td>
                                </tr>
                                {{/if}}
                               
                                <tr>
                                    <th class="col-3">Proposta de Trabalho (PDF)</th>
                                    <td>
                                      <span class="{{#if candidatoDocs.PropostaDeTrabalho}}">
                                        <a style="margin-right: 16px"
                                           title="Visualizar"
                                           target="_blank"
                                           href="/edital/viewDocumentCandidate/{{candidato.id}}?documento=PropostaTrabalho.pdf"
                                           class='fa fa-solid fa-eye'></a>
                                        <a  style="margin-right: 3px"
                                            title="Baixar"
                                            href="/downloadCandidateDocument/{{candidato.id}}?documento=PropostaTrabalho.pdf"
                                            class='fa fa-solid fa-download'></a>
                                      {{else}}badge bg-warning">Pendente{{/if}}
                                      </span>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="col-3">Curriculum (PDF)</th>
                                    <td>
                                      <span class="{{#if candidatoDocs.Curriculum}}">
                                        <a style="margin-right: 16px"
                                           title="Visualizar"
                                           target="_blank"
                                           href="/edital/viewDocumentCandidate/{{candidato.id}}?documento=Curriculum.pdf"
                                           class='fa fa-solid fa-eye'></a>
                                        <a  style="margin-right: 3px"
                                            title="Baixar"
                                            href="/downloadCandidateDocument/{{candidato.id}}?documento=Curriculum.pdf"
                                            class='fa fa-solid fa-download'></a>
                                            {{else}}badge bg-warning">Pendente{{/if}}
                                      </span>
                                    </td>
                                </tr>
<!--                                <tr>-->
<!--                                    <th class="col-3">Prova de seleção anterior para aproveitamento de nota (PDF)</th>-->
<!--                                    <td><span class="{{#if candidatoDocs.ProvaAnteriorSelecao}}">-->
<!--                                            <a  style="margin-right: 3px"-->
<!--                                                href="/downloadCandidateDocument/{{candidato.id}}?documento=ProvaAnterior.pdf"-->
<!--                                                class='fa fa-solid fa-download'></a>-->
<!--                                            {{else}}badge bg-warning">Pendente{{/if}}-->
<!--                                    </span></td>-->
<!--                                </tr>-->
                                <tr>
                                    <th class="col-3">Comprovante de Pagamento (PDF)</th>
                                    <td>
                                      <span class="{{#if candidatoDocs.ComprovantePagamento}}">
                                        <a style="margin-right: 16px"
                                           title="Visualizar"
                                           target="_blank"
                                           href="/edital/viewDocumentCandidate/{{candidato.id}}?documento=ComprovantePagamento.pdf"
                                           class='fa fa-solid fa-eye'></a>
                                        <a  style="margin-right: 3px"
                                            title="Baixar"
                                            href="/downloadCandidateDocument/{{candidato.id}}?documento=ComprovantePagamento.pdf"
                                            class='fa fa-solid fa-download'></a>
                                            {{else}}badge bg-warning">Pendente{{/if}}
                                      </span>
                                    </td>
                                </tr>

                                {{#if (eq edital.cartaRecomendacao 1)}}
                                <tr>
                                    <th class="col-3">Cartas de Recomendação (PDF)</th>
                                    <td>
                                      {{#if candidatoDocs.Recomendacoes}}
                                        <span>
                                          <a style="margin-right: 16px"
                                             title="Visualizar"
                                             target="_blank"
                                             href="/edital/viewDocumentCandidate/{{candidato.id}}?documento=Recomendacoes.pdf"
                                             class='fa fa-solid fa-eye'></a>
                                          <a  style="margin-right: 3px"
                                              title="Baixar"
                                              href="/downloadCandidateDocument/{{candidato.id}}?documento=Recomendacoes.pdf"
                                              class='fa fa-solid fa-download'></a>
                                        </span>
                                      {{else}}
                                        <span class="badge bg-warning">Nenhuma resposta</span>
                                      {{/if}}
                                    </td>
                                </tr>
                                <tr>
                                    <th class="col-3">N° de Cartas de Recomendação (Emitidas)</th>
                                    <td>{{countRecomendations}}</td>
                                </tr>
                                <tr>
                                    <th class="col-3">N° de Cartas de Recomendação (Respondidas)</th>
                                    <td>{{countRecomendationsFinished}}</td>
                                </tr>
                                {{/if}}
                                <tr>
                                  <th class="col-3">Ficha inscrição (PDF)</th>
                                  <td>
                                    <span class="{{#if candidatoDocs.Fichainscricao}}">
                                    <a style="margin-right: 16px"
                                       title="Visualizar"
                                       target="_blank"
                                       href="/edital/viewDocumentCandidate/{{candidato.id}}?documento=Inscricao.pdf"
                                       class='fa fa-solid fa-eye'></a>
                                    <a  style="margin-right: 3px"
                                        title="Baixar"
                                        href="/downloadCandidateDocument/{{candidato.id}}?documento=Inscricao.pdf"
                                        class='fa fa-solid fa-download'></a>
                                  {{else}}badge bg-warning">Pendente{{/if}}
                                  </span>
                                  </td>
                                </tr>
                             
                                <tr>
                                    <th class="col-3">Curso de graduação</th>
                                    <td>
                                      {{#if (notEmpty candidato.cursoGraduacao)}}
                                        <span>
                                          {{candidato.cursoGraduacao}}
                                        </span>
                                      {{else}}
                                        <span class="badge bg-danger">Não Registrado</span>
                                      {{/if}}
                                    </td>
                                </tr>
                                <tr>
                                    <th class="col-3">Instituição da graduação</th>
                                    <td>
                                        {{#if (notEmpty candidato.instituicaoGraduacao)}}
                                          <span>{{candidato.instituicaoGraduacao}}</span>
                                        {{else}}
                                          <span class="badge bg-danger">Não Registrado</span>
                                        {{/if}}
                                    </td>
                                </tr>
                                <tr>
                                    <th class="col-3">Ano de Egresso na Graduação</th>
                                    <td>
                                      {{#if (notEmpty candidato.anoEgressoGraduacao)}}
                                        {{candidato.anoEgressoGraduacao}}
                                      {{else}}
                                        <span class="badge bg-danger">Não Registrado</span>
                                      {{/if}}
                                    </td>
                                </tr>
                                <tr>
                                    <th class="col-3">Curso de Pós Graduação</th>
                                    <td>
                                      {{#if (notEmpty candidato.cursoPos)}}
                                          {{candidato.cursoPos}}
                                      {{else}}
                                          <span class="badge bg-danger">Não Registrado</span>
                                      {{/if}}
                                    </td>
                                </tr>
                                <tr>
                                    <th class="col-3">Tipo de Pós Graduação</th>
                                    <td>
                                        {{#if (notEmpty candidato.tipoPos)}}
                                          {{candidato.tipoPos}}
                                        {{else}}
                                          <span class="badge bg-danger">Não Registrado</span>
                                        {{/if}}
                                    </td>
                                </tr>
                                <tr>
                                    <th class="col-3">Instituição da Pós Graduação</th>
                                    <td>
                                      {{#if (notEmpty candidato.instituicaoPos)}}
                                        {{candidato.instituicaoPos}}
                                      {{else}}
                                        <span class="badge bg-danger">Não Registrado</span>
                                      {{/if}}
                                    </td>
                                </tr>
                                <tr>
                                    <th class="col-3">Ano de Egresso na Pós Graduação</th>
                                    <td>
                                        {{#if (notEmpty candidato.anoEgressoPos)}}
                                          {{candidato.anoEgressoPos}}
                                        {{else}}
                                          <span class="badge bg-danger">Não Registrado</span>
                                        {{/if}}
                                    </td>
                                </tr>
                                <tr>
                                    <th class="col-3">Resultado da Avaliação</th>
                                    <td>
                                      {{#if candidato.notaposcomp}}
                                        {{candidato.notaposcomp}}
                                      {{else}}
                                        <span class="badge bg-danger">Não Julgado</span>
                                      {{/if}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                          <hr />
                          <h4><b>Experiências Acadêmicas</b></h4>
                          {{#if candidato.experienciasAcademicas.length}}
                            <div class="table-responsive">
                              <table class="table table-bordered table-hover mt-2">
                                <thead>
                                <tr>
                                  <th>Instituição</th>
                                  <th>Atividade</th>
                                  <th>Período</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each candidato.experienciasAcademicas}}
                                  <tr>
                                    <td>{{this.instituicao}}</td>
                                    <td>{{this.atividade}}</td>
                                    <td>{{this.periodo}}</td>
                                  </tr>
                                {{/each}}
                                </tbody>
                              </table>
                            </div>
                          {{else}}
                            <p class="badge bg-warning mt-2">Nenhuma experiência acadêmica registrada.</p>
                          {{/if}}
                          <hr />
                          <h4><b>Publicações Acadêmicas</b></h4>

                          {{#if candidato.publicacoes.length}}
                            {{#each (groupByTipo candidato.publicacoes) as |grupo tipoId|}}
                              <div id="accordionTipo{{tipoId}}" class="mb-3">
                                <div class="card">
                                  <div class="card-header" id="headingTipo{{tipoId}}">
                                    <h5 class="mb-0 d-flex justify-content-between align-items-center">
                                      <button class="btn  collapsed d-flex justify-content-between w-100" data-toggle="collapse" data-target="#collapseTipo{{tipoId}}" aria-expanded="false" aria-controls="collapseTipo{{tipoId}}">
                                        <span>
                                          {{#if (eq tipoId 1)}} Periódicos
                                          {{else if (eq tipoId 2)}} Eventos
                                          {{else if (eq tipoId 3)}} Livros
                                          {{else if (eq tipoId 4)}} Capítulos
                                          {{else if (eq tipoId 5)}} Outras
                                          {{else if (eq tipoId 6)}} Prefácios
                                          {{else}} Outros
                                          {{/if}}
                                        </span>
                                        <i class="fa fa-chevron-down transition-icon"></i>
                                      </button>
                                    </h5>
                                  </div>
                                  <div id="collapseTipo{{tipoId}}" class="collapse" aria-labelledby="headingTipo{{tipoId}}" data-parent="#accordionTipo{{tipoId}}">
                                    <div class="card-body">
                                      <ul class="list-group">
                                        {{#each grupo}}
                                          <li class="list-group-item">
                                            <strong>{{this.titulo}}</strong><br />
                                            <small><b>Autores:</b> {{this.autores}}</small><br />
                                            <small><b>Local:</b> {{this.local}}</small><br />
                                            <small><b>Ano:</b> {{this.ano}}</small><br />
                                            {{#if this.issn}}<small><b>ISSN:</b> {{this.issn}}</small><br />{{/if}}
                                            <small><b>Natureza:</b> {{this.natureza}}</small>
                                          </li>
                                        {{/each}}
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            {{/each}}
                          {{else}}
                            <p class="badge bg-warning mt-2">Nenhuma publicação registrada.</p>
                          {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
  document.getElementById("voltarBtn").addEventListener("click", function() {
    window.history.back();
  });
</script>

{{> footer}}