{{> header}}

{{> sidebar module="edital" page="listCandidates"}}
{{ setTitle title=(concat "Candidatos do PPGI - Edital " editalID) }}
<head>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap4.min.css">

  <link href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.dataTables.css" rel="stylesheet">

  <script defer src="https://code.jquery.com/jquery-3.7.0.js"></script>
  <script defer src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
  <script defer src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap4.min.js"></script>
  <script defer src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.js"></script>
</head>


<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="d-flex justify-content-between flex-wrap gap-1 ">
        <div>
          <h1>Candidatos do PPGI - Edital {{editalID}} </h1>
        </div>
        <div>
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/inicio">Página Inical</a></li>
            <li class="breadcrumb-item"><a href="/edital/listEdital">Editais de Seleção do PPGI</a></li>
            <li class="breadcrumb-item active">
              <a href="/edital/listEdital/{{editalID}}" target="_blank">
                Detalhes de edital
              </a>
            </li>
            <li class="breadcrumb-item active"> Lista de Candidatos</li>
          </ol>
        </div>
      </div>
      <div class="row mb-10">
        <div class="text-nowrap col-sm-3 col-md-2 col-lg-2 mt-4">
          <a class="btn btn-warning color-white" id="voltarBtn">
            <i class="fa fa-arrow-left"></i>
            Voltar
          </a>
          <a class="btn btn-primary color-white" href="/edital/getEditalCandidatesDocs/{{editalID}}">
            <i class="fas fa-plus"></i>
            Baixar Documentação
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card-body mr-auto ml-n3">
            <h4 style="font-family: sans-serif;"><b>Inscrições Finalizadas:
              {{quantidadeInscricaoFinalizada}}</b></h4>
          </div>
          <div class="card card-primary">
            <div class="card-body" style="overflow-x:auto;">
              <table id="tableCandidatesFinalizados" class="table table-hover w-100">
                <thead>
                <tr>
                  <th>Nome</th>
                  <th>Email</th>
                  <th>Curso Desejado</th>
                  <th>Linha Pesquisa</th>
<!--                  <th>Fase</th>-->
                  <th></th>
                </tr>
                </thead>
                <tbody>
                {{#each candidatos}}
                  {{#if (eq posicaoEdital 4) }}
                    <tr>
                      <td>{{nome}}</td>
                      <td>{{email}}</td>
                      <td>{{cursoDesejado}}</td>
                      <td>{{linhaPesquisa.sigla}}</td>
<!--                      <td>{{#if (eq status 0)}}Não Julgado{{else}}{{status}}{{/if}}</td>-->
                      <td>
                        <div class="d-flex justify-content-start" style="gap: 12px; flex-wrap: wrap;">
                          <a style="margin-right: 0" target="_blank"
                             href='/edital/getCandidateDocs/{{id}}'
                             class='fa fa-solid fa-download' title="Baixar documentos do candidato">
                          </a>
                          <a style="margin-right: 0" href='/edital/candidateDetails/{{id}}'
                             class='fa fa-solid fa-eye' title="Ver detalhes do candidato">
                          </a>
                        </div>
                      </td>
                    </tr>
                  {{/if}}
                {{/each}}
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-body mr-auto ml-n3">
            <h4 style="font-family: sans-serif;"><b>Inscrições em Andamento:
              {{quantidadeInscricaoAndamento}}</b></h4>
          </div>
          <div class="card card-primary">
            <div class="card-body" style="overflow-x:auto;">
              <table id="tableCandidatesAndamento" class="table table-hover w-100">
                <thead>
                <tr>
                  <th>Nome</th>
                  <th>E-mail</th>
                  <th>Curso Desejado</th>
                  <th>Linha Pesquisa</th>
                  <th>Etapa da Inscrição</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                {{#each candidatos}}
                  {{#if (ne posicaoEdital 4) }}
                    <tr>
                      <td>{{nome}}</td>
                      <td>{{email}}</td>
                      <td>{{cursoDesejado}}</td>
                      <td>{{linhaPesquisa.sigla}}</td>
                      <td>{{posicaoEdital}}/4</td>
                      <td>
                        <div class="d-flex justify-content-start" style="gap: 8px;">
                          <a style="margin-right: 0" target="_blank"
                             href='/edital/getCandidateDocs/{{id}}'
                             class='fa fa-solid fa-download' >
                          </a>
                          <a style="margin-right: 0" href='/edital/candidateDetails/{{id}}'
                             class='fa fa-solid fa-eye' >
                          </a>
                        </div>
                      </td>
                    </tr>
                  {{/if}}
                {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<script>
  function voltarPagina() {
    window.history.back();
  }
  document.addEventListener("DOMContentLoaded", function () {
    $("#tableCandidatesFinalizados").DataTable({
      language: {
        url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/pt-BR.json',
      },
      responsive: true,
      columns: [
        { responsivePriority: 1 },
        { responsivePriority: 2 },
        { responsivePriority: 3 },
        { responsivePriority: 4 },
      ],
      columnDefs: [{
        "targets": [4],
        "orderable": false
      }]
    });
    $("#tableCandidatesAndamento").DataTable({
      language: {
        url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/pt-BR.json',
      },
      responsive: true,
      columns: [
        { responsivePriority: 1 },
        { responsivePriority: 2 },
        { responsivePriority: 3 },
        { responsivePriority: 4 },
        { responsivePriority: 5 },
      ],
      columnDefs: [{
        "targets": [5],
        "orderable": false
      }]
    });
    document.getElementById("voltarBtn").addEventListener("click", function () {
      window.history.back();
    });
  });
</script>

{{> footer}}