{{> header}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.36/moment-timezone-with-data.min.js"></script>

{{> sidebar module='selecaoppgi' page='edital-listar'}}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-9">
                    <h1>Editais de Seleção do PPGI</h1>
                </div>
                <div class="col-sm-3">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Página Inicial </a></li>
                        <li class="breadcrumb-item active">Editais de Seleção do PPGI</li>
                    </ol>
                </div>
            </div>
            <div class="row mb-2" style="display: flex; justify-content: space-between;">
                <div class="col-sm-5 col-md-4 col-lg-4 col-xl-3 mt-4">
                    <a class="btn btn-warning color-white" id="voltarBtn">
                        <i class="fa fa-arrow-left"></i>
                        Voltar
                    </a>
                    <a class="btn btn-primary color-white" href="/edital/addEdital">
                        <i class="fas fa-plus"></i>
                        Novo Edital
                    </a>      
                </div>

                <div class="col-sm-7 col-md-8 col-lg-8 d-flex justify-content-end">
                    <div class="legenda-table">
                        <table class="table table-bordered" style="border-color: black;">
                            <tr style="background-color: #dcdcdc;">
                                <td colspan="2" style="text-align: center; font-size: 15px; padding: 0px 50px; border-color: black;">Legenda</td>
                            </tr>
                            <tr style="background-color: #a0c6e4;">
                                <td style="text-align: center; font-size: 14px; padding: 0px 50px; border-color: black;">REG</td>
                                <td style="text-align: center; font-size: 14px; padding: 0px 50px; border-color: black;">Vagas Regulares</td>
                            </tr>
                            <tr style="background-color: #8fdf7b;">
                                <td style="text-align: center; font-size: 14px; padding: 0px 50px; border-color: black;">SUP</td>
                                <td style="text-align: center; font-size: 14px; padding: 0px 50px; border-color: black;">Vagas Suplementares</td>
                            </tr>
                        </table>
                    </div>
                </div>
               
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title"><b>Editais</b></h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body" style="overflow-x:auto;">
                            <table id="tableEdital" class="table table-hover w-100">
                                <thead>
                                    <tr>
                                        <th> # </th>
                                        <th> Nº edital</th>
                                        <th> Início inscrições</th>
                                        <th> Término inscrições</th>
                                        <th> Inscrições Iniciadas</th>
                                        <th> Inscrições Encerradas</th>
                                        <th> Vagas Mestrado</th>
                                        <th> Vagas Doutorado</th>
                                        <th>Status</th>
                                        <th> </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each editais}}
                                    <tr>
                                        <td> {{add @index 1}} </td>
                                        <td> {{editalId}} </td>
                                        <td> {{dataInicio}} </td>
                                        <td> {{dataFim}} </td>
                                        <td> {{inscricoesIniciadas}} </td>
                                        <td> {{inscricoesEncerradas}} </td>
                                        <td> REG: {{vagaMestrado}} / SUP: {{cotasMestrado}} </td>
                                        <td> REG: {{vagaDoutorado}} / SUP: {{cotasDoutorado}} </td>
                                        <td>
                                            <span id="badge-{{editalId}}"
                                                
                                                {{#validaLabel status dataInicio dataFim }}

                                                {{else}}
                                                    <span class="badge bg-danger">
                                                        Suspenso
                                                    </span>
                                                {{/validaLabel}}

                                            </span>
                                        </td>
                                        <td class='links-container'>
                                            <div class="d-flex justify-content-between">

                                                <a  style="margin-right: 2px"
                                                    target="_blank"
                                                    href='{{documento}}'
                                                    class='fa fa-solid fa-download'/>
                                                </a>

                                                <a  style="margin-right: 2px"
                                                    href='/edital/listEdital/{{editalId}}'
                                                    class='fa fa-solid fa-eye'/>
                                                </a>

                                                <a class="fa fa-solid {{#ifEqual status '1'}}fa-lock-open{{else}}fa-lock{{/ifEqual}}"
                                                    id="icone-{{editalId}}"
                                                    data-editalId="{{editalId}}"
                                                    onclick="abrirModal('{{editalId}}', '{{status}}', '{{dataFim}}')"
                                                    data-toggle="modal"
                                                    data-target="#removerEdital"
                                                    >
                                                </a>
                                               
                                                <a  style="margin-right: 2px"
                                                    href='/edital/updateEdital/{{editalId}}'
                                                    class='fa fa-solid fa-pen'/>
                                                </a>

                                            </div>
                                        </td>                                            
                                        
                    
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

            <div id="modalArquivar" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalArquivarLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalArquivarLabel">Status do Edital</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" id="modalArquivarBody">
                            <!-- mensagem -->                            
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="button" id="confirmButton" onclick="arquivarEdital()">Confirmar</button>
                        </div>
                    </div>
                </div>
            </div>

        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>


<script>
    
    let csrfToken = "{{csrfToken}}";
    let editalId;
    let status;
    let dataFim;

    function abrirModal(id, statusCorrente, data) {
        editalId = id;
        status = statusCorrente;
        dataFim = data;

        if (status == '1') {
            $('#modalArquivarBody').html("Você realmente deseja suspender o edital com ID " + editalId + "?");
            $('#confirmButton').removeClass('btn btn-success').addClass('btn btn-danger');
        } else {
            $('#modalArquivarBody').html("Você realmente deseja ativar o edital com ID " + editalId + "?");
            $('#confirmButton').removeClass('btn btn-danger').addClass('btn btn-success');
        }
        
        $('#modalArquivar').modal('show');
    } 


    function arquivarEdital() {
  
        // Fechar o modal
        $('#modalArquivar').modal('hide');

       
        const dataFromForm = {
        status: status == '1'? '0' : '1',
        _csrf: csrfToken
        }
        

        $.ajax({
            url: `/edital/arquivarEdital/${editalId}`,
            type: 'PUT',
            data: dataFromForm,
            success: function (data) {

                const mensagem = "Status do Edital alterado no sistema com sucesso";            
                const expirationTime = new Date(new Date().getTime() + 5000);

                document.cookie = `showToast=true; expires=${expirationTime.toUTCString()}`;
                document.cookie = `mensagem=${mensagem}; expires=${expirationTime.toUTCString()}`;

                window.location.reload();
            },
            error: function (data) {
                $(document).Toasts('create', {
                    icon: 'error',
                    class: "bg-danger",
                    autohide: true,
                    delay: 3000,
                    title: 'Erro!',
                    body: 'Erro: ' + data.responseJSON.error
                });
            }
        });
        
    }

    const showToastCookie = document.cookie.split('; ').find(row => row.startsWith('showToast='));
    if (showToastCookie && showToastCookie.split('=')[1] === 'true') {
        
        const mensagemCookie = document.cookie.split('; ').find(row => row.startsWith('mensagem='));
        const mensagem= mensagemCookie.split('=')[1];

        if (mensagem) {
            $(document).Toasts('create', {
                icon: 'success',
                class: "bg-success",
                autohide: true,
                delay: 3000,
                title: 'Sucesso!',
                body: mensagem
            });

            // Limpar o cookie
            const expirationTime = new Date(0);
            document.cookie = `showToast=; expires=${expirationTime.toUTCString()}`;
            document.cookie = `mensagem=; expires=${expirationTime.toUTCString()}`;
        }
    }



    document.addEventListener("DOMContentLoaded", function(event) {
        var datatable = $("#tableEdital").DataTable({
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/pt-BR.json',
            },
            responsive: true,
            columns: [
                { responsivePriority: 4 },
                { responsivePriority: 1 },
                { responsivePriority: 3 },
                { responsivePriority: 3 },
                { responsivePriority: 6 },
                { responsivePriority: 6 },
                { responsivePriority: 5 },
                { responsivePriority: 5 },
                { responsivePriority: 5 },
                { responsivePriority: 2 },
            ],
            columnDefs: [
            {
                "targets": [9],
                "orderable": false
            },
            {
                targets: [2, 3], // Índices das colunas que tem datas
                render: function(data, type) {
                if (type === 'sort') {
                    return moment(data).format('YYYY-MM-DD') // Para ordenação usa no formato YYYY-MM-DD'
                }
                return moment(data).format('DD/MM/YYYY') // Para exibição usa no formato DD/MM/YYYY'
                }
            }]
        });

        document.getElementById("voltarBtn").addEventListener("click", function() {
            window.history.back();
        });
    });

</script>

{{> footer}}