{{> header}}
{{> sidebar module='afastamentoTemporario' page='pedidos-afastamento'}}

<main class="content-wrapper">

	<section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-9">
                    <h1>Listar Afastamentos Temporario </h1>
                </div>
                <div class="col-sm-3">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item active">linhasDePesquisa</li>
                        <li class="breadcrumb-item active">listar</li>
                    </ol>
                </div>
            </div>
            <div class="row mb-4">
                <div class="text-nowrap col-sm-3 col-md-2 col-lg-2 mt-4">
                    <a class="btn btn-warning color-white" href="/inicio">
                        <i class="fa fa-arrow-left"></i>
                        Voltar
                    </a>
                    <a class="btn btn-primary color-white" href="/afastamentoTemporario/criar">
                        <i class="fas fa-plus"></i>
                        Novo Pedido de Afastamento
                    </a>      
                </div>
            </div>

		</div>
	</section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            {{#if message}}
                <div class="alert alert-{{type}} alert-dismissible fade show" role="alert">
                    {{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {{/if}}
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <!-- /.card-header -->
                        <div class="card-body" style="overflow-x:auto;">
                            <table id="example2" class="table table-hover w-100">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Nome do Usuário</th>
                                        <th>Data de Saída</th>
                                        <th>Data de Retorno</th>
                                        <th>Tipo de Viagem</th>
                                        <th>Local da Viagem</th>
                                        <th>Data de Envio</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each afastamentos}}
                                    <tr>
                                        <td> {{id}} </td>
                                        <td> {{usuarioNome}} </td>
                                        <td> {{dataSaida}} </td>
                                        <td> {{dataRetorno}} </td>
                                        <td> {{tipoViagem}} </td>
                                        <td> {{localViagem}} </td>
                                        <td> {{createdAt}} </td>

                                        <td class='links-container'>
                                            <div class="d-flex justify-content-end" style="gap: 10px">
                                                <a  style="margin-right: 2px"
                                                    href='/afastamentoTemporario/dados/{{id}}'
                                                    class='fa fa-solid fa-eye'
                                                    title="Visualizar" 
                                                /></a>
                                                <a  style="margin-right: 3px"
                                                    href='/gerarPDF/{{id}}'
                                                    class='fa fa-solid fa-file-pdf'
                                                    title="PDF" 
                                                /></a>
                                                <a class="fa fa-solid fa-trash " id="removerAT_{{nome}}_{{id}}"
                                                    data-toggle="modal" data-target="#removerAT"
                                                    title="remover"
                                                    onclick="addLink(event)" 
                                                    href="#"
                                                    >
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

<div class="modal fade" id="removerAT" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="tituloModal"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-footer">
                        <a type="button" class="btn btn-secondary color-white" data-dismiss="modal">Não</a>
                        <a id="deleteButton" type="button" class="btn btn-warning color-white" onclick="deletarAT()">Sim</a>
                    </div>
                    <form name="postDelete" id="postDelete" method="POST">
                        <input type="hidden" name="_csrf" value="{{csrfToken}}">
                        
                    </form>
                </div>
            </div>
        </div>

<head>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap4.min.css">
  <link href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.dataTables.css" rel="stylesheet">

  <script defer src="https://code.jquery.com/jquery-3.7.0.js"></script>
  <script defer src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
  <script defer src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap4.min.js"></script>
  <script defer src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.js"></script>
</head>
<script>

    document.addEventListener("DOMContentLoaded", function(event) {
        var datatable = $("#example2").DataTable({
        language: {
            url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/pt-BR.json',
        },
        responsive: true,
        columns: [
            { responsivePriority: 1 },
            { responsivePriority: 2 },
            { responsivePriority: 3 },
            { responsivePriority: 4 },
            { responsivePriority: 5 },
            { responsivePriority: 6 },
            { responsivePriority: 7 },
            { responsivePriority: 8 }, 
        ],
        columnDefs: [ {
            "targets": [7],
            "orderable": false
        } ]
        });
    });

    function deletarAT(event){
        // document.postDelete.submit();
        var form = document.getElementById("postDelete");
        console.log(form)
        form.submit();
    }

    function addLink(event) {
        const [a, nome, id] = event.target.id.split("_");
        document.getElementById("tituloModal").innerHTML =  "Deseja excluir " + nome + "?";
        const formDelete = document.getElementById("postDelete")
        formDelete.setAttribute('action', `/afastamentoTemporario/remover/${id}`);
    }

</script>
{{> footer}}