{{> header}}
{{> sidebar module='reservas' page='reservas-editar'}}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-3">
                <div class="col-sm-9">
                    <h1>Editar Reserva</h1>
                </div>
                <div class="col-sm-3">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Página inicial</a></li>
                        <li class="breadcrumb-item"><a href="/reservas/gerenciar">Listagem de reservas</a></li>
                        <li class="breadcrumb-item active">Editar</li>
                    </ol>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-4 col-md-3 col-lg-1 min-width-button">
                    <a type="button" class="btn btn-warning color-white" href="/reservas/gerenciar">
                        <i class="fa fa-arrow-left color-white"></i>
                        Voltar
                    </a>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="row">
            <div class="col">
                <div class="card card-primary" style="width: 50%;">
                    <div class="card-header">
                        <h3 class="card-title"><b>Dados da Reserva</b></h3>

                        <!-- Ícone de expandir -->
                        <button class="expand-btn"
                            style="position: absolute; top: 10px; right: 10px; background: none; border: none; outline: none;">
                            <i class="fas fa-expand" style="color:white"></i>
                        </button>
                    </div>

                    <div class="container-fluid">
                        <form id="formAdicionarSala" method="POST" action="/reservas/editar/{{reserva.id}}">
                            <input type="hidden" id="_csrf" name="_csrf" value="{{csrf}}" />
                            <input type="hidden" id="id" name="id" value="{{reserva.id}}" />
                            <input type="hidden" id="usuarioId" name="usuarioId" value="{{UsuarioId}}" />
                            <div class="card-body ">

                                <div class="row">
                                    <div class="form-group col-md-6 ">
                                        <label for="atividade">
                                            <font color="#FF0000">*</font> Atividade:
                                        </label>
                                        <input type="text" class="form-control" id="atividade" name="atividade"
                                            value="{{reserva.atividade}}" placeholder="Ex: Seminários " required
                                        >
                                    </div>

                                    <div class="form-group col-md-6 ">
                                        <label for="bloco">
                                            <font color="#FF0000">*</font> Tipo:
                                        </label>
                                        <select class="form-control" id="tipo" name="tipo" required>
                                            <option {{checked reserva.tipo 'Aula' }} value="Aula">Aula</option>
                                            <option {{checked reserva.tipo 'Defesa' }} value="Defesa">Defesa</option>
                                            <option {{checked reserva.tipo 'Exame' }} value="Exame">Exame</option>
                                            <option {{checked reserva.tipo 'Reunião' }} value="Reunião">Reunião</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="SalaId">
                                        <font color="#FF0000">*</font> Sala:
                                    </label>
                                    <select class="form-control" id="salaId" name="salaId" required>
                                        {{#each salas}}
                                        <option {{checked reserva.salas.id id }} value="{{id}}">{{nome}} - {{bloco}} -
                                            {{andar}}° andar</option>
                                        {{/each}}
                                    </select>

                                </div>

                                <div class="row">

                                    <div class="form-group ">
                                        <label for="carta_recomendacao">
                                            <font color="#FF0000"></font> &nbsp&nbsp &nbspEssa Reserva se repete?
                                            &nbsp&nbsp
                                        </label>
                                    </div>
                                    <div class="form-group ">
                                        <input type="checkbox" name="unica" data-bootstrap-switch
                                            data-off-color="danger" {{checkedUnica reserva.dias}}
                                            data-on-color="success" data-on-text="Sim" data-off-text="Não" value="1"
                                            id="unica">
                                    </div>
                                </div>




                                <div class="form-group " id="conditionalInput">

                                    <label class="control-label" id="dia" for="candidato-nome">
                                        <font color="#FF0000"> &nbsp&nbsp</font>
                                        <b>Dias da semana:</b>
                                    </label>

                                    <label class="checkbox-inline ml-2 ">
                                        <input {{checkedIn reserva.dias 'Segunda' }} type="checkbox" id="segunda"
                                            name="dia" value="Segunda">
                                        Segunda
                                    </label>

                                    <label class="checkbox-inline ml-4 ">
                                        <input {{checkedIn reserva.dias 'Terça' }} type="checkbox" id="terca"
                                            name="dia" value="Terça">
                                        Terça
                                    </label>

                                    <label class="checkbox-inline ml-4">
                                        <input {{checkedIn reserva.dias 'Quarta' }} type="checkbox" id="quarta"
                                            name="dia" value="Quarta">
                                        Quarta
                                    </label>
                                    <label class="checkbox-inline ml-4">
                                        <input {{checkedIn reserva.dias 'Quinta' }} type="checkbox" id="quinta"
                                            name="dia" value="Quinta">
                                        Quinta
                                    </label>
                                    <label class="checkbox-inline ml-4">
                                        <input {{checkedIn reserva.dias 'Sexta' }} type="checkbox" id="sexta"
                                            name="dia" value="Sexta">
                                        Sexta
                                    </label>
                                    <label class="checkbox-inline ml-4">
                                        <input {{checkedIn reserva.dias 'Sábado' }} type="checkbox" id="sabado"
                                            name="dia" value="Sábado">
                                        Sábado
                                    </label>
                                    <div class="invalid-feedback" id="diaErro">Escolha os dias da semana. Por
                                        favo,</div>

                                </div>


                                <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="dataInicio" id="dataInicioLabel">
                                    <font color="#FF0000">*</font> Data Inicial:
                                    </label>
                                    <div class="input-group date " data-target-input="nearest">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    <input type="date" class="form-control datetimepicker-input "
                                        placeholder="Data de Início" value="{{reserva.dataInicio}}"
                                        id="dataInicio" name="dataInicio"
                                        data-inputmask-inputformat="dd/mm/yyyy" required>
                                    <div class="invalid-feedback" id="dataInicioError">Data inválida. Por favor,
                                        insira datas válidas.</div>
                                    </div>
                                </div>
                                <div class="form-group col-md-6" id="conditionalInput2">
                                    <label for="dataFim">
                                    <font color="#FF0000">*</font> Data Término:
                                    </label>
                                    <div class="input-group date" data-target-input="nearest">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    <input type="date" class="form-control datetimepicker-input"
                                        placeholder="Data de Término" value="{{reserva.dataFim}}"
                                        id="dataFim" name="dataFim"
                                        data-inputmask-inputformat="dd/mm/yyyy">
                                    <div class="invalid-feedback" id="dataFimError">Data inválida. Por favor,
                                        insira datas válidas.</div>
                                    </div>
                                </div>
                                </div>

                                <div class="row">
                                    <div class="form-group  col-md-6 ">
                                        <label for="horaInicio">
                                            <font color="#FF0000">*</font> Hora Inicial:
                                        </label>
                                        <div class="input-group date" data-target-input="nearest">
                                            <div class="input-group-append" data-target="#horaTermino"
                                                data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-clock"></i></div>
                                            </div>
                                            <input type="time" class="form-control datetimepicker-input"
                                                data-target="#horaInicio" value={{reserva.horaInicio}} id="horaInicio"
                                                name="horaInicio" placeholder='HH:mm'>

                                        </div>
                                    </div>
                                    <div class="form-group col-md-6 ">
                                        <label for="horaTermino">
                                            <font color="#FF0000">*</font> Hora Término:
                                        </label>
                                        <div class="input-group date" data-target-input="nearest">
                                            <div class="input-group-append" data-target="#horaTermino"
                                                data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-clock"></i></div>
                                            </div>
                                            <input type="time" class="form-control  datetimepicker-input"
                                                data-target="#horaTermino" value={{reserva.horaTermino}}
                                                id="horaTermino" name="horaTermino" placeholder='HH:mm'>
                                            <div class="invalid-feedback" id="horaTerminoError">Hora inválida. Por
                                                favor,
                                                insira horas válidas.</div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="card-footer pr-0">
                                <div style="margin-right: auto;" class="d-flex justify-content-end">
                                    <button type="submit" class="btn btn-success float-right">
                                        Editar Reserva
                                    </button>

                                </div>
                            </div>
                        </form>


                    </div>
                </div>
            </div>
            <!-- /.card -->
    </section>
</div>



<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<script>
    toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": false,
        "progressBar": true,
        "positionClass": "toast-top-right",
        "preventDuplicates": true,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }

    $(document).ready(function () {
        const dataInicioLabel = document.querySelector('#dataInicioLabel');
        const conditionalInput = document.getElementById('conditionalInput');
        const conditionalInput2 = document.getElementById('conditionalInput2');
        const unicaCheckBox = $("#unica");

        // Initialize the switch
        $("input[data-bootstrap-switch]").each(function () {
            $(this).bootstrapSwitch('state', $(this).is(':checked'));
        });

        // Function to toggle the display based on the checkbox state
        function toggleConditionalInput(state) {
            if (state) {
                dataInicioLabel.innerHTML = '<font color="#FF0000">*</font> Data Inicial:';
                conditionalInput.style.display = 'block';
                conditionalInput2.style.display = 'block';
            } else {
                dataInicioLabel.innerHTML = '<font color="#FF0000">*</font> Data:';
                conditionalInput.style.display = 'none';
                conditionalInput2.style.display = 'none';
            }
        }

        // Set the initial state of the conditional input based on the checkbox state
        toggleConditionalInput(unicaCheckBox.is(':checked'));

        // Switch change logic
        unicaCheckBox.on('switchChange.bootstrapSwitch', function (event, state) {
            toggleConditionalInput(state);
        });
    });




    function diasSemana() {
        let dias = ""
        dias += $("#segunda").prop("checked") ? "Segunda" : ""
        dias += $("#terca").prop("checked") ? "Terça" : ""
        dias += $("#quarta").prop("checked") ? "Quarta" : ""
        dias += $("#quinta").prop("checked") ? "Quinta" : ""
        dias += $("#sexta").prop("checked") ? "Sexta" : ""
        dias += $("#sabado").prop("checked") ? "Sábado" : ""

        return dias
    }

    function pegaDados() {

        const unica = $("#unica").prop("checked"); ''
        const SalaId = $("#unica").val();
        const dataInicio = $("#dataInicio").val();
        const dataTermino = unica ? dataInicio : $("#dataTermino").val();
        const horaInicio = $("#horaInicio").val() + ":00";
        const horaTermino = $("#horaTermino").val() + ":00";
        const id = $("#id").val();

        let dias = diasSemana()

        //verificacao do caso data unica
        if (!unica) {
            const data = new Date(document.getElementById("dataInicio").value);
            const diaDaSemana = data.getDay();
            const nomesDosDias = ["Segunda", "Terça", "Quarta", "Quinta", "Sexta", "Sábado"];
            dias = nomesDosDias[diaDaSemana];
        }

        return {
            unica,
            SalaId,
            dataInicio,
            dataTermino,
            horaInicio,
            horaTermino,
            dias,
            id
        };
    }
    document.querySelector('.expand-btn').addEventListener('click', function () {
        const card = document.querySelector('.card');

        if (card.style.width !== "100%") {
            card.style.width = "100%";
        } else {
            card.style.width = "50%"; // ou qualquer tamanho padrão que você deseja
        }
    });
    async function buscarReservas() {
        try {
            const response = await fetch('/reservas/listar'); // Rota para buscar reservas
            console.log(response,'oioioioioio')
            if (!response.ok) {
                throw new Error('Erro ao buscar reservas');
            }
            const data = await response.json();
            return data;
        } catch (error) {
            console.error(error);
            return [];
        }
    }

    function verificaConflitoComReservas(novaReserva, reservasExistente) {
        for (const reserva of reservasExistente) {


            if (reserva.id == novaReserva.id) {
                continue
            }
            // Verifica se a nova reserva está dentro do período de alguma reserva existente
            if (novaReserva.dataInicio <= reserva.dataTermino && novaReserva.dataTermino >= reserva.dataInicio) {

                //verificacao do caso data unica
                if (reserva.dataInicio == reserva.dataTermino) {
                    const data = new Date(reserva.dataInicio);
                    const diaDaSemana = data.getDay(); // Obtém o dia da semana (0 a 6)

                    // Mapeia o número do dia da semana para o nome do dia
                    const nomesDosDias = ["Segunda", "Terça", "Quarta", "Quinta", "Sexta", "Sábado"];
                    dias = nomesDosDias[diaDaSemana];
                }
                console.log(novaReserva)
                const diasEmComum = reserva.dias.split(', ').some(dia => novaReserva.dias.includes(dia));

                // Verifica se há sobreposição nas horas
                if (diasEmComum && novaReserva.horaInicio < reserva.horaTermino && novaReserva.horaTermino > reserva.horaInicio) {
                    console.log(reserva)
                    return true; // Conflito encontrado
                }
            } else {

            }
        }

        // Não há conflito
        return false;
    }

    document.getElementById("formAdicionarSala").addEventListener("submit", async function (event) {
        event.preventDefault();

        const dataInputElement = document.getElementById("dataInicio");
        const dataInputValue = dataInputElement.value;
        console.log(dataInputValue)

        // Cria a data assumindo que a entrada é uma data local sem horário.
        // Isso vai evitar a interpretação da string como uma data UTC.
        const partesData = dataInputValue.split('-'); // Assume o formato AAAA-MM-DD
        const ano = parseInt(partesData[0], 10);
        const mes = parseInt(partesData[1], 10) - 1; // Mês é indexado em 0
        const dia = parseInt(partesData[2], 10);

        const dataInicio = new Date(ano, mes, dia);

        // Se você quiser também eliminar a questão do horário, pode definir explicitamente para zero.
        dataInicio.setHours(0, 0, 0, 0);
        let dataFim = new Date(document.getElementById("dataTermino").value);
        const horaInicio = document.getElementById("horaInicio").value
        const horaTermino = document.getElementById("horaTermino").value
        const unica = $("#unica").prop("checked");
        const dias = diasSemana()

        const agora = new Date();
        agora.setHours(0, 0, 0, 0);

        // Verifica se as datas termino
        if (isNaN(dataFim.getTime())) {
            console.log('1')
            if (!unica) {
                dataFim = dataInicio
            } else {
                toastr.error("Por favor, insira uma data.");
                document.getElementById("dataTerminoError").textContent = "Por favor, insira uma data.";
                document.getElementById("dataTermino").classList.add("is-invalid");
                return;
            }

            document.getElementById("dataTerminoError").textContent = "";
            document.getElementById("dataTermino").classList.remove("is-invalid");
        }
        // Verifica se a data de início é anterior à dataatuall
        if (dataInicio < agora) {
            console.log('1.5')
            toastr.error("A data de Inicio deve ser posterior à data de hoje.");

            document.getElementById("dataInicioError").textContent = "A data de Inicio deve ser posterior à data de hoje.";
            document.getElementById("dataInicio").classList.add("is-invalid");
            return;
        } else {
            document.getElementById("dataInicioError").textContent = "";
            document.getElementById("dataInicio").classList.remove("is-invalid");
        }
        // Verifica se a data de início é anterior à data de fim
        if (dataInicio > dataFim) {
            console.log('2')
            toastr.error("A data de termino deve ser posterior à data de inicio.");

            document.getElementById("dataTerminoError").textContent = "A data de termino deve ser posterior à data de inicio.";
            document.getElementById("dataTermino").classList.add("is-invalid");
            return;
        } else {
            document.getElementById("dataTerminoError").textContent = "";
            document.getElementById("dataTermino").classList.remove("is-invalid");
        }

        // Verifica se a hora de início é anterior à hora de fim
        if (horaInicio >= horaTermino) {
            console.log('3')
            toastr.error("A hora de termino deve ser posterior à hora de inicio.");

            document.getElementById("horaTerminoError").textContent = "A hora de termino deve ser posterior à hora de inicio.";
            document.getElementById("horaTermino").classList.add("is-invalid");
            return;
        } else {
            document.getElementById("horaTerminoError").textContent = "";
            document.getElementById("horaTermino").classList.remove("is-invalid");
        }

        // Verifica se dias da semana está selecionado

        if (unica & dias == "") {
            console.log('4')
            toastr.error("Escolha os dias da semana. Por favor.");

            document.getElementById("diaErro").textContent = "Escolha os dias da semana. Por favor.";
            document.getElementById("dia").classList.add("is-invalid");
            return;
        } else {
            document.getElementById("diaErro").textContent = "";
            document.getElementById("dia").classList.remove("is-invalid");
        }


        const reservas = await buscarReservas();
        reserva = pegaDados()

        console.log(reservas.reservas)
        console.log(reserva)

        // Verificar se a nova reserva entra em conflito com as reservas existentes
        const conflito = verificaConflitoComReservas(reserva, reservas.reservas);

        if (conflito) {
            console.log('5')
            toastr.error('Existe um conflito com as reservas existente nesse horário!');
            document.getElementById("dataInicioError").textContent = "Existe um conflito com as reservas existente nesse horário";
            document.getElementById("dataInicio").classList.add("is-invalid");
            document.getElementById("dataTermino").classList.add("is-invalid");
            document.getElementById("horaInicio").classList.add("is-invalid");
            document.getElementById("horaTermino").classList.add("is-invalid")

            return;

        } else {
            localStorage.setItem('toastMessage', 'Reserva adicionada com sucesso!');
            localStorage.setItem('toastType', 'success');

            document.getElementById("dataInicioError").textContent = "";
            document.getElementById("dataInicio").classList.remove("is-invalid");
            document.getElementById("dataTermino").classList.remove("is-invalid");
            document.getElementById("horaInicio").classList.remove("is-invalid");
            document.getElementById("horaTermino").classList.remove("is-invalid");
        }

        const form = document.getElementById("formAdicionarSala");
        form.submit();

    });

</script>

{{> footer}}