<nav class="dropdown container-language" aria-label="Language selection">
  <!-- Botão para exibir/ocultar o menu de idiomas -->
  <button
    class="nav-link dropdown-toggle btn text-dark"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    {{#if (eq currentLanguage "ptBR")}}
      <!-- Texto alternativo claro, descrevendo a bandeira -->
      <img class="icon-language" src="/public/img/icons/brazil.png" alt="Bandeira do Brasil">
      {{__ "ppgi.portuguese"}}
    {{else}}
      <img class="icon-language" src="/public/img/icons/united-states.png" alt="Bandeira dos Estados Unidos">
      {{__ "ppgi.english"}}
    {{/if}}
  </button>

  <!-- Lista de opções de idiomas -->
  <ul class="dropdown-menu dropdown-menu-right p-0" role="menu">
    <li>
      <a
        class="dropdown-item {{#if (eq currentLanguage "ptBR")}}active{{/if}}"
        href="/changeLanguage/ptBR"
        role="menuitem"
      >
        <img class="icon-language" src="/public/img/icons/brazil.png" alt="Bandeira do Brasil">
        {{__ "ppgi.portuguese"}}
      </a>
    </li>
    <li>
      <a
        class="dropdown-item {{#if (eq currentLanguage "en")}}active{{/if}}"
        href="/changeLanguage/en"
        role="menuitem"
      >
        <img class="icon-language" src="/public/img/icons/united-states.png" alt="Bandeira dos Estados Unidos">
        {{__ "ppgi.english"}}
      </a>
    </li>
  </ul>
</nav>
