<div>
  Caro(a)
  {{recomendacao.nome}},
  <br />
  <br />
  A carta de recomendação enviada para
  {{recomendacao.Candidato.nome}}
  (email:
  <a
    href='malito:{{recomendacao.Candidato.email}}'
  >{{recomendacao.Candidato.email}}</a>) foi devidamente respondida.
  <br />
  Em caso de dúvidas, por favor nos contate. Agradecemos sua colaboração.
  <br />
  <p>
    Coordenação do PPGI -
    {{dataAtualExtensa}}
    <br />
  </p>
</div>