<tr>
  <td style="padding: 20px; font-family: Arial, sans-serif; color: #333333;">
    <p style="font-size: 16px; line-height: 1.5;">
      Caro(a)
      {{recomendacao.nome}},
    </p>
    <p style="font-size: 16px; line-height: 1.5;">
      Você foi requisitado(a) por
      {{candidato.nome}}
      (email:
      <a href='mailto:{{candidato.email}}'>{{candidato.email}}</a>) para escrever
      uma carta de recomendação para o processo de seleção do Programa de
      Pós-Graduação em Informática (PPGI) da Universidade Federal do Amazonas
      (UFAM).
    </p>
    <p style="font-size: 16px; line-height: 1.5;">
      Para isso, a carta deve ser preenchida eletronicamente utilizando o link:<br />
      <a href='{{urlSend}}'>{{urlSend}}</a><br />
      O prazo para preenchimento da carta é
      {{formatarDataExtensa recomendacao.prazo}}.<br />
      Em caso de dúvidas, por favor, entre em contato com
      <a
        href='mailto:secretariappgi@icomp.ufam.edu.br'
      >secretariappgi@icomp.ufam.edu.br</a>. Não responda este email.<br />
      Agradecemos sua colaboração.
    </p>

    <p style="font-size: 16px; line-height: 1.5;">
      Atenciosamente,<br>
      <strong> Coordenação do PPGI - {{dataAtualExtensa}}</strong>
    </p>
    <p style="font-size: 16px; line-height: 1.5;">
      English:
    </p>
    <p style="font-size: 16px; line-height: 1.5;">

    <p style="font-size: 16px; line-height: 1.5;">
      Dear {{recomendacao.nome}},
    </p>
    <p style="font-size: 16px; line-height: 1.5;">
      You have been requested by
      {{candidato.nome}}
      (email:
      <a href='mailto:{{candidato.email}}'>{{candidato.email}}</a>) to write a
      recommendation letter for the selection process of the Graduate Program in
      Informatics (PPGI) at the Federal University of Amazonas (UFAM).
    </p>
    <p style="font-size: 16px; line-height: 1.5;">
      The letter must be completed electronically using the following link:<br />
      <a href='{{urlSend}}'>{{urlSend}}</a><br />
      The deadline to submit the letter is
      {{dataAtualToLocaleString recomendacao.prazo}}.<br />
      If you have any questions, please contact
      <a
        href='mailto:secretariappgi@icomp.ufam.edu.br'
      >secretariappgi@icomp.ufam.edu.br</a>. Do not reply to this email.<br />
      We appreciate your collaboration.
    </p>
    <p style="font-size: 16px; line-height: 1.5;">
      Yours sincerely,<br>
      <strong> PPGI Coordination - {{dataAtualExtensaEng}}</strong>
    </p>
  </td>
</tr>