{{> header}}
{{> sidebar module='salas' page='salas-gerenciar'}}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-9">
                    <h1>Lista de Salas</h1>
                </div>
                <div class="col-sm-3">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Salas</a></li>
                        <li class="breadcrumb-item active">Listar</li>
                    </ol>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-2 col-md-3 col-lg-2 min-width-button">
                    <a type="button" class="btn btn-block btn-primary" href="/salas/adicionar">
                        <i class="fas fa-user-plus color-white"></i>
                        Adicionar Sala
                    </a>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                     
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                     <tr style="text-align: center;"> 
                                        <th>Nome</th>
                                        <th>Número</th>
                                        <th>Bloco</th>
                                        <th>Andar</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each salas}}
                                    <tr style="text-align: center;"> 
                                        <td> {{nome}} </td>
                                        <td> {{numero}} </td>
                                        <td> {{bloco}} </td>
                                        <td> {{andar}} </td>
                                        <td style="text-align: center;"> 
                                           

                                              <a class="btn btn-primary btn-sm" href="/salas/editar/{{id}}">
                                                <i class="fas fa-pencil-alt"></i>
                                            </a> 
                                                                                          
                                               <a data-id="{{id}}" data-bloco="{{bloco}}"  data-andar="{{andar}}"  class="btn btn-danger btn-sm" onclick="deleteSala(this)">
                                                <i class="fas fa-trash"></i>
                                            </a>

                                                                              
                                    </tr>

                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>


<script>
function deleteSala(element){
    var salaId = element.getAttribute("data-id");
    console.log(salaId);
    let r = confirm("Deseja realmente excluir a sala " + element.getAttribute('data-andar') + " do bloco " + element.getAttribute('data-bloco') + "?");
    if (r == true) {
        var url = '/salas/excluir/' + salaId;
        $.ajax({
            url: url,
            type: 'DELETE',
            success: function(result){
                alert('Sala excluído com sucesso!');
                location.reload();
            },
            error: function(result){
                alert('Erro ao excluir sala!');
            }
        });
    }
}
     
</script>

{{> footer}}