{{> header}}
{{> sidebar module='salas' page='salas-editar'}}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-9">
                    <h1>Editar Sala</h1>
                </div>
                <div class="col-sm-3">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/salas/gerenciar">Salas</a></li>
                        <li class="breadcrumb-item active">Editar</li>
                    </ol>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-4 col-md-3 col-lg-1 min-width-button">
                    <a type="button" class="btn btn-block btn-secondary" href="/salas/gerenciar">
                        <i class="fa fa-arrow-left color-white"></i>
                        Voltar
                    </a>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="col-md-8">
                <div class="card card-light">
                    <form method="POST" action="/salas/editar/{{sala.id}}" id="editSalaForm">
                        <input type="hidden" name="_csrf" value="{{csrf}}"/> 
                        <div class="card-body">
                            <div class="form-group">
                                <label for="nomeSalaInput">
                                    <font color="#FF0000"></font> Nome:
                                </label>
                                <input type="text" class="form-control" id="nome" name="nome" placeholder="Insira o nome da sala" value="{{sala.nome}}" >
                            </div>

                            <div class="form-group">
                                <label for="numSalaInput">
                                    Número:
                                </label>
                                <input type="number" class="form-control" id="numero" name="numero" placeholder="Ex. 1241" value="{{sala.numero}}" >
                            </div>

                            
                            <div class="form-group">
                                <label for="blocSalaInput">
                                    <font color="#FF0000">*</font> Bloco:
                                </label>
                                <input type="text" class="form-control" id="bloco" name="bloco" placeholder="Ex. IComp 1"  value="{{sala.bloco}}" required> 
                            </div>

                           <div class="form-group">
                                <label for="andarSalaInput">
                                    <font color="#FF0000">*</font> Andar:
                                </label>
                                <input type="number" class="form-control" id="andar" name="andar" placeholder="Ex. 3" value="{{sala.andar}}" required> 
                            </div>


                            <div class="form-group">
                                <label for="capSalaInput">
                                    <font color="#FF0000"></font> Capacidade:
                                </label>
                                <input type="number" class="form-control" id="capacidade" name="capacidade" value="{{sala.capacidade}}"  placeholder="10"> 

                            </div>
                          
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <input type="submit" class="btn btn-primary" value="Salvar" />
                        </div>
                    </form>
                </div> 
        </div>
        <!-- /.card -->
    </section>
</div>



<script>
    
    function submitForm(id) {
        const dataFromForm = $('#editSalaForm').serializeArray();
      
        $.ajax({
            url: "salas/editar/" + id,
            type: 'PUT',
            data: dataFromForm,
            success: function (data) {
                
                alert("Form successful update!");
                window.location.href = '/salas/gereniar'
                
                $.validator.setDefaults({
                    submitHandler: function () {
                    },
                    onfocusout: function (el) {
                        this.element(el);
                    },
                });
            },
            error: function (data) {
                alert("Erro ao atualizar sala!");
                console.log(data);
            }
        });
        
    }

</script>
{{> footer}}