{{ setTitle title=('__ppgiBegin.title_header')}}

<style>
    .card .title{
        font-size: 1.5rem;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 0px;
        margin-left: 0.125rem;
        margin-right: 0.125rem;
    }
</style> 
<section class="login-box">
    <header class="login-logo container-cards">
		<img src="/public/img/logo-icomp.png" alt="">
    	<img src="/public/img/logo-ufam.png" alt="">
  	</header>
    <div class="card">
        <h2 class="title">
           {{__ "ppgiBegin.title"}}
        </h2>
        <div class="card-body login-card-body">
            <div class="info">
                <span>{{__ "ppgiBegin.candidate.title"}}</span>
                <li><b>{{__ "ppgiBegin.candidate.instructions.new_inscription.title"}}</b> {{__ "ppgiBegin.candidate.instructions.new_inscription.description"}}</li>
                <li><b>{{__ "ppgiBegin.candidate.instructions.continue_inscription.title"}}</b> {{__ "ppgiBegin.candidate.instructions.continue_inscription.description"}}</li>
            </div>
            <div class="options row  mt-2">
                <div class="col-md-6">
                    <a name="nova-inscricao" id="" 
                        class="btn btn-primary btn-block btn-flat" 
                        href="/selecaoppgi/cadastro" role="button">
                          {{__ "ppgiBegin.new_inscription"}}
                    </a>
                    <br/>
                </div>
                <div class="col-md-6">
                    <a name="nova-inscricao" id="" 
                        class="btn btn-block btn-flat bg-green px-0" 
                        href="/selecaoppgi/entrar" role="button">
                        {{__ "ppgiBegin.continue_inscription"}}
                    </a>
                    <br/>
                </div>
            </div>
        </div>
    </div>
    {{> ppgi/selectLanguage}}
</section>
