{{ setTitle title="Revisão dados" }}
<!-- Modal de Confirmação -->
<div
  class="modal fade mt-5"
  id="confirm-register"
  tabindex="-1"
  role="dialog"
  aria-labelledby="confirm-register-title"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirm-register-title">
          {{__ "ppgiForm3.finalizar"}}
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <p>{{__ "ppgiForm3.finalizar"}}</p>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary color-white"
          data-dismiss="modal"
        >
          {{__ "ppgi.form.cancel"}}
        </button>
        <button
          id="confirmButton"
          type="button"
          class="btn btn-warning color-white"
          onclick="finishRegister()"
        >
          {{__ "ppgi.form.confirm"}}
          <span
            class="spinner-border spinner-border-sm"
            hidden="hidden"
            role="status"
            aria-hidden="true"
          ></span>
        </button>
      </div>
    </div>
  </div>
</div>

<main class="forms-page" style="min-height: 100dvh">
  <header>
    <div class="container d-flex justify-content-between align-items-center px-3">
      <h1 class="header-title">PPGI</h1>
      <div class="options">
        {{> ppgi/selectLanguageHeader}}
        <button class="p-0" id="btn_inicio">{{__ "ppgi.header.initButton"}}</button>
        <button class="p-0" id="btn_logout">{{__ "ppgi.header.logoutButton"}}</button>
      </div>
    </div>
  </header>

  <section class="content container px-3" >
    {{> ppgi/nav indexSelect="4" progress="75"}}

    <main class="w-100 d-flex justify-content-between flex-column" style="flex: 1;">
      <div>
        <div class="callout callout-info">
          <h5><i class="fas fa-info"></i> Atenção</h5>
          <p>
            Você está atualmente na <strong>etapa de revisão da sua candidatura</strong>.
            Nesta fase, é fundamental conferir cuidadosamente todas as informações
            fornecidas nas etapas anteriores.
          </p>
          <p>
            Caso identifique qualquer inconsistência ou deseje realizar ajustes,
            utilize as opções disponíveis para retornar às etapas anteriores e efetuar
            as correções necessárias.
          </p>
          <p>
            <strong>Se todas as informações estiverem corretas</strong>, você pode
            prosseguir e <strong>finalizar sua inscrição</strong> utilizando a opção
            disponível ao final desta página.
          </p>
        </div>

        <div class="card card-primary  w-full">
          <div class="card-header">
            <h3 class="card-title">
              Dados
            </h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="card-body" style="overflow-x:auto;">
            <table id="example2" class="table table-bordered table-hover">
              <tbody>
              <tr>
                <th class="col-3">Nome Completo</th>
                <td>{{candidato.nome}}</td>
              </tr>
              <tr>
                <th class="col-3">Endereço</th>
                <td>{{candidato.endereco}}</td>
              </tr>
              <tr>
                <th class="col-3">Bairro</th>
                <td>{{candidato.bairro}}</td>
              </tr>
              <tr>
                <th class="col-3">Cidade</th>
                <td>{{candidato.cidade}}</td>
              </tr>
              <tr>
                <th class="col-3">Estado</th>
                <td>{{candidato.uf}}</td>
              </tr>
              <tr>
                <th class="col-3">CEP</th>
                <td>{{candidato.cep}}</td>
              </tr>
              <tr>
                <th class="col-3">E-mail</th>
                <td>{{candidato.email}}</td>
              </tr>
              <tr>
                <th class="col-3">Data de nascimento</th>
                <td>{{#if (notEmpty candidato.dataNascimento)}} {{formataData candidato.dataNascimento}}{{/if}}</td>
              </tr>
              <tr>
                <th class="col-3">Nacionalidade</th>
                <td>{{candidato.nacionalidade}}</td>
              </tr>

              {{#if (notEmpty candidato.cpf)}}
                <tr>
                  <th class="col-3">CPF</th>
                  <td>{{candidato.cpf}}</td>
                </tr>
              {{/if}}
              {{#if (notEmpty candidato.passaporte)}}
                <tr>
                  <th class="col-3">Passaporte</th>
                  <td>{{candidato.passaporte}}</td>
                </tr>
              {{/if}}
              {{#if (notEmpty candidato.pais)}}
                <tr>
                  <th class="col-3">País</th>
                  <td>{{candidato.pais}}</td>
                </tr>
              {{/if}}
              <tr>
                <th class="col-3">Sexo</th>
                <td><span class="{{#if (notEmpty candidato.sexo)}}">{{formataBioSex candidato.sexo}}
                {{else}}badge bg-danger">Não Informado{{/if}}</span></td>
              </tr>
              <tr>
                <th class="col-3">Telefone Principal</th>
                <td>{{candidato.telefone}}</td>
              </tr>
              <tr>
                <th class="col-3">Telefone Alternativo</th>
                <td>{{candidato.telefoneSecundario}}</td>
              </tr>
              <tr>
                <th class="col-3">Regime de Dedicação</th>
                <td>{{candidato.regime}}</td>
              </tr>
              <tr>
                <th class="col-3">Curso desejado</th>
                <td>{{candidato.cursoDesejado}}</td>
              </tr>

              <tr>
                <th class="col-3">Solicita Bolsa?</th>
                <td><span class="{{#if (eq candidato.bolsista '1')}} badge bg-success">Sim{{else}}badge bg-danger">Não{{/if}}</span></td>
              </tr>
              <tr>
                <th class="col-3">Tae?</th>
                <td><span class="{{#if (eq candidato.tae '1')}} badge bg-success">Sim{{else}}badge bg-danger">Não{{/if}}</span></td>
              </tr>
              <tr>
                <th class="col-3">Cotista?</th>
                <td>
                  {{#if (eq candidato.cotista '1')}}
                    {{candidato.cotistaTipo}}
                  {{else}}
                    <span class="badge bg-danger">Não</span>
                  {{/if}}
                </td>
              </tr>
              {{#if  (eq candidato.cotista '1') }}
                {{#if (or (eq candidato.cotistaTipo 'indigena')  (eq candidato.cotistaTipo 'pcd'))}}
                  <tr>
                    <th class="col-3">Comprovante cota</th>
                    <td>
                      <span class="{{#if candidatoDocs.ComprovanteCota}}">
                        <a style="margin-right: 16px"
                           title="Visualizar"
                           target="_blank"
                           href="/view/arquivo/ComprovanteCota.pdf"
                           class='fa fa-solid fa-eye'></a>
                        <a  style="margin-right: 3px"
                            title="Baixar"
                            href="/download/arquivo/ComprovanteCota.pdf"
                            class='fa fa-solid fa-download'></a>
                      {{else}}badge bg-warning">Pendente{{/if}}
                      </span>
                    </td>
                  </tr>
                {{/if}}
                {{#if (or (eq candidato.cotistaTipo 'negro')  (eq candidato.cotistaTipo 'pardo'))}}
                  <tr>
                    <th class="col-3">Autodeclaração (PDF)</th>
                    <td>
                      <span class="{{#if candidatoDocs.Autodeclaracao}}">
                        <a style="margin-right: 16px"
                           title="Visualizar"
                           target="_blank"
                           href="/view/arquivo/AutodeclaracaoCiencia.pdf"
                           class='fa fa-solid fa-eye'></a>
                        <a  style="margin-right: 3px"
                            title="Baixar"
                            href="/download/arquivo/AutodeclaracaoCiencia.pdf"
                            class='fa fa-solid fa-download'></a>
                      {{else}}badge bg-warning">Pendente{{/if}}
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <th class="col-3">Autodeclaração (Vídeo)</th>
                    <td>
                      <span class="{{#if candidatoDocs.AutodeclaracaoVideo}}">
                        <a style="margin-right: 16px"
                           title="Visualizar"
                           target="_blank"
                           href="/view/arquivo/VideoAutodeclaracao.mp4"
                           class='fa fa-solid fa-eye'></a>
                        <a  style="margin-right: 3px"
                            title="Baixar"
                            href="/download/arquivo/VideoAutodeclaracao.mp4"
                            class='fa fa-solid fa-download'></a>
                      {{else}}badge bg-warning">Pendente{{/if}}
                      </span>
                    </td>
                  </tr>
                {{/if}}
              {{/if}}
              <tr>
                <th class="col-3">Possui algum tipo de problema de saúde física ou psiquiátrica?</th>
                <td>
                  {{#if (eq candidato.condicao '1')}}
                    {{candidato.condicaoTipo}}
                  {{else}}
                    <span class="badge bg-danger">Não</span>
                  {{/if}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="card card-primary w-full">
          <div class="card-header">
            <h3 class="card-title">
              Histórico Acadêmico
            </h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="card-body" style="overflow-x:auto;">
            <table id="example2" class="table table-bordered table-hover">
              <tbody>




              <tr>
                <th class="col-3">Curriculum (PDF)</th>
                <td>
                <span class="{{#if candidatoDocs.Curriculum}}">
                  <a style="margin-right: 16px"
                     title="Visualizar"
                     target="_blank"
                     href="/view/arquivo/Curriculum.pdf"
                     class='fa fa-solid fa-eye'></a>
                  <a  style="margin-right: 3px"
                      title="Baixar"
                      href="/download/arquivo/Curriculum.pdf"
                      class='fa fa-solid fa-download'></a>
                {{else}}badge bg-warning">Pendente{{/if}}
                </span>
                </td>
              </tr>
              <tr>
                <th class="col-3">Curso de graduação</th>
                <td>
                  {{#if (notEmpty candidato.cursoGraduacao)}}
                    <span>
                      {{candidato.cursoGraduacao}}
                    </span>
                  {{else}}
                    <span class="badge bg-danger">Não Registrado</span>
                  {{/if}}
                </td>
              </tr>
              <tr>
                <th class="col-3">Instituição da graduação</th>
                <td>
                  {{#if (notEmpty candidato.instituicaoGraduacao)}}
                    <span>{{candidato.instituicaoGraduacao}}</span>
                  {{else}}
                    <span class="badge bg-danger">Não Registrado</span>
                  {{/if}}
                </td>
              </tr>
              <tr>
                <th class="col-3">Ano de Egresso na Graduação</th>
                <td>
                  {{#if (notEmpty candidato.anoEgressoGraduacao)}}
                    {{candidato.anoEgressoGraduacao}}
                  {{else}}
                    <span class="badge bg-danger">Não Registrado</span>
                  {{/if}}
                </td>
              </tr>
              <tr>
                <th class="col-3">Curso de Pós Graduação</th>
                <td>
                  {{#if (notEmpty candidato.cursoPos)}}
                    {{candidato.cursoPos}}
                  {{else}}
                    <span class="badge bg-danger">Não Registrado</span>
                  {{/if}}
                </td>
              </tr>
              <tr>
                <th class="col-3">Tipo de Pós Graduação</th>
                <td>
                  {{#if (notEmpty candidato.tipoPos)}}
                    {{candidato.tipoPos}}
                  {{else}}
                    <span class="badge bg-danger">Não Registrado</span>
                  {{/if}}
                </td>
              </tr>
              <tr>
                <th class="col-3">Instituição da Pós Graduação</th>
                <td>
                  {{#if (notEmpty candidato.instituicaoPos)}}
                    {{candidato.instituicaoPos}}
                  {{else}}
                    <span class="badge bg-danger">Não Registrado</span>
                  {{/if}}
                </td>
              </tr>
              <tr>
                <th class="col-3">Ano de Egresso na Pós Graduação</th>
                <td>
                  {{#if (notEmpty candidato.anoEgressoPos)}}
                    {{candidato.anoEgressoPos}}
                  {{else}}
                    <span class="badge bg-danger">Não Registrado</span>
                  {{/if}}
                </td>
              </tr>
              </tbody>
            </table>
            <hr />
            <h4><b>Experiências Acadêmicas</b></h4>
            {{#if candidato.experienciasAcademicas.length}}
              <div class="table-responsive">
                <table class="table table-bordered table-hover mt-2">
                  <thead>
                  <tr>
                    <th>Instituição</th>
                    <th>Atividade</th>
                    <th>Período</th>
                  </tr>
                  </thead>
                  <tbody>
                  {{#each candidato.experienciasAcademicas}}
                    <tr>
                      <td>{{this.instituicao}}</td>
                      <td>{{this.atividade}}</td>
                      <td>{{this.periodo}}</td>
                    </tr>
                  {{/each}}
                  </tbody>
                </table>
              </div>
            {{else}}
              <p class="badge bg-warning mt-2">Nenhuma experiência acadêmica registrada.</p>
            {{/if}}
            <hr />
            <h4><b>Publicações Acadêmicas</b></h4>

            {{#if candidato.publicacoes.length}}
              {{#each (groupByTipo candidato.publicacoes) as |grupo tipoId|}}
                <div id="accordionTipo{{tipoId}}" class="mb-3">
                  <div class="card">
                    <div class="card-header" id="headingTipo{{tipoId}}">
                      <h5 class="mb-0 d-flex justify-content-between align-items-center">
                        <button class="btn  collapsed d-flex justify-content-between w-100" data-toggle="collapse" data-target="#collapseTipo{{tipoId}}" aria-expanded="false" aria-controls="collapseTipo{{tipoId}}">
                                        <span>
                                          {{#if (eq tipoId 1)}} Periódicos
                                          {{else if (eq tipoId 2)}} Eventos
                                          {{else if (eq tipoId 3)}} Livros
                                          {{else if (eq tipoId 4)}} Capítulos
                                          {{else if (eq tipoId 5)}} Outras
                                          {{else if (eq tipoId 6)}} Prefácios
                                          {{else}} Outros
                                          {{/if}}
                                        </span>
                          <i class="fa fa-chevron-down transition-icon"></i>
                        </button>
                      </h5>
                    </div>
                    <div id="collapseTipo{{tipoId}}" class="collapse" aria-labelledby="headingTipo{{tipoId}}" data-parent="#accordionTipo{{tipoId}}">
                      <div class="card-body">
                        <ul class="list-group">
                          {{#each grupo}}
                            <li class="list-group-item">
                              <strong>{{this.titulo}}</strong><br />
                              <small><b>Autores:</b> {{this.autores}}</small><br />
                              <small><b>Local:</b> {{this.local}}</small><br />
                              <small><b>Ano:</b> {{this.ano}}</small><br />
                              {{#if this.issn}}<small><b>ISSN:</b> {{this.issn}}</small><br />{{/if}}
                              <small><b>Natureza:</b> {{this.natureza}}</small>
                            </li>
                          {{/each}}
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              {{/each}}
            {{else}}
              <p class="badge bg-warning mt-2">Nenhuma publicação registrada.</p>
            {{/if}}
          </div>
        </div>

        <div class="card card-primary  w-full">
          <div class="card-header">
            <h3 class="card-title">
              Informações Projetos
            </h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="card-body" style="overflow-x:auto;">
            <table id="example2" class="table table-bordered table-hover">
              <tbody>

              <tr>
                <th class="col-3">Linha de Pesquisa</th>
                <td><span class="{{#if (notEmpty candidato.linhaPesquisa)}}">{{candidato.linhaPesquisa.nome}}
                {{else}}badge bg-danger">Não Registrado{{/if}}

                </span></td>
              </tr>
              <tr>
                <th class="col-3">Título da proposta</th>
                <td>
                <span class="{{#if (notEmpty candidato.tituloProposta)}}">{{candidato.tituloProposta}}
                {{else}}badge bg-danger">Não Registrado{{/if}}
                </span>
                </td>
              </tr>
              <tr>
                <th class="col-3">Professor orientador</th>
                <td>{{#if (notEmpty candidato.nomeOrientador)}}{{candidato.nomeOrientador}}
                {{else}}-{{/if}}</td>
              </tr>
              <tr>
                <th class="col-3">Motivos</th>
                <td><span class="{{#if (notEmpty candidato.motivos)}}">{{candidato.motivos}}
                {{else}}badge bg-danger">Não Registrado{{/if}}

                </span></td>
              </tr>
              {{#if (eq candidato.edital.cartaOrientador 1)}}
                <tr>
                  <th class="col-3">Carta do Orientador (PDF)</th>
                  <td>
                  <span class="{{#if candidatoDocs.CartaDoOrientador}}">
                    <a style="margin-right: 16px"
                       title="Visualizar"
                       target="_blank"
                       href="/view/arquivo/CartaAceiteOrientador.pdf"
                       class='fa fa-solid fa-eye'></a>
                    <a  style="margin-right: 3px"
                        title="Baixar"
                        href="/download/arquivo/CartaAceiteOrientador.pdf"
                        class='fa fa-solid fa-download'></a>
                  {{else}}badge bg-warning">Pendente{{/if}}
                  </span>
                  </td>
                </tr>
              {{/if}}

              {{#if candidato.edital.projetoPesquisa}}
                <tr>
                  <th class="col-3">Projeto de Pesquisa (PDF)</th>
                  <td>
                  <span class="{{#if candidatoDocs.PropostaDeTrabalho}}">
                    <a style="margin-right: 16px"
                       title="Visualizar"
                       target="_blank"
                       href="/view/arquivo/PropostaTrabalho.pdf"
                       class='fa fa-solid fa-eye'></a>
                    <a style="margin-right: 3px"
                       title="Baixar"
                       href="/download/arquivo/PropostaTrabalho.pdf"
                       class='fa fa-solid fa-download'></a>
                  {{else}}badge bg-warning">Pendente{{/if}}
                  </span>
                  </td>
                </tr>
              {{/if}}

              <tr>
                <th class="col-3">Comprovante de Pagamento (PDF)</th>
                <td>
                <span class="{{#if candidatoDocs.ComprovantePagamento}}">
                  <a style="margin-right: 16px"
                     title="Visualizar"
                     target="_blank"
                     href="/view/arquivo/ComprovantePagamento.pdf"
                     class='fa fa-solid fa-eye'></a>
                  <a  style="margin-right: 3px"
                      title="Baixar"
                      href="/download/arquivo/ComprovantePagamento.pdf"
                      class='fa fa-solid fa-download'></a>
                {{else}}badge bg-warning">Pendente{{/if}}
                </span>
                </td>
              </tr>

              </tbody>
            </table>
          </div>
        </div>

      </div>

      <!-- Botões do card -->
      <div class="card-footer ">
        <div class="col d-flex flex-row-reverse p-0" style="gap: 6px;">
          <!-- Botão Finalizar (Save and Continue) -->
          <button class="btn btn-success custom-button" id="finishButton" data-toggle="modal" data-target="#confirm-register" type="button">
            {{__ "ppgi.form.finish"}}
            <span
              class="spinner-border spinner-border-sm"
              hidden="hidden"
              role="status"
              aria-hidden="true"
            ></span>
          </button>

          <!-- Botão Voltar -->
          <button class="btn btn-warning custom-button" type="button" id="voltarForm">
            {{__ "ppgi.form.previousStep"}}
            <span
              class="spinner-border spinner-border-sm"
              hidden="hidden"
              role="status"
              aria-hidden="true"
            ></span>
          </button>
        </div>
      </div>
    </main>

  </section>
  {{> ppgi/footer}}

</main>
<script>
  $(document).ready(function() {
    const basePath = "{{basePath}}";

    $("#voltarForm").on("click", function () {
      const btnVoltar = $("#voltarForm");
      btnVoltar.prop("disabled", true);
      btnVoltar.find("span").prop("hidden", false);
      const id = $("#idCandidato").val();
      const editalPosicao = '{{editalPosicao}}';

      $.ajax({
        url: `${basePath}/voltar`,
        type: 'POST',
        data: {
          editalPosicao: editalPosicao,
          id: id
        },
        success: function () {
          window.location.href = `${basePath}/formulario`;
          window.location.reload(true);
        },
        error: function (xhr) {
          btnVoltar.prop("disabled", false);
          btnVoltar.find("span").prop("hidden", true);
          if (xhr.status === 401){
            document.location.href = `${basePath}/entrar?expired=true`;
            return
          }
          toastr.error('Atualize a página e tente novamente', 'Erro ao salvar informações');
        }
      });
    });

  });
  function finishRegister(){
    const btnSubmit = $("#confirmButton");
    btnSubmit.attr("disabled", true);
    btnSubmit.find("span").prop("hidden", false);

    $.ajax({
      url: `{{basePath}}/formulario/5`,
      type: 'PUT',
      contentType: false,
      processData: false,
      success: function (data) {
        window.location.href = `{{basePath}}/formulario`;
      },
      error: function (xhr) {
        btnSubmit.attr("disabled", false);
        btnSubmit.find("span").prop("hidden", true);
        if (xhr.status === 401){
          document.location.href = `{{basePath}}/entrar?expired=true`;
          return
        }
        toastr.error('Atualize a página e tente novamente', 'Erro ao finalizar inscrição.');
      }
    });
  }
</script>
