{{ setTitle title="Dados Pessoais" }}

<style>
	.toast-container {
		top: 0;
    	right: 0;
    	position: fixed;
   	 	margin-top: 3.5rem;
		margin-right: 1rem;
		z-index: 1050;
	}

	.alert {
		display: flex;
   		gap: 1rem;
   		align-items: center;
	}

	.radio-group {
		margin-bottom: 8px;
	}

  .iti__tel-input {
    padding-top: 5px;
    padding-bottom: 5px;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
  }
  .iti__tel-input:focus {
    outline: none;
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: inset 0 0 0 transparent;
  }

  .iti { width: 100%; }
  .iti__tel-input { width: 100%; }
</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intl-tel-input@25.3.0/build/css/intlTelInput.css">

<link href="https://cdn.rawgit.com/bantikyan/icheck-bootstrap/master/icheck-bootstrap.min.css" rel="stylesheet">
<!-- -->
<!-- Conteúdo principal da página -->
<main class="forms-page">
  <!-- Cabeçalho -->
  <header>
    <div class="container d-flex justify-content-between align-items-center px-3">
      <h1 class="header-title">{{__ "ppgi.header.title"}}</h1>
      <div class="options">
        {{> ppgi/selectLanguageHeader}}
        <button class="p-0" id="btn_logout">{{__ "ppgi.header.logoutButton"}}</button>
      </div>
    </div>
  </header>

  <!-- Área de notificações (toast) -->
  <div class="toast-container position-fixed">
    <div
      id="myToast"
      class="toast"
      role="alert"
      aria-live="assertive"
      aria-atomic="true"
    >
      <div class="alert alert-primary mb-0" role="alert">
				<span id="toastMessage">
					This is a primary alert with
					<a href="#" class="alert-link">an example link</a>.
					Give it a click if you like.
				</span>
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>

  <!-- Conteúdo da página (formulário) -->
  <section class="content container">
    <!-- Navegação (pode ser um <nav> se for menu) -->
    {{> ppgi/nav indexSelect="1" progress="25"}}

    <div class="container-fluid">
      <!-- Agrupamos o formulário em um <article> para indicar uma seção independente -->
      <article>
        <form id="candidato-formulario" >
          <!-- Tokens e inputs ocultos -->
          <input id="csrfToken" type="hidden" name="_csrf" value="{{csrfToken}}" />
          <input id="email" type="hidden" value="{{email}}" />
          <input id="editalPosicao" type="hidden" value="{{editalPosicao}}" />
          <input id="ComoSoubeObj" type="hidden" value="{{comoSoube}}" />
          <input id="UFObj" type="hidden" value="{{uf}}" />
          <input id="CotistaObj" type="hidden" value="{{cotista}}" />
          <input id="CotistaTipoObj" type="hidden" value="{{cotistaTipo}}" />
          <input id="CondicaoObj" type="hidden" value="{{condicao}}" />
          <input id="CondicaoTipoObj" type="hidden" value="{{condicaoTipo}}" />

          <!-- Card 1: Identificação do Candidato -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">
                {{__ "ppgiForm1.identificacaoCandidato.title"}}
              </h3>
            </div>
            <div class="card-body">
              <div class="row">
                <!-- Nome -->
                <div class="form-group col-md-6">
                  <label for="candidato-nome">
                    <span class="text-danger">*</span>
                    <b>{{__ "ppgiForm1.identificacaoCandidato.nome"}}:</b>
                  </label>
                  <input
                    class="form-control"
                    id="candidato-nome"
                    type="text"
                    name="nome"
                    maxlength="60"
                    placeholder="{{__ "ppgiForm1.identificacaoCandidato.nomePlaceholder"}}"
                    value="{{nome}}"
                    autofocus
                  />
                </div>

                <!-- Data de nascimento -->
                <div class="col-md-3 campo-candidato-datanascimento form-group">
                  <label for="data-nascimento" class="control-label">
                    <span class="text-danger">*</span>
                    <b>{{__ "ppgiForm1.identificacaoCandidato.dataNascimento"}}:</b>
                  </label>
                  <div class="input-group" id="candidato-datanascimento" data-target-input="nearest">
                    <input
                      type="text"
                      class="form-control datetimepicker-input"
                      id="data-nascimento"
                      name="dataNascimento"
                      data-target="#candidato-datanascimento"
                    />
                    <div
                      class="input-group-append"
                      data-target="#candidato-datanascimento"
                      data-toggle="datetimepicker"
                    >
                      <div class="input-group-text">
                        <i class="fa fa-calendar"></i>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Sexo -->
                <div class="col-md-3 form-group" role="radiogroup" aria-label="Sexo">
                  <label for="candidato-sexo" class="control-label">
                    <span class="text-danger">*</span>
                    <b>{{__ "ppgiForm1.identificacaoCandidato.sexo"}}:</b>
                  </label>
                  <div

                    class="d-flex align-content-center radio-group"
                    style="column-gap: 20px; max-width: 100%; flex-wrap: wrap; row-gap: 4px;"
                  >
                    <select id="candidato-sexo" name="candidato-sexo" class="custom-select">
                      <option value="">{{__ "ppgiForm1.identificacaoCandidato.notInform"}}</option>
                      <option {{#if (eq sexo 'M')}}selected{{/if}} value="M">{{__ "ppgiForm1.identificacaoCandidato.masculino"}}</option>
                      <option {{#if (eq sexo 'F')}}selected{{/if}} value="F">{{__ "ppgiForm1.identificacaoCandidato.feminino"}}</option>
                    </select>

                    <!--                    <div class="icheck-primary d-inline">-->
<!--                      <input-->
<!--                        type="radio"-->
<!--                        id="Sexo"-->
<!--                        name="candidatoSexo"-->
<!--                        {{#if (eq sexo 'M')}}checked{{/if}}-->
<!--                      />-->
<!--                      <label for="Sexo">-->
<!--                        {{__ "ppgiForm1.identificacaoCandidato.masculino"}}-->
<!--                      </label>-->
<!--                    </div>-->

<!--                    <div class="icheck-primary d-inline">-->
<!--                      <input-->
<!--                        type="radio"-->
<!--                        id="Sexo2"-->
<!--                        name="candidatoSexo"-->
<!--                        {{#if (eq sexo 'F')}}checked{{/if}}-->
<!--                      />-->
<!--                      <label for="Sexo2">-->
<!--                        {{__ "ppgiForm1.identificacaoCandidato.feminino"}}-->
<!--                      </label>-->
<!--                    </div>-->
                  </div>
                </div>
              </div>

              <div class="row">
                <!-- Nome Social -->
                <div class="col-md-6 campo-candidato-nomesocial form-group">
                  <label for="candidato-nomesocial" class="control-label">
                    <b>{{__ "ppgiForm1.identificacaoCandidato.nomeSocial"}}:</b>
                  </label>
                  <input
                    id="candidato-nomesocial"
                    class="form-control"
                    type="text"
                    name="Candidato[nomesocial]"
                    maxlength="60"
                    value="{{nomeSocial}}"
                  />
                </div>

                <!-- CEP -->
                <div class="col-md-3 campo-candidato-cep form-group">
                  <label for="candidato-cep" class="control-label">
                    <span class="text-danger">*</span>
                    <b>{{__ "ppgiForm1.identificacaoCandidato.cep"}}:</b>
                  </label>
                  <input
                    id="candidato-cep"
                    class="form-control"
                    type="text"
                    name="candidatoCep"
                    data-plugin-inputmask=""
                    value="{{cep}}"
                    oninput="this.value = this.value.replace(/[^0-9]/g, '');"
                  />
                  <div class="invalid-feedback"></div>
                </div>

                <!-- UF -->
                <div class="col-md-3 campo-candidato-uf form-group">
                  <label for="candidato-uf" class="control-label">
                    <span class="text-danger">*</span>
                    <b>{{__ "ppgiForm1.identificacaoCandidato.estado"}}:</b>
                  </label>
                  <select
                    id="candidato-uf"
                    class="custom-select"
                    name="candidatoUf"
                  >
                    <option value="">
                      {{__ "ppgiForm1.identificacaoCandidato.selectEstado"}}:
                    </option>
                    <option value="AC">AC</option>
                    <option value="AL">AL</option>
                    <option value="AM">AM</option>
                    <option value="AP">AP</option>
                    <option value="BA">BA</option>
                    <option value="CE">CE</option>
                    <option value="DF">DF</option>
                    <option value="ES">ES</option>
                    <option value="GO">GO</option>
                    <option value="MA">MA</option>
                    <option value="MG">MG</option>
                    <option value="MS">MS</option>
                    <option value="MT">MT</option>
                    <option value="PA">PA</option>
                    <option value="PB">PB</option>
                    <option value="PE">PE</option>
                    <option value="PI">PI</option>
                    <option value="PR">PR</option>
                    <option value="RJ">RJ</option>
                    <option value="RN">RN</option>
                    <option value="RO">RO</option>
                    <option value="RR">RR</option>
                    <option value="RS">RS</option>
                    <option value="SC">SC</option>
                    <option value="SE">SE</option>
                    <option value="SP">SP</option>
                    <option value="TO">TO</option>
                  </select>
                </div>
              </div>

              <div class="row">
                <!-- Endereço -->
                <div class="col-md-6 field-candidato-endereco form-group">
                  <label for="candidato-endereco" class="control-label">
                    <span class="text-danger">*</span>
                    <b>{{__ "ppgiForm1.identificacaoCandidato.endereco"}}:</b>
                  </label>
                  <input
                    type="text"
                    id="candidato-endereco"
                    class="form-control"
                    name="candidatoEndereco"
                    maxlength="160"
                    value="{{endereco}}"
                  />
                </div>

                <!-- Cidade -->
                <div class="col-md-3 field-candidato-cidade form-group">
                  <label for="candidato-cidade" class="control-label">
                    <span class="text-danger">*</span>
                    <b>{{__ "ppgiForm1.identificacaoCandidato.cidade"}}:</b>
                  </label>
                  <input
                    type="text"
                    id="candidato-cidade"
                    class="form-control"
                    name="candidatoCidade"
                    maxlength="40"
                    value="{{cidade}}"
                    aria-invalid="true"
                  />
                </div>

                <!-- Bairro -->
                <div class="col-md-3 field-candidato-bairro form-group">
                  <label for="candidato-bairro" class="control-label">
                    <span class="text-danger">*</span>
                    <b>{{__ "ppgiForm1.identificacaoCandidato.bairro"}}:</b>
                  </label>
                  <input
                    type="text"
                    id="candidato-bairro"
                    class="form-control"
                    name="candidatoBairro"
                    maxlength="50"
                    value="{{bairro}}"
                  />
                </div>
              </div><!-- /row -->

              <div class="row ">
                <!-- Nacionalidade -->
                <div class="col-md-3 field-candidato-nacionalidade form-group">
                  <label for="candidatoNacionalidade" class="control-label">
                    <span class="text-danger">*</span>
                    <b>{{__ "ppgiForm1.identificacaoCandidato.nacionalidade.title"}}:</b>
                  </label>
                  <div
                    role="radiogroup"
                    aria-label="Nacionalidade"
                    class="radio-group d-flex align-content-center"
                    style="gap: 20px;"
                  >
                    <div class="icheck-primary d-inline">
                      <input
                        type="radio"
                        id="Nacionalidade1"
                        name="candidatoNacionalidade"
                        {{#if (eq nacionalidade 'Brasileira')}}checked{{/if}}
                      />
                      <label for="Nacionalidade1">
                        {{__ "ppgiForm1.identificacaoCandidato.nacionalidade.brasileira"}}
                      </label>
                    </div>

                    <div class="icheck-primary d-inline">
                      <input
                        type="radio"
                        id="Nacionalidade2"
                        name="candidatoNacionalidade"
                        {{#if (eq nacionalidade 'Estrangeira')}}checked{{/if}}
                      />
                      <label for="Nacionalidade2">
                        {{__ "ppgiForm1.identificacaoCandidato.nacionalidade.estrangeira"}}
                      </label>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Brasileiro -->
              <div
                class="row"
                id="row-nacionalidade-brasileiro"
                {{#if (ne nacionalidade 'Brasileira')}}hidden{{/if}}
              >
                <div class="col-md-6 form-group">
                  <label for="cpf" class="control-label">
                    <span class="text-danger">*</span>
                    <b>{{__ "ppgiForm1.identificacaoCandidato.nacionalidade.cpf"}}:</b>
                  </label>
                  <input
                    type="text"
                    id="cpf"
                    class="form-control cpf"
                    name="cpf"
                    value="{{cpf}}"
                  />
                </div>
              </div>

              <!-- Estrangeiro -->
              <div
                class="row"
                id="row-nacionalidade-estrangeiro"
                {{#if (ne nacionalidade 'Estrangeira')}}hidden{{/if}}
              >
                <!-- País -->
                <div class="col-md-6 form-group">
                  <label for="pais" class="control-label">
                    <span class="text-danger">*</span>
                    <b>{{__ "ppgiForm1.identificacaoCandidato.nacionalidade.pais"}}:</b>
                  </label>
                  <input
                    type="text"
                    id="pais"
                    class="form-control"
                    name="pais"
                    value="{{pais}}"
                  />
                </div>
                <!-- Passaporte -->
                <div class="col-md-6 form-group">
                  <label for="passaporte" class="control-label">
                    <span class="text-danger">*</span>
                    <b>{{__ "ppgiForm1.identificacaoCandidato.nacionalidade.passaporte"}}:</b>
                  </label>
                  <input
                    type="text"
                    id="passaporte"
                    class="form-control"
                    name="passaporte"
                    value="{{passaporte}}"
                    maxlength="9"
                  />
                </div>
              </div>

            </div><!-- /card-body -->
          </div><!-- /card Identificação -->

          <!-- Card 2: Contato -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">{{__ "ppgiForm1.contato.title"}}</h3>
            </div>
            <div class="card-body">
              <div class="row">
                <!-- Telefone Principal -->
                <div class="form-group col-md-6 col-sm-6">
                  <label for="candidato-telresidencial" class="control-label">
                    <span class="text-danger">*</span>
                    <b>{{__ "ppgiForm1.contato.telefonePrincipal"}}:</b>
                  </label>
                  <input
                    type="text"
                    id="candidato-telresidencial"
                    class="form-control telefone"
                    name="candidatoTelresidencial"
                    value="{{telefone}}"
                  />
                </div>

                <!-- Telefone Alternativo -->
                <div class="form-group col-sm-6">
                  <label for="candidato-telcelular" class="control-label">
                    {{__ "ppgiForm1.contato.telefoneAlternativo"}}:
                  </label>
                  <input
                    type="text"
                    id="candidato-telcelular"
                    class="form-control telefone"
                    name="Candidato[telcelular]"
                    value="{{telefoneSecundario}}"
                  />
                </div>
               

              </div><!-- /row -->
            </div>

          </div><!-- /card Contato -->

          <!-- Card 3: Edital (como soube) -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">{{__ "ppgiForm1.edital.title"}}</h3>
            </div>
            <div class="card-body">
              <!-- Como soube -->
              <div class="row form-group col-sm-6">
                <div>
                  <label for="como-soube">
                    <span class="text-danger">*</span>
                    <b>{{__ "ppgiForm1.edital.label"}}</b>
                  </label>
                  <select
                    id="como-soube"
                    class="custom-select"
                    name="comoSoube"
                  >
                    <option value="">
                      {{__ "ppgiForm1.edital.placeholder"}}:
                    </option>
                    <option value="Facebook">
                      {{__ "ppgiForm1.edital.options.facebook"}}
                    </option>
                    <option value="Instagram">
                      {{__ "ppgiForm1.edital.options.instagram"}}
                    </option>
                    <option value="LinkedIn">
                      {{__ "ppgiForm1.edital.options.linkedin"}}
                    </option>
                    <option value="Email">
                      {{__ "ppgiForm1.edital.options.email"}}
                    </option>
                    <option value="PPGI">
                      {{__ "ppgiForm1.edital.options.ppgi"}}
                    </option>
                    <option value="IComp">
                      {{__ "ppgiForm1.edital.options.icomp"}}
                    </option>
                    <option value="ProprioIcomp">
                      {{__ "ppgiForm1.edital.options.proprioIcomp"}}
                    </option>
                    <option value="Outro">
                      {{__ "ppgiForm1.edital.options.outro"}}
                    </option>
                  </select>
                </div>
              </div><!-- /row -->
            </div>
          </div><!-- /card Edital -->

          <!-- Card 4: Inscrição -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">{{__ "ppgiForm1.inscricao.title"}}</h3>
            </div>
            <div class="card-body">
              <div class="row ">
                <!-- Curso Desejado -->
                <div class="form-group col-md-5">
                  <label class="control-label">
                    <span class="text-danger">*</span>
                    <b>{{__ "ppgiForm1.inscricao.cursoDesejado"}}:</b>
                  </label>
                  <div
                    id="cadidato-curso"
                    role="radiogroup"
                    class="radio-group"
                    aria-label="{{__ 'ppgiForm1.inscricao.cursoDesejado'}}"
                  >
                    <div class="icheck-primary d-inline">
                      <input
                        type="radio"
                        id="Curso1"
                        name="candidatoCurso"
                        {{#if (eq cursoDesejado 'Mestrado')}}checked{{/if}}
                      />
                      <label for="Curso1" style="margin-right: 20px;">
                        {{__ "ppgiForm1.inscricao.mestrado"}}
                      </label>
                    </div>

                    <div class="icheck-primary d-inline">
                      <input
                        type="radio"
                        id="Curso2"
                        name="candidatoCurso"
                        {{#if (eq cursoDesejado 'Doutorado')}}checked{{/if}}
                      />
                      <label for="Curso2">
                        {{__ "ppgiForm1.inscricao.doutorado"}}
                      </label>
                    </div>
                  </div>
                </div>

                <!-- Regime -->
                <div class="col-md-12 form-group">
                  <label class="control-label">
                    <span class="text-danger">*</span>
                    <b>{{__ "ppgiForm1.inscricao.regime"}}</b>
                  </label>
                  <input type="hidden" name="candidatoRegime" value="" />
                  <div
                    id="candidato-regime"
                    role="radiogroup"
                    class="radio-group"
                    aria-label="{{__ 'ppgiForm1.inscricao.regime'}}"
                  >
                    <div class="icheck-primary d-inline">
                      <input
                        type="radio"
                        id="Regime1"
                        name="candidatoRegime"
                        {{#if (eq regime 'Integral')}}checked{{/if}}
                      />
                      <label for="Regime1" style="margin-right: 20px;">
                        {{__ "ppgiForm1.inscricao.integral"}}
                      </label>
                    </div>
                    <div class="icheck-primary d-inline">
                      <input
                        type="radio"
                        id="Regime2"
                        name="candidatoRegime"
                        {{#if (eq regime 'Parcial')}}checked{{/if}}
                      />
                      <label for="Regime2">
                        {{__ "ppgiForm1.inscricao.parcial"}}
                      </label>
                    </div>
                  </div>
                </div>
              </div><!-- /row -->

              <!-- Cotista -->
              <div id="cotista-div" class="row">
                <div class="col-md-5 form-group form-switch">
                  <div>
                    <label for="cotista">
                      <span class="text-danger">*</span>
                      {{__ "ppgiForm1.inscricao.cotista"}}?
                    </label>
                  </div>

                    <input
                      type="checkbox"
                      id="cotista"
                      name="cotista"
                      role="switch"
                      data-bootstrap-switch-cotista
                      data-off-color="danger"
                      data-on-color="success"
                      data-on-text="{{__ "ppgi.yesOption"}}"
                      data-off-text="{{__ "ppgi.noOption"}}"
                      wrapperClass="teste"
                    />

                </div>
                <!-- Tipo de Cota -->
                <div id="cota" class="col-md-6 form-group">
                  <label for="tipo-cota" class="control-label">
                    <span class="text-danger">*</span>
                    <b>{{__ "ppgiForm1.inscricao.tipoCota"}}:</b>
                  </label>
                  <select
                    id="tipo-cota"
                    class="custom-select"
                    name="tipo-cota"
                  >
                    <option value="">
                      {{__ "ppgiForm1.inscricao.placeholderTipoCota"}}:
                    </option>
                    <option value="indigena">
                      {{__ "ppgiForm1.inscricao.optionCota.indigena"}}
                    </option>
                    <option value="negro">
                      {{__ "ppgiForm1.inscricao.optionCota.negro"}}
                    </option>
                    <option value="pardo">
                      {{__ "ppgiForm1.inscricao.optionCota.pardo"}}
                    </option>
                    <option>
                      {{__ "ppgiForm1.inscricao.optionCota.pcd"}}
                    </option>
                  </select>
                </div>
              </div>

              <!-- Deficiência / Condição Especial -->
              <div id="deficiencia-div" class="row">
                <div class="col-md-5 form-group">
                  <label for="candidato-deficiencia1">
                    <span class="text-danger">*</span>
                    <b>{{__ "ppgiForm1.inscricao.saude"}}?</b>
                  </label>
                  <div>
                    <input
                      type="checkbox"
                      id="candidato-deficiencia1"
                      name="deficiencia"
                      data-bootstrap-switch-deficiencia
                      data-off-color="danger"
                      data-on-color="success"
                      data-on-text="{{__ "ppgi.yesOption"}}"
                      data-off-text="{{__ "ppgi.noOption"}}"
                    />
                  </div>
                </div>
                <!-- Condição -->
                <div id="condicao" class="col-md-6 form-group">
                  <label for="candidato-condicao" class="control-label">
                    <span class="text-danger">*</span>
                    <b>{{__ "ppgiForm1.inscricao.condicao"}}:</b>
                  </label>
                  <input
                    type="text"
                    id="candidato-condicao"
                    class="form-control"
                    name="candidatoCondicao"
                    value="{{condicaoTipo}}"
                  />
                </div>
              </div>

              <!-- Bolsa -->
              <div class="row">
                <div class="col-md-5 form-group">
                  <label for="candidato-bolsa">
                    <span class="text-danger">*</span>
                    <b>{{__ "ppgiForm1.inscricao.bolsa"}}</b>
                  </label>
                  <input
                    type="checkbox"
                    id="candidato-bolsa"
                    name="bolsa"
                    data-bootstrap-switch-bolsa
                    data-off-color="danger"
                    data-on-color="success"
                    data-on-text="{{__ "ppgi.yesOption"}}"
                    data-off-text="{{__ "ppgi.noOption"}}"
                  />
                </div>
              </div>
            </div><!-- /card-body -->

            <div class="card-footer">
              <div class="col p-0">
                <button
                  id="btn-save-continue"
                  type="submit"
                  class="btn btn-success float-right"
                >
                  {{__ "ppgi.form.saveAndContinue"}}
                  <span
                    class="spinner-border spinner-border-sm"
                    hidden="hidden"
                    role="status"
                    aria-hidden="true"
                  ></span>
                </button>
              </div>
            </div>
          </div><!-- /card Inscrição -->
        </form>
      </article>
    </div><!-- /container-fluid -->
  </section>
  {{> ppgi/footer}}

</main>
{{> ppgi/_masks }}
<script src="https://cdn.jsdelivr.net/npm/intl-tel-input@25.3.0/build/js/intlTelInput.min.js"></script>
<script>
	$(document).ready(() => {
    const basePath = "{{basePath}}";
    const comoSoubeValue = document.getElementById("ComoSoubeObj").value;

		$("#como-soube").val(comoSoubeValue);

    const condicaoInicial = $("#candidato-deficiencia1").prop("checked");
    $("#CondicaoObj").val(condicaoInicial);

    $("#candidato-deficiencia1").change(function () {
      $("#CondicaoObj").val($(this).prop("checked"));
    });

    $("#candidato-condicao").change(function () {
      $("#CondicaoTipoObj").val($(this).val());
    });

    {{#if dataNascimento}}
      const nascimentoValue = new Date("{{dataNascimento}}").toISOString();
      const formattedDate = moment(nascimentoValue).format("DD/MM/YYYY");
      $("#data-nascimento").val(formattedDate);
      $('#candidato-datanascimento').datetimepicker({
        format: 'DD/MM/YYYY',
      });
    {{/if}}

 /*   const input = document.querySelector("#phone");
    const inputPhone =  window.intlTelInput(input, {
      initialCountry: "br",
      customPlaceholder: (selectedCountryPlaceholder, selectedCountryData) => "e.x. " + selectedCountryPlaceholder,
      loadUtils: () => import("https://cdn.jsdelivr.net/npm/intl-tel-input@25.3.0/build/js/utils.js"),
      i18n: {
        "selectedCountryAriaLabel": "{{__ "intlTel.selectedCountryAriaLabel"}}",
        "noCountrySelected": "{{__ "intlTel.noCountrySelected"}}",
        "countryListAriaLabel": "{{__ "intlTel.countryListAriaLabel"}}",
        "searchPlaceholder": "{{__ "intlTel.searchPlaceholder"}}",
        "zeroSearchResults": "{{__ "intlTel.zeroSearchResults"}}",
        "oneSearchResult": "{{__ "intlTel.oneSearchResult"}}",
        "multipleSearchResults": "{{__ "intlTel.multipleSearchResults"}}",
        "ac": "{{__ "intlTel.ac"}}",
        "xk": "{{__ "intlTel.xk"}}",
      },
      separateDialCode: true,
      countryOrder: ["br", "us", "gb"],
      strictMode: true,
      validationNumberTypes: null
    });*/

    const cotistaValue = document.getElementById('CotistaObj').value;
    const cotistaTipoValue = document.getElementById('CotistaTipoObj').value;

    const select = document.getElementById('tipo-cota');
    for (let i = 0; i < select.options.length; i++) {
      if (select.options[i].value === cotistaTipoValue) {
        select.selectedIndex = i;
        break;
      }
    }
    const ufValue = document.getElementById('UFObj').value;
    const selectElement = document.getElementById('candidato-uf');
    for (let i = 0; i < selectElement.options.length; i++) {
      if (selectElement.options[i].value === ufValue) {
        selectElement.options[i].selected = true;
        break;
      }
    }

    {{#if condicao}} document.getElementById("candidato-deficiencia1").checked = true;{{/if}}
    {{#if cotista}} document.getElementById("cotista").checked = true; {{/if}}
    {{#if bolsista}} document.getElementById("candidato-bolsa").checked = true;{{/if}}

    $('#candidato-datanascimento').datetimepicker({
      format: 'DD/MM/YYYY',
      locale: 'pt-br',
    });

    $("input[data-bootstrap-switch-cotista]").each(function () {
      $(this).bootstrapSwitch('state', $(this).prop('checked'));
      if (!$(this).prop('checked')) {
        $("#cota").slideUp();
      }
      $(this).bootstrapSwitch('onSwitchChange', () => {
        if ($(this).is(":checked")) {
          $("#cota").slideDown();
        } else {
          $("#cota").slideUp();
        }
      });
    });

    $("input[data-bootstrap-switch-deficiencia]").each(function () {
      $(this).bootstrapSwitch('state', $(this).prop('checked'));
      if (!$(this).prop('checked')) {
        $("#condicao").slideUp();
      }
      $(this).bootstrapSwitch('onSwitchChange', () => {
        if ($(this).is(":checked")) {
          $("#condicao").slideDown();
          $("#deficiencia-div").css("height", "auto");
        } else {
          $("#condicao").slideUp();
          $("#deficiencia-div").css("height", "auto");
        }
      })
    })

    $("input[data-bootstrap-switch-bolsa]").each(function () {
      $(this).bootstrapSwitch('state', $(this).prop('checked'));
      $(this).bootstrapSwitch('onSwitchChange', () => {
        if ($(this).is(":checked")) {
          $("#Regime1").prop("checked", true);
          $("#Regime2").prop("checked", false).prop("disabled", true);
        } else {
          $("#Regime2").prop("disabled", false);
        }
      });
    });

    $('.bootstrap-switch.bootstrap-switch-wrapper').each(function (index, element){
      $(element).attr('tabindex',0)
        .on('focus', function () {
          $(this).addClass('bootstrap-switch-focussed');
        })
        .on('blur', function () {
          $(this).removeClass('bootstrap-switch-focussed');
        })
        .on('keyup', function (e) {
          if(e.which===32){
            $(this).find('input').bootstrapSwitch('toggleState');
          }
        });
    })

    function getSelectedSexo() {
      const masculinoRadio = document.getElementById("Sexo");
      const femininoRadio = document.getElementById("Sexo2");
      let selectedSexo = "";

      if (masculinoRadio.checked) {
        selectedSexo = "M";
      } else if (femininoRadio.checked) {
        selectedSexo = "F";
      }

      return selectedSexo;
    }

    function getSelectedNacionalidade() {
      let brasileiraRadio = document.getElementById("Nacionalidade1");
      let estrangeiraRadio = document.getElementById("Nacionalidade2");
      let selectedNacionalidade = "";
      if (brasileiraRadio.checked) {
        selectedNacionalidade = "Brasileira";
      } else if (estrangeiraRadio.checked) {
        selectedNacionalidade = "Estrangeira";
      }
      return selectedNacionalidade;
    }

    function getSelectedComoSoube() {
      let selectComoSoube = document.getElementById("como-soube");
      let selectedComoSoube = selectComoSoube.options[selectComoSoube.selectedIndex].value;
      return selectedComoSoube;
    }

    function getSelectedCurso() {
      let MestradoRadio = document.getElementById("Curso1");
      let DoutoradoRadio = document.getElementById("Curso2");
      let selectedCurso = "";
      if (MestradoRadio.checked) {
        selectedCurso = "Mestrado";
      } else if (DoutoradoRadio.checked) {
        selectedCurso = "Doutorado";
      }
      return selectedCurso;
    }

    function getSelectedRegime() {
      let IntegralRadio = document.getElementById("Regime1");
      let ParcialRadio = document.getElementById("Regime2");
      let selectedRegime = "";
      if (IntegralRadio.checked) {
        selectedRegime = "Integral";
      } else if (ParcialRadio.checked) {
        selectedRegime = "Parcial";
      }
      return selectedRegime;
    }

    function getSelectedCota() {
      let cotista = document.getElementById("cotista").checked;
      if (!cotista) {
        return null;
      }
      let selectCota = document.getElementById("tipo-cota");
      let selectedCota = selectCota.options[selectCota.selectedIndex].value;
      return selectedCota;
    }

    function getCondicao() {
      let deficiencia = document.getElementById("candidato-deficiencia1").checked;
      if (!deficiencia) {
        return null;
      }
      let condicao = document.getElementById("candidato-condicao").value;
      return condicao;
    }

    function getBolsa() {
      let bolsa = document.getElementById("candidato-bolsa").checked;
      return Boolean(bolsa);
    }

    function checkCondicao() {
      let deficiencia = document.getElementById("candidato-deficiencia1").checked;
      let condicaoInput = document.getElementById("candidato-condicao");
      if (!deficiencia) {
        condicaoInput.value = "";
      }
      return Boolean(deficiencia);
    }

    function checkCotista() {
      let cotista = document.getElementById("cotista").checked;
      let cotistaCota = document.getElementById("tipo-cota");
      if (!cotista) {
        cotistaCota.value = "";
      }
      return Boolean(cotista);
    }

    function getValueFromForm() {
      const form = document.getElementById('candidato-formulario');
      const data = {}
      data.nome = document.getElementById('candidato-nome').value;
      data.dataNascimento = document.getElementById('data-nascimento').value;
      data.sexo = document.getElementById('candidato-sexo').value;
      data.nomeSocial = document.getElementById('candidato-nomesocial').value;
      data.cep = document.getElementById('candidato-cep').value;
      data.uf = document.getElementById('candidato-uf').value;
      data.endereco = document.getElementById('candidato-endereco').value;
      data.cidade = document.getElementById('candidato-cidade').value;
      data.bairro = document.getElementById('candidato-bairro').value;
      data.nacionalidade = getSelectedNacionalidade();
      data.telefone = document.getElementById('candidato-telresidencial').value;
      data.telefoneSecundario = $(form).find('#candidato-telcelular').val();
      data.comoSoube = getSelectedComoSoube();
      data.cursoDesejado = getSelectedCurso();
      data.regime = getSelectedRegime();
      data.cotista = checkCotista();
      data.cotistaTipo = getSelectedCota();
      data.condicao = checkCondicao()
      data.condicaoTipo = getCondicao();
      data.bolsista = getBolsa()
      data.cpf = document.getElementById('cpf').value;
      data.pais = document.getElementById('pais').value;
      data.passaporte = document.getElementById('passaporte').value;
      // console.log(inputPhone.getNumber());
      return data;
    }

    Inputmask("99999-999").mask("#candidato-cep");
    $('#candidato-cep').on('blur', pesquisarCep);

    $("#btn_logout").click(function () {
      $.ajax({
        url: `${basePath}/logout`,
        type: "POST",
        data: {
          _csrf: $("#csrfToken").val()
        },
        success: function (data) {
          window.location.href = `${basePath}`;
        },
        error: function (data) {
          console.error(data);
        }
      });
    });


    $.validator.addMethod("dateBR", (value, _) => /^(\d{2}\/\d{2}\/\d{4})$/.test(value), "Informe uma data válida no formato DD/MM/YYYY");
    $.validator.addMethod("validPhoneNumber", function (value, element) {
      return phoneNumber.isValidNumber();
    }, "Por favor, insira um número de telefone válido.");
    $.validator.addMethod("cpf", (value, element) => {
      value = value.replace(/[.\-]/g, "");
      if (value.length !== 11 || /^(\d)\1+$/.test(value)) {
        return false;
      }

      let sum = 0;
      let remainder;

      // Valida o primeiro dígito verificador
      for (var i = 1; i <= 9; i++) {
        sum = sum + parseInt(value.substring(i - 1, i)) * (11 - i);
      }
      remainder = (sum * 10) % 11;
      if ((remainder == 10) || (remainder == 11)) {
        remainder = 0;
      }
      if (remainder != parseInt(value.substring(9, 10))) {
        return false;
      }

      sum = 0;

      // Valida o segundo dígito verificador
      for (var i = 1; i <= 10; i++) {
        sum = sum + parseInt(value.substring(i - 1, i)) * (12 - i);
      }
      remainder = (sum * 10) % 11;
      if ((remainder == 10) || (remainder == 11)) {
        remainder = 0;
      }
      if (remainder != parseInt(value.substring(10, 11))) {
        return false;
      }

      return true;
    }, "Por favor, insira um CPF válido.");

    $("#candidato-formulario").validate({
      ignore: ':hidden',
      rules: {
        nome: {
          required: true,
          minlength: 3,
          maxlength: 50
        },
        dataNascimento: {
          required: true,
          dateBR: true
        },

        candidatoCep: {
          required: true
        },
        candidatoUf: {
          required: true
        },
        candidatoEndereco: {
          required: true
        },
        candidatoCidade: {
          required: true
        },
        candidatoBairro: {
          required: true
        },
        candidatoNacionalidade: {
          required: true
        },
        candidatoTelresidencial: {
          required: true
        },
        comoSoube: {
          required: true
        },
        candidatoCurso: {
          required: true
        },
        candidatoRegime: {
          required: true
        },
        "tipo-cota": {
          required: function (element) {
            return $("#cotista:checked").length > 0;
          }
        },
        candidatoCondicao: {
          required: function (element) {
            return $("#candidato-deficiencia1:checked").length > 0;
          }
        },
        cpf: {
          required: (element) => $("#Nacionalidade1:checked").length > 0,
          cpf: true
        },
        pais: {
          required: (element) => $("#Nacionalidade2:checked").length > 0
        },
        passaporte: {
          required: (element) => $("#Nacionalidade2:checked").length > 0
        },
        phone: {
          validPhoneNumber: true,
          required: true,
        }
      },
      messages: {
        nome: {
          required: "{{__ "ppgiForm1.validacao.nome.required"}}",
          minlength: "{{__ "ppgiForm1.validacao.nome.minlengtg"}}",
          maxlength: "{{__ "ppgiForm1.validacao.nome.maxlength"}}"
        },
        dataNascimento: {
          required: "{{__ "ppgiForm1.validacao.dataNascimento.required"}}",
        },
        candidatoSexo:"{{__ "ppgiForm1.validacao.candidatoSexo.required"}}",
        candidatoUf:"{{__ "ppgiForm1.validacao.candidatoUf.required"}}",
        candidatoCep: "{{__ "ppgiForm1.validacao.candidatoCep.required"}}",
        candidatoEndereco: "{{__ "ppgiForm1.validacao.candidatoEndereco.required"}}",
        candidatoCidade: "{{__ "ppgiForm1.validacao.candidatoCidade.required"}}",
        candidatoBairro: "{{__ "ppgiForm1.validacao.candidatoBairro.required"}}",
        candidatoNacionalidade: "{{__ "ppgiForm1.validacao.candidatoNacionalidade.required"}}",
        candidatoTelresidencial: "{{__ "ppgiForm1.validacao.candidatoTelresidencial.required"}}",
        comoSoube: "{{__ "ppgiForm1.validacao.comoSoube.required"}}",
        candidatoCurso: "{{__ "ppgiForm1.validacao.candidatoCurso.required"}}",
        candidatoRegime: "{{__ "ppgiForm1.validacao.candidatoRegime.required"}}",
        "tipo-cota": "{{__ "ppgiForm1.validacao.tipoCota.required"}}",
        candidatoCondicao: "{{__ "ppgiForm1.validacao.candidatoCondicao.required"}}",
        cpf: {
          required: "{{__ "ppgiForm1.validacao.cpf.required"}}",
          cpf: "{{__ "ppgiForm1.validacao.cpf.cpfInvalido"}}"
        },
        pais: "{{__ "ppgiForm1.validacao.pais.required"}}",
        passaporte: "{{__ "ppgiForm1.validacao.passaporte.required"}}"
      },
      errorElement: 'span',
      errorPlacement: function (error, element) {
        error.addClass('invalid-feedback');

        if (element.is(":radio")) {
          error.insertAfter(element.closest('.radio-group'));
        }

        else {
          element.closest('div').append(error);
        }
      },
      highlight: function (element, errorClass, validClass) {

        if ($(element).is(":radio")) {
          $(element).closest('.radio-group').find('label').addClass('text-danger');
        } else {
          $(element).addClass('is-invalid');
        }
      },
      unhighlight: function (element, errorClass, validClass) {
        if ($(element).is(":radio")) {
          $(element).closest('.radio-group').find('label').removeClass('text-danger');
        } else {
          $(element).removeClass('is-invalid');
        }
      },
      submitHandler: function (form, e) {
        e.preventDefault();
        const btnSave = $("#btn-save-continue");
        btnSave.find("span").prop("hidden", false);
        btnSave.prop("disabled", true);
        const data = getValueFromForm();
        const csrfToken = $("#csrfToken").val();
        const email = $("#email").val();
        const editalPosicao = $("#editalPosicao").val();
        const id = $("#id").val();
        $.ajax({
        	url: `${basePath}/formulario/1`,
        	type: "PUT",
        	data: {
        		data: data,
        		_csrf: csrfToken,
        		email: email,
        		editalPosicao: editalPosicao,
        		id: id
        	},
        	success: (data) => {
        		window.location.href = `${basePath}/formulario`;
        		window.location.reload(true);
        	},
        	error: (data) => {
        		btnSave.find("span").prop("hidden", true);
        		btnSave.prop("disabled", false);
        		console.log(data)
        	}
        });
      }
    });


    $("#btn-save").click(function () {
      const btnSave = $("#btn-save");
      btnSave.find("span").prop("hidden", false);
      btnSave.prop("disabled", true);

      const data = getValueFromForm();
      const csrfToken = $("#csrfToken").val();
      const email = $("#email").val();
      const editalPosicao = $("#editalPosicao").val();
      const id = $("#id").val();
      /*$.ajax({
                url: '/selecaoppgi/editCandidate',
                type: "PUT",
                data: {
                    data: data,
                    _csrf: csrfToken,
                    email: email,
                    editalPosicao: editalPosicao,
                    id: id
                },
                success: function (data) {
                    btnSave.find("span").prop("hidden", true);
                    btnSave.prop("disabled", false);
                    showToast("Dados salvos com sucesso!", "alert-success");
                },
                error: function (data) {
                    btnSave.find("span").prop("hidden", true);
                    btnSave.prop("disabled", false);
                    console.error(data)
                }
            });*/

    });

    $("#Nacionalidade1").change(() => {
      $("#row-nacionalidade-estrangeiro").attr("hidden", '');
      $("#row-nacionalidade-brasileiro").removeAttr("hidden");
    });

    $("#Nacionalidade2").change(() => {
      $("#row-nacionalidade-brasileiro").attr("hidden", '');
      $("#row-nacionalidade-estrangeiro").removeAttr("hidden");
    });

    function showToast(message, alertClass) {
      const toastElement = $('#myToast');
      const toastBody = toastElement.find('.alert');

      // Remove qualquer classe de alerta existente
      toastBody.removeClass('alert-primary alert-success alert-warning alert-danger alert-info');
      // Adiciona a classe de alerta apropriada
      toastBody.addClass(alertClass);
      // Define a mensagem do toast
      $('#toastMessage').text(message);
      // Inicializa e configura o delay do toast
      const toast = new bootstrap.Toast(toastElement[0], {
        delay: 5000 // Tempo em milissegundos (por exemplo, 5000 ms = 5 segundos)
      });
      toast.show();
    }

    function pesquisarCep() {
      const cep = $('#candidato-cep').val();
      const cepInput = $('#candidato-cep')[0];
      const invalidFeedback = document.querySelector('.campo-candidato-cep .invalid-feedback');

      const cepValido = /^[0-9]{5}-[0-9]{3}$/.test(cep);

      if (!cepValido) {
        cepInput.classList.add('is-invalid');
        invalidFeedback.textContent = "{{__ "ppgiForm1.validacao.candidatoCep.cepInvalido"}}";
        return;
      }

      cepInput.classList.remove('is-invalid');

      const url = `https://viacep.com.br/ws/${cep}/json/`;

      fetch(url)
        .then(response => {
          if (!response.ok ) {
            throw new Error("{{__ "ppgiForm1.cepNotFound"}}");
          }
          return response.json();
        })
        .then(data => {
          if (data.erro) {
            throw new Error("{{__ "ppgiForm1.cepNotFound"}}");
          }
          document.getElementById('candidato-endereco').value = data.logradouro;
          document.getElementById('candidato-cidade').value = data.localidade;
          document.getElementById('candidato-bairro').value = data.bairro;
          document.getElementById('candidato-uf').value = data.uf;
        })
        .catch(error => {
          cepInput.classList.add('is-invalid');
          invalidFeedback.textContent = error.message;
        });
    }
  });
</script>