{{ setTitle title="Proposta de Projeto" }}

<style>
  #add-btn {
    margin-top: 10px;
  }

  .custom-file-container .custom-file-input {
    padding: 10px;
  }

  .custom-file-container .custom-file-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 5px;
    margin-right: 5px;
  }

  .container-buttons-icon {
    display: flex;
    gap: 4px;
    flex-direction: column;
    max-width: 50vw;
    overflow: hidden;
    flex-basis: 210px;
    align-items: center;
  }
</style>
<link href="/script-adminlte/plugins/icheck-bootstrap/icheck-bootstrap.min.css" rel="stylesheet">
<!-- Modal de Confirmação -->
<div
  class="modal fade mt-5"
  id="confirm-register"
  tabindex="-1"
  role="dialog"
  aria-labelledby="confirm-register-title"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirm-register-title">
          {{__ "ppgiForm3.finalizar"}}
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <p>{{__ "ppgiForm3.finalizar"}}</p>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary color-white"
          data-dismiss="modal"
        >
          {{__ "ppgi.form.cancel"}}
        </button>
        <button
          id="confirmButton"
          type="button"
          class="btn btn-warning color-white"
          onclick="finishRegister()"
        >
          {{__ "ppgi.form.confirm"}}
          <span
            class="spinner-border spinner-border-sm"
            hidden="hidden"
            role="status"
            aria-hidden="true"
          ></span>
        </button>
      </div>

      <!-- Formulário que pode ser usado caso precise de POST isolado -->
      <form name="postDelete" id="finish-register" method="POST">
        <input type="hidden" name="_csrf" value="{{csrfToken}}" />
      </form>
    </div>
  </div>
</div>

<!-- Conteúdo principal -->
<main class="forms-page">
  <!-- Cabeçalho -->
  <header>
    <div class="container d-flex justify-content-between align-items-center px-3">
      <h1 class="header-title">PPGI</h1>
      <div class="options">
        {{> ppgi/selectLanguageHeader}}
        <button class="p-0" id="btn_inicio">{{__ "ppgi.header.initButton"}}</button>
        <button class="p-0" id="btn_logout">{{__ "ppgi.header.logoutButton"}}</button>
      </div>
    </div>
  </header>

  <!-- Seção de conteúdo -->
  <section class="content container px-3">
    {{> ppgi/nav indexSelect="3" progress="75"}}

    <div class="container-fluid p-0">
      <!-- Formulário principal -->
      <form id="candidato-formulario" novalidate autofocus>
        <!-- Tokens e inputs ocultos -->
        <input id="csrfToken" type="hidden" name="_csrf" value="{{csrfToken}}" />
        <input id="email" type="hidden" value="{{email}}" />
        <input id="editalPosicao" type="hidden" value="{{editalPosicao}}" />
        <input id="idCandidato" type="hidden" value="{{id}}" />

        <!-- Card 1: Título e Linha de Pesquisa -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">{{__ "ppgiForm3.titulo"}}</h3>
          </div>

          <div class="card-body">
            <div class="row">

              <!-- Título Proposta -->
              <div class="col-md-7 form-group">
                <label
                  class="control-label"
                  for="candidato-titulo-proposta"
                >
                  <span class="text-danger">*</span>
                  <b>{{__ "ppgiForm3.tituloPropostaLabel"}}:</b>
                </label>
                <input
                  autofocus
                  class="form-control"
                  id="candidato-titulo-proposta"
                  type="text"
                  name="tituloProposta"
                  maxlength="60"
                  value="{{tituloProposta}}"
                />
              </div>
              <!-- Linha de Pesquisa -->
              <div class="form-group col-md-5">
                <label for="candidato-pesquisa">
                  <span class="text-danger">*</span>
                  <b>{{__ "ppgiForm3.linhaPesquisaLabel"}}:</b>
                </label>
                <select
                  id="candidato-pesquisa"
                  class="custom-select"
                  name="linhaPesquisa"
                >
                  <option value="">
                    {{__ "ppgiForm3.linhaPesquisaPlaceholder"}}:
                  </option>
                  {{#each linhasPesquisa}}
                    <option
                      value="{{id}}"
                      {{#if (eq id ../linhaPesquisaId)}}selected{{/if}}
                    >
                      {{nome}}
                    </option>
                  {{/each}}
                </select>
              </div>

            </div>
          </div>
        </div>

        <!-- Card 2: Orientador -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">{{__ "ppgiForm3.orientador.titulo"}}:</h3>
          </div>
          <div class="card-body">
            <p>{{__ "ppgiForm3.orientador.descricao"}}</p>
            <div class="row">
              <!-- Nome do Orientador -->
              <div class="form-group col-12">
                <label for="candidato-orientador">
                  <b>{{__ "ppgiForm3.orientador.nomeOrientadorLabel"}}:</b>
                </label>
                <input
                  class="form-control"
                  id="candidato-orientador"
                  type="text"
                  name="nomeOrientador"
                  maxlength="60"
                  value="{{nomeOrientador}}"
                />
              </div>
            </div>
          </div>
        </div>

        <!-- Card 3: Carta de Recomendação (se aplicável) -->
        {{#if (eq edital.cartaRecomendacao 1)}}
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">
                {{__ "ppgiForm3.cartaRecomendacao.titulo"}}
              </h3>
            </div>
            <div class="card-body d-flex flex-column">
              <p>{{__ "ppgiForm3.cartaRecomendacao.descricao"}}</p>
                {{#each recomendacoes}}
                <blockquote class="quote-secondary m-0 mb-3 pr-0" style="border-radius: 4px;">
                  <div class="row">
                    <div class="col-md-6">
                      <label for="candidatoNomeRecomendacao{{@index}}" class="control-label">
                        <span class="text-danger">*</span>
                        <b>{{__ "ppgiForm3.cartaRecomendacao.nomeLabel"}}:</b>
                      </label>
                      <input
                        class="form-control"
                        id="candidatoNomeRecomendacao{{@index}}"
                        type="text"
                        name="recomendacaoNome[]"
                        maxlength="60"
                        value="{{nome}}"
                      />
                    </div>
                    <div class="col-md-6">
                      <label for="candidatoEmailRecomendacao{{@index}}" class="control-label">
                        <span class="text-danger">*</span>
                        <b>{{__ "ppgiForm3.cartaRecomendacao.emailLabel"}}:</b>
                      </label>
                      <input
                        class="form-control"
                        id="candidatoEmailRecomendacao{{@index}}"
                        type="email"
                        name="recomendacaoEmail[]"
                        maxlength="60"
                        value="{{email}}"
                      />
                    </div>
                    {{#if (gt @index 1)}}
                      <div class="col-12 align-self-end d-flex justify-content-end">
                        <button type="button" class="btn btn-danger delete-experiencia-button mt-1"
                              onclick="$(this).closest('blockquote').remove();">
                          {{__ "ppgi.delete"}}
                        </button>
                      </div>
                    {{/if}}
                 </div>
                </blockquote>
                {{else}}
                <blockquote class="quote-secondary m-0 mb-3 pr-0" style="border-radius: 4px;">
                    <div class="row ">
                      <div class="col-md-6 ">
                        <label for="candidatoNomeRecomendacao1" class="control-label">
                          <span class="text-danger">*</span>
                          <b>{{__ "ppgiForm3.cartaRecomendacao.nomeLabel"}}:</b>
                        </label>
                        <input
                          class="form-control"
                          id="candidatoNomeRecomendacao1"
                          type="text"
                          name="recomendacaoNome[]"
                          maxlength="60"
                        />
                      </div>

                      <div class="col-md-6">
                        <label for="candidatoEmailRecomendacao1" class="control-label">
                          <span class="text-danger">*</span>
                          <b>{{__ "ppgiForm3.cartaRecomendacao.emailLabel"}}:</b>
                        </label>
                        <input
                          class="form-control"
                          id="candidatoEmailRecomendacao1"
                          type="email"
                          name="recomendacaoEmail[]"
                          maxlength="60"
                        />
                      </div>
                  </div>
                </blockquote>
                  <blockquote class="quote-secondary m-0 mb-3 pr-0" style="border-radius: 4px;">
                    <div class="row ">
                      <div class="col-md-6 ">
                        <label for="candidatoNomeRecomendacao2" class="control-label">
                          <span class="text-danger">*</span>
                          <b>{{__ "ppgiForm3.cartaRecomendacao.nomeLabel"}}:</b>
                        </label>
                        <input
                          class="form-control"
                          id="candidatoNomeRecomendacao2"
                          type="text"
                          name="recomendacaoNome[]"
                          maxlength="60"
                        />
                      </div>

                      <div class="col-md-6">
                        <label for="candidatoEmailRecomendacao2" class="control-label">
                          <span class="text-danger">*</span>
                          <b>{{__ "ppgiForm3.cartaRecomendacao.emailLabel"}}:</b>
                        </label>
                        <input
                          class="form-control"
                          id="candidatoEmailRecomendacao2"
                          type="email"
                          name="recomendacaoEmail[]"
                          maxlength="60"
                        />
                      </div>
                    </div>
                  </blockquote>
                {{/each}}
              <div id="dynamic-inputs">
                <!-- Campos adicionais de recomendação são adicionados aqui via JS -->
              </div>
              <button id="add-btn" class="btn btn-primary align-self-end">
                {{__ "ppgiForm3.adicionarRecomendacao"}}
              </button>
            </div>
          </div>
        {{/if}}

        <!-- Card 4: Motivos, Documentos e Uploads -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">{{__ "ppgiForm3.motivos.titulo"}}</h3>
          </div>

          <div class="card-body">
            <!-- Motivos -->
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="candidato-Motivo" class="control-label">
                    {{__ "ppgiForm3.motivos.descricao"}}
                    (<span id="charCount">1000</span>
                    {{__ "ppgiForm3.motivos.caracteresRestantesLabel"}}):
                  </label>
                  <textarea
                    class="form-control"
                    rows="3"
                    id="candidato-Motivo"
                    name="motivos"
                    maxlength="1000"
                  >{{motivos}}</textarea>
                </div>
              </div>
            </div>

            <!-- Carta de Aceite do Orientador (se aplicável) -->
            {{#if (eq edital.cartaOrientador 1)}}
              <div class="row">
                <div class="col-12">
                  <label for="CartaAceiteOrientador" class="control-label">
                    <b> {{__ "ppgiForm3.documentos.cartaOrientador"}}:</b> <br>
                    <span style="font-weight: normal;">{{__ "ppgiForm3.downloadModelLetter"}}:
                      <a href="/public/files/carta-aceite-orientador.docx" download>
                        <img src="/public/img/docx-logo.png" alt="logo docx" width="25" class="mr-2" />
                      </a>
                    </span>
                  </label>
                </div>
                <div id="buttons-aceite" class="col-12 flex-row align-items-center mb-4" style="display: {{#if (not hasCartaAceiteOrientador)}}none{{else}}flex{{/if}}; gap: 16px" >
                  <div class="container-buttons-icon ">
                    <img src="/public/img/pdf-logo.png" alt="pdf" width="50" height="50" />
                    <figcaption id="name-aceite" style="word-break: break-word;"><b>CartaAceiteOrientador.pdf</b></figcaption>
                  </div>
                  <div class="d-flex flex-row align-items-center flex-wrap" style="gap: 4px">
                    <a id="url-aceite" href="/selecaoppgi/download/arquivo/CartaAceiteOrientador.pdf" class="btn btn-primary" download style="flex-grow: 1;">
                      <i class="fa fa-download mr-2" aria-hidden="true" ></i>
                       {{__ "ppgi.form.btnDownload"}}</a>
                    <button type="button" class="btn btn-success" id="btn-change-aceite" style="flex-grow: 1;">
                      <i class="fa fa-retweet mr-2" aria-hidden="true"></i>
                       {{__ "ppgi.form.btnChange"}}</button>
                    <button type="button" class="btn btn-danger" id="btn-delete-aceite" style="flex-grow: 1;">
                      <i class="fa fa-trash mr-2" aria-hidden="true"></i>
                       {{__ "ppgi.form.btnDelete"}}</button>
                  </div>
                </div>
                <div id="container-aceite" class="col-md-5 custom-file form-group custom-file-container mb-4" {{#if hasCartaAceiteOrientador}}style="display: none;"{{/if}}>
                  <input
                    type="file"
                    class="custom-file-input"
                    id="CartaAceiteOrientador"
                    name="CartaAceiteOrientador"
                    accept="application/pdf"
                    data-msg-accept="{{__ "ppgi.validation.onlyPdf"}}"
                  />
                  <label
                    class="form-control custom-file-label"
                    for="CartaAceiteOrientador"
                  >
                    {{__ "ppgi.form.chooseFile"}}
                  </label>
                </div>
              </div>
            {{/if}}

            <!-- Proposta de Trabalho -->
            <div class="row">
              <div class="col-12">
                <label for="PropostaTrabalho" class="control-label">
                  <span class="text-danger">*</span> <b> {{__ "ppgiForm3.documentos.propostaTrabalho"}}:</b>
                </label>
              </div>
              <div id="buttons-proposta" class="col-12 flex-row align-items-center mb-4" style="display: {{#if (not hasPropostaTrabalho)}}none{{else}}flex{{/if}}; gap: 16px"  >
                <div class="container-buttons-icon ">
                  <img src="/public/img/pdf-logo.png" alt="pdf" width="50" height="50" />
                  <figcaption id="name-proposta" style="word-break: break-word;"><b>PropostaTrabalho.pdf</b></figcaption>
                </div>
                <div class="d-flex flex-row align-items-center flex-wrap" style="gap: 4px;">
                  <a id="url-proposta" href="/selecaoppgi/download/arquivo/PropostaTrabalho.pdf" class="btn btn-primary"  download style="flex-grow: 1;">
                    <i class="fa fa-download mr-2" aria-hidden="true" ></i>
                     {{__ "ppgi.form.btnDownload"}}</a>
                  <button type="button" class="btn btn-success" id="btn-change-proposta" style="flex-grow: 1;">
                    <i class="fa fa-retweet mr-2" aria-hidden="true"></i>
                     {{__ "ppgi.form.btnChange"}}</button>
                  <button type="button" class="btn btn-danger" id="btn-delete-proposta" style="flex-grow: 1;">
                    <i class="fa fa-trash mr-2" aria-hidden="true"></i>
                     {{__ "ppgi.form.btnDelete"}}</button>
                </div>
              </div>
              <div id="container-proposta" class="col-md-5 custom-file form-group custom-file-container mb-4" {{#if hasPropostaTrabalho}}style="display: none;"{{/if}}>
                <input
                  type="file"
                  class="custom-file-input"
                  id="PropostaTrabalho"
                  name="PropostaTrabalho"
                  accept="application/pdf"
                  data-msg-accept="{{__ "ppgi.validation.onlyPdf"}}"
                />
                <label
                  class="form-control custom-file-label"
                  for="PropostaTrabalho"
                >
                  {{__ "ppgi.form.chooseFile"}}
                </label>
              </div>
            </div>

            <!-- Comprovante de Pagamento -->
            <div class="row">
              <div class="col-12">
                <label for="ComprovantePagamento" class="control-label">
                  <span class="text-danger">*</span> <b> {{__ "ppgiForm3.documentos.comprovantePagamento"}}:</b>
                </label>
              </div>
              <div id="buttons-pagamento" class="col-12 flex-row align-items-center mb-4" style="display: {{#if (not hasPropostaTrabalho)}}none{{else}}flex{{/if}}; gap: 16px"  >
                <div class="container-buttons-icon ">
                  <img src="/public/img/pdf-logo.png" alt="pdf" width="50" height="50" />
                  <figcaption id="name-pagamento" style="word-break: break-word;"><b>ComprovantePagamento.pdf</b></figcaption>
                </div>
                <div class="d-flex flex-row align-items-center flex-wrap" style="gap: 4px">
                  <a id="url-pagamento" href="/selecaoppgi/download/arquivo/ComprovantePagamento.pdf" class="btn btn-primary" download style="flex-grow: 1;">
                    <i class="fa fa-download mr-2" aria-hidden="true" ></i>
                     {{__ "ppgi.form.btnDownload"}}</a>
                  <button type="button" class="btn btn-success" id="btn-change-pagamento" style="flex-grow: 1;">
                    <i class="fa fa-retweet mr-2" aria-hidden="true"></i>
                     {{__ "ppgi.form.btnChange"}}</button>
                  <button type="button" class="btn btn-danger" id="btn-delete-pagamento" style="flex-grow: 1;">
                    <i class="fa fa-trash mr-2" aria-hidden="true"></i>
                     {{__ "ppgi.form.btnDelete"}}</button>
                </div>
              </div>
              <div id="container-pagamento" class="col-md-5 custom-file form-group custom-file-container mb-4" {{#if hasPropostaTrabalho}}style="display: none;"{{/if}}>
                <input
                  type="file"
                  class="custom-file-input"
                  id="ComprovantePagamento"
                  name="ComprovantePagamento"
                  accept="application/pdf"
                  data-msg-accept="{{__ "ppgi.validation.onlyPdf"}}"
                />
                <label
                  class="form-control custom-file-label"
                  for="ComprovantePagamento"
                >
                  {{__ "ppgi.form.chooseFile"}}
                </label>
              </div>
            </div>
          </div>

          <!-- Botões do card -->
          <div class="card-footer ">
            <div class="col d-flex flex-row-reverse p-0" style="gap: 6px;">
              <!-- Botão Finalizar (Save and Continue) -->
              <button class="btn btn-success custom-button">
                {{__ "ppgi.form.saveAndContinue"}}
                <span
                  class="spinner-border spinner-border-sm"
                  hidden="hidden"
                  role="status"
                  aria-hidden="true"
                ></span>
              </button>

              <!-- Botão Salvar -->
              <button id="save-data" class="btn btn-secondary custom-button">
                {{__ "ppgi.form.save"}}
                <span
                  class="spinner-border spinner-border-sm"
                  hidden="hidden"
                  role="status"
                  aria-hidden="true"
                ></span>
              </button>

              <!-- Botão Voltar -->
              <button class="btn btn-warning custom-button" type="button" id="voltarForm">
                {{__ "ppgi.form.previousStep"}}
                <span
                  class="spinner-border spinner-border-sm"
                  hidden="hidden"
                  role="status"
                  aria-hidden="true"
                ></span>
              </button>
            </div>
          </div>
        </div><!-- /card 4 -->
      </form>
    </div>
  </section>
  {{> ppgi/footer}}

</main>

<script>

  const inputFilesConfig = {
    CartaAceiteOrientador: {
      input: "#CartaAceiteOrientador",
      buttonsElement: "#buttons-aceite",
      containerInput: "#container-aceite",
      nameElement: "#name-aceite",
      changeButton: "#btn-change-aceite",
      deleteButton: "#btn-delete-aceite",
      urlElement: "#url-aceite",
      hasFileSave: {{hasCartaAceiteOrientador}}
    },
    PropostaTrabalho: {
      input: "#PropostaTrabalho",
      buttonsElement: "#buttons-proposta",
      containerInput: "#container-proposta",
      nameElement: "#name-proposta",
      changeButton: "#btn-change-proposta",
      deleteButton: "#btn-delete-proposta",
      urlElement: "#url-proposta",
      hasFileSave: {{hasPropostaTrabalho}}
    },
    ComprovantePagamento: {
      input: "#ComprovantePagamento",
      buttonsElement: "#buttons-pagamento",
      containerInput: "#container-pagamento",
      nameElement: "#name-pagamento",
      changeButton: "#btn-change-pagamento",
      deleteButton: "#btn-delete-pagamento",
      urlElement: "#url-pagamento",
      hasFileSave: {{hasComprovante}}
    }
  }

  function changeFile(idInput) {
    $(idInput).click();
  }

  function actionDeleteFile(idInput, idButtons, idContainerInput){
    $(idInput).val('');
    $(idButtons).hide();
    $(idContainerInput).show();
    $(idInput).next('label').text('{{__ "ppgi.form.chooseFile"}}');
  }

  function changeFileInput(event, aLink, idButtons, idContainerInput, idName) {
    const input = $(event.target);
    if (!input.valid()) {
      input.next('label').text('{{__ "ppgi.form.chooseFile"}}');
      return;
    }
    const file = event.target.files[0];
    const fileName = file.name;
    const url = URL.createObjectURL(file);
    input.valid()
    $(idContainerInput).hide();
    $(idButtons).css('display', 'flex');
    $(idName).html(`<b>${fileName}</b>`);

    $(aLink)
      .attr('href', url)
      .attr('download', fileName);
  }

  function finishRegister(){
    const linhaDePesquisaId = $("#candidato-pesquisa").val();
    const formData = new FormData($("#candidato-formulario")[0]);
    const btnSubmit = $("#confirmButton");
    btnSubmit.attr("disabled", true);
    btnSubmit.find("span").prop("hidden", false);
    formData.append('idLinhaPesquisa', linhaDePesquisaId);
    formData.append('isNext', true);
    $.ajax({
      headers: {
        'X-CSRF-TOKEN': $("#csrfToken").val()
      },
      url: '/selecaoppgi/formulario/3',
      type: 'PUT',
      data: formData,
      contentType: false,
      processData: false,
      success: function (data) {
        window.location.href = '/selecaoppgi/formulario';
      },
      error: function (data) {
        console.error(data);
        btnSubmit.attr("disabled", false);
        btnSubmit.find("span").prop("hidden", true);
      }
    });
  }
  
  $("#save-data").click(function (e) {
    e.preventDefault();
    const form = $("#candidato-formulario");
    if (!form.valid()) {
      return;
    }
    const linhaDePesquisaId = $("#candidato-pesquisa").val();
    const formData = new FormData($("#candidato-formulario")[0]);
    const btnSubmit = $("#save-data");
    btnSubmit.attr("disabled", true);
    btnSubmit.find("span").prop("hidden", false);
    formData.append('idLinhaPesquisa', linhaDePesquisaId);

    $.ajax({
      headers: {
        'X-CSRF-TOKEN': $("#csrfToken").val()
      },
      url: '/selecaoppgi/formulario/3',
      type: 'PUT',
      data: formData,
      contentType: false,
      processData: false,
      success: function (data) {
        window.location.href = '/selecaoppgi/formulario';
      },
      error: function (data) {
        console.error(data);
        btnSubmit.attr("disabled", false);
        btnSubmit.find("span").prop("hidden", true);
      }
    });
  });

  $(document).ready(function () {
    Object.keys(inputFilesConfig).forEach((key) => {
      const inputConfig = inputFilesConfig[key];
      const input = $(inputConfig.input);
      const buttonsElement = $(inputConfig.buttonsElement);
      const containerInput = $(inputConfig.containerInput);
      const nameElement = $(inputConfig.nameElement);
      const changeButton = $(inputConfig.changeButton);
      const deleteButton = $(inputConfig.deleteButton);
      const urlElement = $(inputConfig.urlElement);

      input.change((event) => {
        changeFileInput(event, urlElement, buttonsElement, containerInput, nameElement);
      });

      changeButton.click(() => {
        changeFile(input);
      });

      deleteButton.click(() => {
        actionDeleteFile(input, buttonsElement, containerInput);
      });
    });

    $("#charCount").text(1000 - $("#candidato-Motivo").val().length);
		$("#btn_logout").click(function () {
			$.ajax({
				url: "/selecaoppgi/logout",
				type: "POST",
				data: {
					_csrf: $("#csrfToken").val()
				},
				success: function (data) {
					window.location.href = "/selecaoppgi";
				},
				error: function (data) {
					console.error(data);
				}
			});
		});

		$("#btn_inicio").click(function () {
			$.ajax({
				url: "/selecaoppgi/voltarInicio",
				type: "POST",
				data: {
					_csrf: $("#csrfToken").val()
				},
				success: function (data) {
					window.location.href = "/selecaoppgi/formulario";
				},
				error: function (data) {
					console.error(data);
				}
			});
		});
	
    $("#voltarForm").on("click", function (e) {
        const btnVoltar = $("#voltarForm");
        btnVoltar.prop("disabled", true);
        btnVoltar.find("span").prop("hidden", false);
        const csrfToken = $("#csrfToken").val();
        const id = $("#idCandidato").val();
        const editalPosicao = $("#editalPosicao").val();

        $.ajax({    
          url: '/selecaoppgi/voltar',
          type: 'POST',
          data: {
            _csrf: csrfToken,
            editalPosicao: editalPosicao, 
            id: id
          }, success: function (data) {
            window.location.href = '/selecaoppgi/formulario';
            window.location.reload(true);
          },
          error: function (data) {
            console.error(data)
            btnVoltar.prop("disabled", false);
            btnVoltar.find("span").prop("hidden", true);
          }
        });
      });
 
    $("#add-btn").click(function (e) {
      e.preventDefault();
      const newInput = '' +
        '<blockquote class="quote-secondary m-0 mb-3 pr-0" style="border-radius: 4px; ">' +
        '<div class="row ">' +
        '<div class="col-md-6">' +
        '<label class="control-label" for="candidato-Nome-Recomendacao">' +
        '<font color="#FF0000">*</font>' +
        '<b>{{__ "ppgiForm3.cartaRecomendacao.nomeLabel"}}:</b>' +
        '</label>' +
        '<input class="form-control" type="text" name="recomendacaoNome[]" value="" maxlength="60">' +
        '</div>' +
        '<div class="col-md-6">' +
        '<label class="control-label" for="candidato-Email-Recomendacao">' +
        '<font color="#FF0000">*</font>' +
        '<b>{{__ "ppgiForm3.cartaRecomendacao.emailLabel"}}:</b>' +
        '</label>' +
        '<input class="form-control" type="text" name="recomendacaoEmail[]" value="" maxlength="60">' +
        '</div>' +
        '<div class="col-12 align-self-end d-flex justify-content-end">' +
        '<button class="btn btn-danger delete-experiencia-button mt-1" onclick="$(this).closest(\'blockquote\').remove();">{{__
          "ppgi.delete"}}</button>' +
        '</div>' +
        '</div>' +
        '</blockquote>';

      $("#dynamic-inputs").append(newInput);
    });

    $("#candidato-Motivo").on("input", function () {
      var maxLength = 1000;
      var currentLength = $(this).val().length;
      var charactersRemaining = maxLength - currentLength;
      $("#charCount").text(charactersRemaining);
    });
  });

  $.validator.addMethod("fileSize", function(value, element, param) {
    if (element.files.length === 0) {
      return true;
    }
    return element.files[0].size <= param;
  }, "O arquivo deve ter no máximo {0} bytes.");

  $.validator.prototype.checkForm = function() {
    this.prepareForm();
    for (var i = 0, elements = (this.currentElements = this.elements()); elements[i]; i++) {
        if (this.findByName(elements[i].name).length != undefined && this.findByName(elements[i].name).length > 1) {
            for (var cnt = 0; cnt < this.findByName(elements[i].name).length; cnt++) {
                this.check(this.findByName(elements[i].name)[cnt]);
            }
        } else {
            this.check(elements[i]);
        }
    }
    return this.valid();
  }
  console.log(inputFilesConfig.PropostaTrabalho.hasFileSave)
 
  $("#candidato-formulario").validate({
      errorElement: 'span',
      errorPlacement: function (error, element) {
        error.addClass('invalid-feedback');
        element.closest('div').append(error);
      },
      highlight: function (element, errorClass, validClass) {
        $(element).addClass('is-invalid');
      },
      unhighlight: function (element, errorClass, validClass) {
        $(element).removeClass('is-invalid');
      },
      rules: {
        "linhaPesquisa": {
          required: true
        },
        "tituloProposta": {
          required: true
        },
        "recomendacaoNome[]": {
          required: false
        },
        "recomendacaoEmail[]": {
          required: false,
          email: true 
        },
        "PropostaTrabalho": {
          required: !inputFilesConfig.PropostaTrabalho.hasFileSave,
          fileSize: 30 * 1024 * 1024 // Tamanho máximo em bytes (por exemplo, 30MB = 30 * 1024 * 1024 bytes)
        },
        "ComprovantePagamento": {
          required: !inputFilesConfig.ComprovantePagamento.hasFileSave,
          fileSize: 30 * 1024 * 1024 // Tamanho máximo em bytes (por exemplo, 30MB = 30 * 1024 * 1024 bytes)
        },
        "CartaAceiteOrientador": {
          required: {{#if (eq cursoDesejado 'Doutorado')}}!inputFilesConfig.CartaAceiteOrientador.hasFileSave{{else}}false{{/if}},
          fileSize: 30 * 1024 * 1024 // Tamanho máximo em bytes (por exemplo, 30MB = 30 * 1024 * 1024 bytes)
        },
      },
      messages: {
        "linhaPesquisa": {
          required: "{{__ "ppgiForm3.validation.linhaPesquisa.required"}}",
        },
        "tituloProposta": {
          required: "{{__ "ppgiForm3.validation.tituloProposta.required"}}",
        },
        "recomendacaoNome[]": {
          required: "{{__ "ppgiForm3.validation.recomendacaoNome[].required"}}",
        },
        "recomendacaoEmail[]": {
          required: "{{__ "ppgiForm3.validation.recomendacaoEmail[].required"}}",
          email:"{{__ "ppgiForm3.validation.recomendacaoEmail[].email"}}",
        },
        "PropostaTrabalho": {
          required: "{{__ "ppgiForm3.validation.PropostaTrabalho.required"}}",
          fileSize: "{{__ "ppgi.validation.fileSize"}}"
        },
        "ComprovantePagamento": {
          required: "{{__ "ppgiForm3.validation.ComprovantePagamento.required"}}",
          fileSize: "{{__ "ppgi.validation.fileSize"}}"

        },
        "CartaAceiteOrientador": {
          required: "{{__ "ppgiForm3.validation.CartaAceiteOrientador.required"}}",
          fileSize: "{{__ "ppgi.validation.fileSize"}}"

        },
      },
      submitHandler: (form, e) => {
        e.preventDefault();
        $('#confirm-register').modal()
      }
    });
</script>