{{ setTitle title="Histórico" }}

<style>

  .custom-button {
    margin-right: 10px;
    /* Adicione a margem desejada entre os botões */
    margin-bottom: 10px;
    /* Adicione a margem desejada na parte inferior dos botões (espaço vertical) */
  }
</style>
<link href="/script-adminlte/plugins/icheck-bootstrap/icheck-bootstrap.min.css" rel="stylesheet">

<div class="forms-page">
	<header>
    <div class="container">
      <h1 class="header-title">PPGI</h1>
		  <div class="options">
				{{> ppgi/selectLanguageHeader}}
			  <button id="btn_inicio">Início</button>
			  <button id="btn_logout">Sair</button>
		  </div>
    </div>
	</header>


  <section class="content container">
   	{{> ppgi/nav active="historico" indexSelect="2" progress="50"}}

    <div class="container-fluid">
      <form id="candidato-formulario2">
        <input id="csrfToken" type="hidden"  name="_csrf" value="{{csrfToken}}">
        <input id="email" type="hidden" value="{{email}}">
        <input id="editalPosicao" type="hidden" value="{{editalPosicao}}">
        <input id="idCandidato" type="hidden"  value="{{id}}">
        <input id="idCandidato" type="hidden" value="{{message}}">
        <p>{{message}}</p>
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Curso de Graduação</h3>
          </div>

          <div class="card-body">
            <div class="row">
              <div class="form-group col-md-6">
                <label for="candidato-curso">
                  <font color="#FF0000">*</font>
                  <b>Curso:</b>
                </label>
                <input class="form-control" id="candidato-curso" placeholder="Insira seu curso" type="text" name="cursoGraduacao"
                  maxlength="60" value="{{cursoGraduacao}}">
              </div>

              <div class="col-md-6 form-group">
                <label class="control-label" for="candidato-instituicao">
                  <font color="#FF0000">*</font>
                  <b>Instituição:</b>
                </label>
                <input class="form-control" id="candidato-instituicao" placeholder="Insira sua instituição" type="text"
                  name="instituicaoGraduacao" maxlength="60" value="{{instituicaoGraduacao}}">
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 ">
                <label class="control-label" for="candidato-ano">
                  <font color="#FF0000">*</font>
                  <b>Ano de Egresso:</b>
                </label>
                <input class="form-control" id="candidato-ano" placeholder="Insira o ano" type="number" name="anoEgressoGraduacao"
                  value="{{anoEgressoGraduacao}}" maxlength="60" >
              </div>
            </div>
          </div>
        </div>

        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Curso de Pós-Graduação Stricto-Senso:</h3>
          </div>


          <div class="card-body">
            <div class="row">
              <div class="form-group col-md-6">
                <label for="candidato-curso-pos">
                  <b>Curso:</b>
                </label>
                <input class="form-control" id="candidato-curso-pos" type="text" name="cursoPos" maxlength="60"
                  value="{{cursoPos}}">
              </div>

              <div class="col-md-6 " role="radiogroup">
                <label class="control-label" for="candidato-curso-tipo">
                  <b>Tipo:</b>
                </label>
                <div id="candidato-curso-tipo" role="radiogroup"
                  style="display: flex; align-content:center; gap: 20px; max-width: 100%; flex-wrap: wrap;">
                  <div class="icheck-primary d-inline" style="margin-right: 20px;">
                    <input type="radio" id="Tipo1" name="tipoPos" value="Mestrado Acadêmico" {{#if (eq "Mestrado Acadêmico" tipoPos)}}checked{{/if}}>
                    <label for="Tipo1"> Mestrado Acadêmico </label>
                  </div>

                  <div class="icheck-primary d-inline" style="margin-right: 20px;">
                    <input type="radio" id="Tipo2" name="tipoPos" value="Mestrado Profissional" {{#if (eq "Mestrado Profissional" tipoPos)}}checked{{/if}}>
                    <label for="Tipo2"> Mestrado Profissional </label>
                  </div>

                  <div class="icheck-primary d-inline" style="margin-right: 20px;">
                    <input type="radio" id="Tipo3" name="tipoPos" value="Doutorado" {{#if (eq "Doutorado" tipoPos)}}checked{{/if}}>
                    <label for="Tipo3"> Doutorado </label>
                  </div>

                  <button id="limparSelecao" class="btn btn-block btn-primary" style="width:50%;">Limpar
                    Seleção</button>
                </div>

              </div>

            </div>

            <div class="row">
              <div class="col-md-6 ">
                <label class="control-label" for="candidato-instituicao-pos">
                  <b>Instituição:</b>
                </label>
                <input class="form-control" id="candidato-instituicao-pos" type="text" name="instituicaoPos"
                  maxlength="60" value="{{instituicaoPos}}">
              </div>
              <div class="col-md-3">
                <label class="control-label" for="candidato-ano-pos">
                  <b>Ano de Egresso:</b>
                </label>
                <input class="form-control" id="candidato-ano-pos" type="number" name="anoEgressoPos" value="{{anoEgressoPos}}">
              </div>
            </div>

          </div>
        </div>

        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Curriculum Vittae</h3>
          </div>

          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <label class="control-label" for="vittaepdf">
                  <font color="#FF0000">*</font> 
                  <b>Curriculum Vittae PDF (no formato Lattes - http://lattes.cnpq.br):</b>
                  {{#if hasCurriculum}}<br>(Você já realizou o upload de um arquivo, <a id="downloadLink" href="/selecaoppgi/download/arquivo/Curriculum.pdf"> clique aqui</a> para visualizá-lo.){{/if}}
                </label>
                <div class="form-group">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="vittaepdf" name="Curriculum" accept="application/pdf" data-msg-accept="Esse campo so permite arquivos pdf.">
                    <label class="custom-file-label" for="Curriculum">Escolher arquivo</label>
                  </div>
                </div>
            

                <label class="control-label" for="vittaexml">
                  <b>Curriculum Vittae XML no formato Lattes - http://lattes.cnpq.br (não incluir significa não ter
                    publicações a serem contadas na seleção):</b>
                </label>
                <div class="form-group">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="vittaexml" name="VitaeXML" accept="text/xml"  data-msg-accept="Esse campo só permite arquivos XML.">
                    <label class="custom-file-label" for="VitaeXML">Escolher arquivo</label>
  
                  </div>
                </div>

              </div>

            </div>
            <div>

              <div>
                <p>
                  {{#if periodicos}}
                  <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button"
                    aria-expanded="false" aria-controls="multiCollapseExample1">Periodicos <span
                      class="badge badge-light">{{periodicos.length}}</span></a>
                  {{/if}}
                </p>

                <div class="collapse multi-collapse" id="multiCollapseExample1">

                  {{#each periodicos}}
                  <div class="card collapsed-card">
                    <div class="card-header">
                      <div style="display:flex; align-items: center; justify-content: space-between;">
                        <a data-card-widget="collapse" style="color:#000" class="card-title">
                          {{ano}}: {{titulo}}
                        </a>
                        <div class="card-tools">
                          <!-- Collapse Button -->
                          <button type="button" class="btn btn-tool" data-card-widget="collapse"
                            data-card-toggle="collapse"><i class="fas fa-plus"></i></button>
                        </div>
                      </div>
                      <!-- /.card-tools -->
                    </div>
                    <!-- /.card-header -->

                    <div class="card-body">
                      <li><strong>{{titulo}}. </strong>{{autores}}; <i>{{local}}, {{ano}}. </i>{{natureza}}. <b></b>
                      </li>
                    </div>
                    <!-- /.card-body -->
                  </div>
                  {{/each}}
                </div>
                <p>
                  {{#if conferencias.length}}
                  <button class="btn btn-primary" type="button" data-toggle="collapse"
                    data-target="#multiCollapseExample2" aria-expanded="false"
                    aria-controls="multiCollapseExample2">Conferências <span
                      class="badge badge-light">{{conferencias.length}}</span></button>
                  {{/if}}
                </p>
                <div class="collapse multi-collapse" id="multiCollapseExample2">

                  {{#each conferencias}}

                  <div class="card collapsed-card">
                    <div class="card-header">
                      <div style="display:flex; align-items: center; justify-content: space-between;">
                        <a data-card-widget="collapse" style="color:#000" class="card-title">
                          {{ano}}: {{titulo}}
                        </a>
                        <div class="card-tools">
                          <!-- Collapse Button -->
                          <button type="button" class="btn btn-tool" data-card-widget="collapse"
                            data-card-toggle="collapse"><i class="fas fa-plus"></i></button>
                        </div>
                      </div>
                      <!-- /.card-tools -->
                    </div>
                    <!-- /.card-header -->

                    <div class="card-body">
                      <li><strong>{{titulo}}. </strong>{{autores}}; <i>{{local}}, {{ano}}. </i>{{natureza}}. <b></b>
                      </li>
                    </div>
                    <!-- /.card-body -->
                  </div>

                  {{/each}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Aproveitamento de Prova de Seleção Anterior</h3>

          </div>

          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <label class="control-label" for="candidato-prova">
                  <b>Caso você deseja aproveitar a nota de uma prova de seleção PPGI de algum ano anterior (no máximo 2 anos), 
                    pro favor faça o upload do PDF da prova através da opção abaixo:
                  </b>
                  {{#if hasProvaAnterior}}<br>(Você já realizou o upload de um arquivo, <a id="downloadLink" href="/selecaoppgi/download/arquivo/ProvaAnterior.pdf"> clique aqui</a> para visualizá-lo.){{/if}}

                </label>
              </div>
              
              
                <div class="col-md-6" >
                <div class="form-group">
                  <div class="custom-file">
      
                    <input type="file" class="custom-file-input" id="candidato-prova" name="ProvaAnterior">
                    <label class="custom-file-label" for="ProvaAnterior">Escolher arquivo</label>
                  </div>
                </div>
              </div>

             
            </div>
          </div>
        </div>

        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Experiência Acadêmica</h3>
          </div>

          <div class="card-body">
            <button id="add-experiencia-button" class="btn btn-primary">Adicionar Experiência</button>
          
            <div id="experiencia-container">
              {{#each experienciasAcademicas}}
              <div class="row experiencia-row">
                <div class="col-md-4">
                  <label class="control-label" for="candidato-experiencia-instituicao">
                    Instituição Acadêmica:
                  </label>
                  <input class="form-control" id="candidato-experiencia-instituicao" type="text" name="experienciaInstituicao[]" maxlength="60" value="{{instituicao}}">
                </div>

                <div class="col-md-4">
                  <label class="control-label" for="candidato-experiencia-atividade">
                    Atividade:
                  </label>
                  <input class="form-control" id="candidato-experiencia-atividade" type="text"
                    name="experienciaAtividade[]" maxlength="60" value="{{atividade}}">
                </div>

                <div class="col-md-4">
                  <label class="control-label" for="candidato-experiencia-periodo">
                    Período:
                  </label>
                  <input class="form-control" id="candidato-experiencia-periodo" type="text" name="experienciaPeriodo[]"
                    maxlength="30" value="{{periodo}}">
                </div>
                <div class="col-1" style="margin-top:10px">
                  <button type="button" class="btn btn-danger delete-experiencia-button">Excluir</button>
                </div>
              </div>
              {{/each}}
              {{#if (eq experienciasAcademicas.length 0)}}
              <div class="row experiencia-row">
                <div class="col-md-4">
                  <label class="control-label" for="candidato-experiencia-instituicao">
                    Instituição Academica:
                  </label>
                  <input class="form-control" id="candidato-experiencia-instituicao" type="text" name="experienciaInstituicao[]"
                    maxlength="60">
                </div>

                <div class="col-md-4">
                  <label class="control-label" for="candidato-experiencia-atividade">
                    Atividade:
                  </label>
                  <input class="form-control" id="candidato-experiencia-atividade" type="text"
                    name="experienciaAtividade[]" maxlength="60">
                </div>

                <div class="col-md-4">
                  <label class="control-label" for="candidato-experiencia-periodo">
                    Período:
                  </label>
                  <input class="form-control" id="candidato-experiencia-periodo" type="text" name="experienciaPeriodo[]" maxlength="30">
                </div>
                <div class="col-1" style="margin-top:10px">
                  <button type="button" class="btn btn-danger delete-experiencia-button" style="display: none">Excluir</button>
                </div>
              </div>
              {{/if}}
            </div>
          </div>
          <div class="card-footer">
            <div class="col">
              <button id="btn-submit" class="btn btn-success float-right custom-button">
                Salvar e Continuar
                <span class="spinner-border spinner-border-sm" hidden="true" role="status" aria-hidden="true"></span>
              </button>
              <button class="btn btn-warning float-right custom-button" type="button" id="voltarForm">
                Passo Anterior
								<span class="spinner-border spinner-border-sm" hidden="true" role="status" aria-hidden="true"></span>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>

<footer>
</footer>

<script>
  function changeYear(event) {
    const year = event.target.value;
    if (year.length === 4) { 
      const currentYear = new Date().getFullYear();
      if (year > currentYear) {
        $(event.target).addClass("is-invalid");
      } else {
        $(event.target).removeClass("is-invalid");
      }
    }
  }

  $(document).ready(function () {
    $("#btn_logout").click(function () {
			$.ajax({
				url: "/selecaoppgi/logout",
				type: "POST",
				data: {
					_csrf: $("#csrfToken").val()
				},
				success: function (data) {
					window.location.href = "/selecaoppgi";
				},
				error: function (data) {
					console.error(data);
				}
			});
		});
		$("#btn_inicio").click(function () {
				$.ajax({
				url: "/selecaoppgi/voltarInicio",
				type: "POST",
				data: {
					_csrf: $("#csrfToken").val()
				},
				success: function (data) {
					window.location.href = "/selecaoppgi/formulario";
				},
				error: function (data) {
					console.error(data);
				}
			});
		});
    $("#voltarForm").click(() => {
      const btnVoltar = $("#voltarForm");
      btnVoltar.attr("disabled", true);
      btnVoltar.find("span").prop("hidden", false);
      const csrfToken = $("#csrfToken").val();
      const id = $("#idCandidato").val();
      const editalPosicao = $("#editalPosicao").val();

      $.ajax({
        url: '/selecaoppgi/voltar',
        type: 'POST',
        data: {
          _csrf: csrfToken,
          editalPosicao: editalPosicao, 
          id: id
        }, success: function (data) {
          window.location.href = '/selecaoppgi/formulario';
          window.location.reload(true);
        },
        error: function (data) {
          btnVoltar.attr("disabled", false);
          btnVoltar.find("span").prop("hidden", true);
          console.error(data)
        }
      });
    });

    $("#limparSelecao").on("click", function (e) {
      e.preventDefault()
      $("#candidato-curso-tipo input[type='radio']").prop("checked", false);
    });
    $("#candidato-ano-pos").change(changeYear);
    $("#candidato-ano").change(changeYear);
  });

  function mostrarPeriodicos() {
    var accordion = $("#accordion");
    if (accordion.hasClass("show")) {
      accordion.collapse("hide");
    } else {
      accordion.collapse("show");
    }
  }

  $(".accordion").on("show.bs.collapse", function () {
    $(this).find(".collapse").slideDown(20000);
  });

  $(".accordion").on("hide.bs.collapse", function () {
    $(this).find(".collapse").slideUp(20000);
  });


  function mostrarConferencias() {
    document.getElementById("periodicos").style.display = "none";
    document.getElementById("conferencias").style.display = "block";
  }

  document.addEventListener("DOMContentLoaded", function () {
    const addButton = document.getElementById("add-experiencia-button");
    const experienciaContainer = document.getElementById("experiencia-container");
    const exemploRow = document.querySelector(".experiencia-row");

    const experiencias = experienciaContainer.getElementsByClassName("experiencia-row");
    if (experiencias.length >= 1) {
      for (const experiencia of experiencias) {
          const deleteButton = experiencia.querySelector(".delete-experiencia-button");

        deleteButton.addEventListener("click", function () {
          experienciaContainer.removeChild(experiencia);
        });
      }
    }
    addButton.addEventListener("click", function (e) {
      e.preventDefault();
      const newExperienciaRow = exemploRow.cloneNode(true);

      const inputs = newExperienciaRow.querySelectorAll("input");
      inputs.forEach(input => input.value = "");

      experienciaContainer.appendChild(newExperienciaRow);

      const experiencias = experienciaContainer.getElementsByClassName("experiencia-row");
      if (experiencias.length > 1) {
        for (const experiencia of experiencias) {
          const deleteButton = experiencia.querySelector(".delete-experiencia-button");
          deleteButton.style.display = "inline-block";
          deleteButton.addEventListener("click", function () {
            experienciaContainer.removeChild(experiencia);
            if (experiencias.length === 1) {
              const experiencia = experiencias[0];
              const deleteButton = experiencia.querySelector(".delete-experiencia-button");
              deleteButton.style.display = "none";
            }
          });
        }
      } else {
        const experiencia = experiencias[0];
        const deleteButton = experiencia.querySelector(".delete-experiencia-button");
        deleteButton.style.display = "none";
      }
    });
  });

  function reqAjax(data) {
    const btnSubmit = $("#btn-submit");
    btnSubmit.attr("disabled", true);
    btnSubmit.find("span").prop("hidden", false);

    const formData = new FormData($('#candidato-formulario2')[0]);
    formData.append('csrfToken', $("#csrfToken").val());
    formData.append('email', $("#email").val());
    formData.append('editalPosicao', $("#editalPosicao").val());
    formData.append('id', $("#idCandidato").val());
     
    const csrfToken = $("#csrfToken").val();
    const email = $("#email").val();
    const editalPosicao = $("#editalPosicao").val();
    const id = $("#id").val();

    $.ajax({
      url: '/selecaoppgi/formulario/2?_csrf={{csrfToken}}',
      type: "PUT",
      data: formData, 
      contentType: false,
      processData: false,
      success: function (response) {
       	window.location.href = '/selecaoppgi/formulario';
        window.location.reload(true);
      },
      error: function (xhr, status, error) {
        console.error(xhr);
        btnSubmit.attr("disabled", false);
        btnSubmit.find("span").prop("hidden", true);
      }
    });
  }

  function getExperienciasData() {
    const experiencias = document.getElementsByClassName("experiencia-row");
    const experienciasData = [];

    for (const experiencia of experiencias) {
      const instituicao = experiencia.querySelector("#candidato-experiencia-instituicao").value;
      const atividade = experiencia.querySelector("#candidato-experiencia-atividade").value;
      const periodo = experiencia.querySelector("#candidato-experiencia-periodo").value;

      const experienciaData = {
        instituicao: instituicao,
        atividade: atividade,
        periodo: periodo
      };
      experienciasData.push(experienciaData);
    }

    return experienciasData;
  }


  $('#vittaexml').change(function(data){
    const file = data.target.files[0];
    if (file && file.type === "text/xml") {
      const VitaeXML = document.querySelector("VitaeXML")
      const formData = new FormData($('#candidato-formulario2')[0]);

      if (data.target.files.length) {
        const vitaeInput = document.getElementById("vittaexml");
        vitaeInput.setAttribute("disabled", true);
        getCompleteData(formData, GetDataPubli)
      } 
    }
  })

  function GetDataPubli(data) {
    const DataForm = data;
    console.log(DataForm)
    console.log(JSON.stringify(DataForm))
    var formData2 = new FormData($('#candidato-formulario2')[0]);
    const email = $("#email").val();
    const editalPosicao = $("#editalPosicao").val();
    const id = $("#id").val();
    formData2.append('email', email);
    formData2.append('editalPosicao', editalPosicao);
    formData2.append('id', id);

    $.ajax({
      url: '/selecaoppgi/formulario/publicacoes?_csrf={{csrfToken}}',
      type: "POST",
      data: JSON.stringify(DataForm),
      success: function (data) {
        window.location.href = '/selecaoppgi/formulario';
      },
      error: function (err) {
        $(document).Toasts('create', {
          icon: 'success',
          class: "bg-danger",
          autohide: true,
          delay: 10000,
          title: 'Ocorreu um problema!',
          body: 'As informações não poderam ser salvas.'
        })
        const vitaeInput = document.getElementById("vittaexml");
        vitaeInput.setAttribute("disabled", false);
      },
      contentType: 'application/json',
    })


  }

  $.validator.addMethod("conjuntoPreenchido", function (value, element) {
    const cursoPos = $("#candidato-curso-pos").val();
    const instituicaoPos = $("#candidato-instituicao-pos").val();
    const anoEgressoPos = $("#candidato-ano-pos").val();
    const cursoTipoChecked = $("#Tipo1").is(":checked") || $("#Tipo2").is(":checked") || $("#Tipo3").is(":checked");

    return (!cursoPos && !instituicaoPos && !anoEgressoPos && !cursoTipoChecked) || (cursoPos && instituicaoPos && anoEgressoPos && cursoTipoChecked);
  }, "Preencha o conjunto (Curso:, Instituição:, Ano de Egresso:) e Tipo: juntos ou deixe todos vazios.");

  $.validator.addMethod("anoValido", function (value, element) {
    if (!/^\d{4}$/.test(value)) {
      return false;
    }

    const anoAtual = new Date().getFullYear();
    const anoMinimo = 1850;
    const anoInserido = parseInt(value);
    return anoInserido <= anoAtual && anoInserido >= anoMinimo;
  }, "Ano inválido");

  $.validator.addMethod("anoPosValido", function (value, element) {
    if (value.trim() === "") {
      return true;
    }
    if (!/^\d{4}$/.test(value)) {
      return false;
    }
    const anoAtual = new Date().getFullYear();
    const anoMinimo = 1850;
    const anoInserido = parseInt(value);
    return anoInserido <= anoAtual && anoInserido >= anoMinimo;
  }, "Ano inválido");

  $("#candidato-formulario2").validate({
    errorElement: 'span',
    errorPlacement: function (error, element) {
      error.addClass('invalid-feedback');
      element.closest('div').append(error);
    },
    highlight: function (element, errorClass, validClass) {
      $(element).addClass('is-invalid');
    },
    unhighlight: function (element, errorClass, validClass) {
      $(element).removeClass('is-invalid');
    },
    rules: {
      "cursoGraduacao": {
        required: true
      },
      "instituicaoGraduacao": {
        required: true
      },
      "anoEgressoGraduacao": {
        required: true,
        anoValido: true

      },
      'Curriculum': {
        required: {{#if hasCurriculum}}false{{else}}true{{/if}}
      },
      "cursoPos": {
        conjuntoPreenchido: true
      },
      "instituicaoPos": {
        conjuntoPreenchido: true
      },
      "anoEgressoPos": {
        conjuntoPreenchido: true,
        anoPosValido: true
      },
 
    },
    messages: {
      "cursoGraduacao": {
        required: "Este campo é obrigatório."
      },
      "instituicaoGraduacao": {
        required: "Este campo é obrigatório."
      },
      "anoEgressoGraduacao": {
        required: "Este campo é obrigatório."
      },
      "cursoPos": {
        conjuntoPreenchido: "Preencha o conjunto (Curso:, Instituição:, Ano de Egresso:) e Tipo: juntos ou deixe todos vazios."
      },
      "instituicaoPos": {
        conjuntoPreenchido: "Preencha o conjunto (Curso:, Instituição:, Ano de Egresso:) e Tipo: juntos ou deixe todos vazios."
      },
      "anoEgressoPos": {
        conjuntoPreenchido: "Preencha o conjunto (Curso:, Instituição:, Ano de Egresso:) e Tipo: juntos ou deixe todos vazios."
      },
      "Curriculum": {
        required: "Este campo é obrigatório."
      },
  
    },
    submitHandler: (form, e) => {
      e.preventDefault()
      const VitaeXML = $("#vittaexml").val()
      const formData = new FormData($('#candidato-formulario2')[0]);
      if (VitaeXML === "" || VitaeXML === null || VitaeXML === undefined) {
        reqAjax(formData)
      } else {
        getCompleteData(formData, reqAjax)
      }
    }
  });


</script>