{{ setTitle title="Confirmação" }}
<style>
.container-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin-top: 3rem;
    gap: 2rem;
}

.container-message .message-footer {
    align-self: flex-end;
}
.container-message .message-buttons {
    font-weight: bold;
    color: #222;
    text-align: center;
    margin-top: 1rem;
}
.container-buttons {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.container-button {
    display: flex;
    gap: 0.25rem;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
    max-width: 150px;
    text-align: center;

}
.link-file {
    font-weight: bold;
}

</style>
<div class="forms-page">
	<header>
    <div class="container">
      <h1 class="header-title">PPGI</h1>
		  <div class="options">
        {{> ppgi/selectLanguageHeader}}
		    <button id="btn_logout"><a href="/selecaoppgi" style="color: inherit;">{{__ "ppgi.header.logoutButton"}}</a></button>
		  </div>
    </div>		
	</header>
  <section class="content container">
    <input id="csrfToken" type="hidden" name="_csrf" value="{{csrfToken}}">
 
    {{> ppgi/nav indexSelect="5" progress="100"}}

    <main class="container-message">
        <h2>{{__ "ppgiForm4.title"}}</h2>
        <p>
            {{__ "ppgiForm4.message"}}
        </p>
        <span class="message-footer">
            {{__ "ppgiForm4.greeting"}}
        </span>
        <p class="message-buttons">
            {{__ "ppgiForm4.titleButtons"}}
        </p>
        <div class="container-buttons">
          <div class="container-button">
            <img src="/public/img/edit_f2.png" alt="" width="50">
            <a class="link-file" href="/selecaoppgi/download/arquivo/Inscricao.pdf">{{__ "ppgiForm4.button.registrationForm"}}</a>
          </div>
          <div class="container-button">
            <img src="/public/img/trabalho.png" alt="" width="50">
            <a class="link-file" href="/selecaoppgi/download/arquivo/PropostaTrabalho.pdf">{{__ "ppgiForm4.button.proposol"}}</a>
          </div>
         {{#if hasCartaAceiteOrientador}}
          <div class="container-button">
            <img src="/public/img/historico.gif" alt="" width="50">
            <a class="link-file" href="/selecaoppgi/download/arquivo/CartaAceiteOrientador.pdf">{{__ "ppgiForm4.button.letter"}}</a>
          </div>
          {{/if}}

          <div class="container-button">
            <img src="/public/img/curriculum.gif" alt="" width="50">
            <a class="link-file" href="/selecaoppgi/download/arquivo/Curriculum.pdf">{{__ "ppgiForm4.button.curriculum"}}</a>
          </div>
          <div class="container-button">
            <img src="/public/img/pagamento.png" alt="" width="50">
            <a class="link-file" href="/selecaoppgi/download/arquivo/ComprovantePagamento.pdf">{{__ "ppgiForm4.button.payment"}}</a>
          </div>
        </div>
    </main>
    <div class="container-fluid">
      <form id="candidato-formulario">
          <div class="card-footer">
            <div class="col">
              <button class="btn btn-warning float-right custom-button" type="button" id="voltarForm">
                Passo Anterior
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>

<script>
  $(document).ready(function () {
     $("#voltarForm").on("click", function (e) {
      const csrfToken = $("#csrfToken").val();
      const id = $("#idCandidato").val();
      const editalPosicao = $("#editalPosicao").val();

      $.ajax({    
        url: '/selecaoppgi/voltar',
        type: 'POST',
        data: {
          _csrf: csrfToken,
          editalPosicao: editalPosicao, 
          id: id
        }, success: function (data) {
          window.location.href = '/selecaoppgi/formulario';
          window.location.reload(true);
        },
        error: function (data) {
          console.log(data)
        }
      });

    });
  });
</script>