{{ setTitle title="Revisão dados" i18nKey="ppgi.titles.selecao.formRevisao"}}
<!-- Modal de Confirmação -->
<div
  class="modal fade mt-5"
  id="confirm-register"
  tabindex="-1"
  role="dialog"
  aria-labelledby="confirm-register-title"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirm-register-title">
          {{__ "ppgiForm3.finalizar"}}
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <p>{{__ "ppgiForm3.finalizar"}}</p>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary color-white"
          data-dismiss="modal"
        >
          {{__ "ppgi.form.cancel"}}
        </button>
        <button
          id="confirmButton"
          type="button"
          class="btn btn-warning color-white"
          onclick="finishRegister()"
        >
          {{__ "ppgi.form.confirm"}}
          <span
            class="spinner-border spinner-border-sm"
            hidden="hidden"
            role="status"
            aria-hidden="true"
          ></span>
        </button>
      </div>
    </div>
  </div>
</div>

<main class="forms-page" style="min-height: 100dvh">
  <header>
    <div class="container d-flex justify-content-between align-items-center px-3">
      <h1 class="header-title">PPGI</h1>
      <div class="options">
        {{> ppgi/selectLanguageHeader}}
        <button class="p-0" id="btn_inicio">{{__ "ppgi.header.initButton"}}</button>
        <button class="p-0" id="btn_logout">{{__ "ppgi.header.logoutButton"}}</button>
      </div>
    </div>
  </header>

  <section class="content container px-3" >
    {{> ppgi/nav indexSelect="4" progress="75"}}

    <main class="w-100 d-flex justify-content-between flex-column" style="flex: 1;">
      <div>
        <div class="callout callout-info">
          <h5><i class="fas fa-info"></i> {{__ "ppgiFormReview.atencao"}}</h5>
          <p>
            {{__ "ppgiFormReview.callout.p1"}}
          </p>
          <p>
            {{__ "ppgiFormReview.callout.p2"}}
          </p>
          <p>
            {{__ "ppgiFormReview.callout.p3"}}
          </p>
        </div>

        <div class="card card-primary  w-full">
          <div class="card-header">
            <h3 class="card-title">
              {{__ "ppgiFormReview.sections.dados"}}
            </h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="card-body" style="overflow-x:auto;">
            <table id="example2" class="table table-bordered table-hover">
              <tbody>
              <tr>
                <th class="col-3">{{__ "ppgiFormReview.fields.nomeCompleto"}}</th>
                <td>{{candidato.nome}}</td>
              </tr>
              <tr>
                <th class="col-3">{{__ "ppgiFormReview.fields.endereco"}}</th>
                <td>{{candidato.endereco}}</td>
              </tr>
              <tr>
                <th class="col-3">{{__ "ppgiFormReview.fields.bairro"}}</th>
                <td>{{candidato.bairro}}</td>
              </tr>
              <tr>
                <th class="col-3">{{__ "ppgiFormReview.fields.cidade"}}</th>
                <td>{{candidato.cidade}}</td>
              </tr>
              <tr>
                <th class="col-3">{{__ "ppgiFormReview.fields.estado"}}</th>
                <td>{{candidato.uf}}</td>
              </tr>
              <tr>
                <th class="col-3">{{__ "ppgiFormReview.fields.cep"}}</th>
                <td>{{candidato.cep}}</td>
              </tr>
              <tr>
                <th class="col-3">{{__ "ppgiFormReview.fields.email"}}</th>
                <td>{{candidato.email}}</td>
              </tr>
              <tr>
                <th class="col-3">{{__ "ppgiFormReview.fields.dataNascimento"}}</th>
                <td>{{#if (notEmpty candidato.dataNascimento)}} {{formataData candidato.dataNascimento}}{{/if}}</td>
              </tr>
              <tr>
                <th class="col-3">{{__ "ppgiFormReview.fields.nacionalidade"}}</th>
                <td>{{candidato.nacionalidade}}</td>
              </tr>

              {{#if (notEmpty candidato.cpf)}}
                <tr>
                  <th class="col-3">{{__ "ppgiFormReview.fields.cpf"}}</th>
                  <td>{{candidato.cpf}}</td>
                </tr>
              {{/if}}
              {{#if (notEmpty candidato.passaporte)}}
                <tr>
                  <th class="col-3">{{__ "ppgiFormReview.fields.passaporte"}}</th>
                  <td>{{candidato.passaporte}}</td>
                </tr>
              {{/if}}
              {{#if (notEmpty candidato.pais)}}
                <tr>
                  <th class="col-3">{{__ "ppgiFormReview.fields.pais"}}</th>
                  <td>{{candidato.pais}}</td>
                </tr>
              {{/if}}
              <tr>
                <th class="col-3">{{__ "ppgiFormReview.fields.sexo"}}</th>
                <td><span class="{{#if (notEmpty candidato.sexo)}}">{{formataBioSex candidato.sexo}}
                {{else}}badge bg-danger">Não Informado{{/if}}</span></td>
              </tr>
              <tr>
                <th class="col-3">{{__ "ppgiFormReview.fields.telefonePrincipal"}}</th>
                <td>{{candidato.telefone}}</td>
              </tr>
              <tr>
                <th class="col-3">{{__ "ppgiFormReview.fields.telefoneAlternativo"}}</th>
                <td>{{candidato.telefoneSecundario}}</td>
              </tr>
              <tr>
                <th class="col-3">{{__ "ppgiFormReview.fields.regimeDedicacao"}}</th>
                <td>{{candidato.regime}}</td>
              </tr>
              <tr>
                <th class="col-3">{{__ "ppgiFormReview.fields.cursoDesejado"}}</th>
                <td>{{candidato.cursoDesejado}}</td>
              </tr>

              <tr>
                <th class="col-3">{{__ "ppgiFormReview.fields.solicitaBolsa"}}</th>
                <td><span class="{{#if (eq candidato.bolsista '1')}} badge bg-success">{{__ "ppgiFormReview.status.sim"}}{{else}}badge bg-danger">{{__ "ppgiFormReview.status.nao"}}{{/if}}</span></td>
              </tr>
              <tr>
                <th class="col-3">{{__ "ppgiFormReview.fields.tae"}}</th>
                <td><span class="{{#if (eq candidato.tae '1')}} badge bg-success">{{__ "ppgiFormReview.status.sim"}}{{else}}badge bg-danger">{{__ "ppgiFormReview.status.nao"}}{{/if}}</span></td>
              </tr>
              <tr>
                <th class="col-3">{{__ "ppgiFormReview.fields.cotista"}}</th>
                <td>
                  {{#if (eq candidato.cotista '1')}}
                    {{candidato.cotistaTipo}}
                  {{else}}
                    <span class="badge bg-danger">{{__ "ppgiFormReview.status.nao"}}</span>
                  {{/if}}
                </td>
              </tr>
              {{#if  (eq candidato.cotista '1') }}
                {{#if (or (eq candidato.cotistaTipo 'indigena')  (eq candidato.cotistaTipo 'pcd'))}}
                  <tr>
                    <th class="col-3">{{__ "ppgiFormReview.fields.comprovanteCota"}}</th>
                    <td>
                      <span class="{{#if candidatoDocs.ComprovanteCota}}">
                        <a style="margin-right: 16px"
                           title="{{__ "ppgiFormReview.actions.visualizar"}}"
                           target="_blank"
                           href="/view/arquivo/ComprovanteCota.pdf"
                           class='fa fa-solid fa-eye'></a>
                        <a  style="margin-right: 3px"
                            title="{{__ "ppgiFormReview.actions.baixar"}}"
                            href="/download/arquivo/ComprovanteCota.pdf"
                            class='fa fa-solid fa-download'></a>
                      {{else}}badge bg-warning">{{__ "ppgiFormReview.status.pendente"}}{{/if}}
                      </span>
                    </td>
                  </tr>
                {{/if}}
                {{#if (or (eq candidato.cotistaTipo 'negro')  (eq candidato.cotistaTipo 'pardo'))}}
                  <tr>
                    <th class="col-3">{{__ "ppgiFormReview.fields.autodeclaracaoPdf"}}</th>
                    <td>
                      <span class="{{#if candidatoDocs.Autodeclaracao}}">
                        <a style="margin-right: 16px"
                           title="{{__ "ppgiFormReview.actions.visualizar"}}"
                           target="_blank"
                           href="/view/arquivo/AutodeclaracaoCiencia.pdf"
                           class='fa fa-solid fa-eye'></a>
                        <a  style="margin-right: 3px"
                            title="{{__ "ppgiFormReview.actions.baixar"}}"
                            href="/download/arquivo/AutodeclaracaoCiencia.pdf"
                            class='fa fa-solid fa-download'></a>
                      {{else}}badge bg-warning">{{__ "ppgiFormReview.status.pendente"}}{{/if}}
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <th class="col-3">{{__ "ppgiFormReview.fields.autodeclaracaoVideo"}}</th>
                    <td>
                      <span class="{{#if candidatoDocs.AutodeclaracaoVideo}}">
                        <a style="margin-right: 16px"
                           title="{{__ "ppgiFormReview.actions.visualizar"}}"
                           target="_blank"
                           href="/view/arquivo/VideoAutodeclaracao.mp4"
                           class='fa fa-solid fa-eye'></a>
                        <a  style="margin-right: 3px"
                            title="{{__ "ppgiFormReview.actions.baixar"}}"
                            href="/download/arquivo/VideoAutodeclaracao.mp4"
                            class='fa fa-solid fa-download'></a>
                      {{else}}badge bg-warning">{{__ "ppgiFormReview.status.pendente"}}{{/if}}
                      </span>
                    </td>
                  </tr>
                {{/if}}
              {{/if}}
              <tr>
                <th class="col-3">{{__ "ppgiFormReview.fields.condicaoSaude"}}</th>
                <td>
                  {{#if (eq candidato.condicao '1')}}
                    {{candidato.condicaoTipo}}
                  {{else}}
                    <span class="badge bg-danger">{{__ "ppgiFormReview.status.nao"}}</span>
                  {{/if}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="card card-primary w-full">
          <div class="card-header">
            <h3 class="card-title">
              {{__ "ppgiFormReview.sections.historicoAcademico"}}
            </h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="card-body" style="overflow-x:auto;">
            <table id="example2" class="table table-bordered table-hover">
              <tbody>
              <tr>
                <th class="col-3">{{__ "ppgiFormReview.fields.curriculumPdf"}}</th>
                <td>
                <span class="{{#if candidatoDocs.Curriculum}}">
                  <a style="margin-right: 16px"
                     title="{{__ "ppgiFormReview.actions.visualizar"}}"
                     target="_blank"
                     href="/view/arquivo/Curriculum.pdf"
                     class='fa fa-solid fa-eye'></a>
                  <a  style="margin-right: 3px"
                      title="{{__ "ppgiFormReview.actions.baixar"}}"
                      href="/download/arquivo/Curriculum.pdf"
                      class='fa fa-solid fa-download'></a>
                {{else}}badge bg-warning">{{__ "ppgiFormReview.status.pendente"}}{{/if}}
                </span>
                </td>
              </tr>
              <tr>
                <th class="col-3">{{__ "ppgiFormReview.fields.cursoGraduacao"}}</th>
                <td>
                  {{#if (notEmpty candidato.cursoGraduacao)}}
                    <span>
                      {{candidato.cursoGraduacao}}
                    </span>
                  {{else}}
                    <span class="badge bg-danger">{{__ "ppgiFormReview.status.naoRegistrado"}}</span>
                  {{/if}}
                </td>
              </tr>
              <tr>
                <th class="col-3">{{__ "ppgiFormReview.fields.instituicaoGraduacao"}}</th>
                <td>
                  {{#if (notEmpty candidato.instituicaoGraduacao)}}
                    <span>{{candidato.instituicaoGraduacao}}</span>
                  {{else}}
                    <span class="badge bg-danger">{{__ "ppgiFormReview.status.naoRegistrado"}}</span>
                  {{/if}}
                </td>
              </tr>
              <tr>
                <th class="col-3">{{__ "ppgiFormReview.fields.anoEgressoGraduacao"}}</th>
                <td>
                  {{#if (notEmpty candidato.anoEgressoGraduacao)}}
                    {{candidato.anoEgressoGraduacao}}
                  {{else}}
                    <span class="badge bg-danger">{{__ "ppgiFormReview.status.naoRegistrado"}}</span>
                  {{/if}}
                </td>
              </tr>
              <tr>
                <th class="col-3">{{__ "ppgiFormReview.fields.cursoPos"}}</th>
                <td>
                  {{#if (notEmpty candidato.cursoPos)}}
                    {{candidato.cursoPos}}
                  {{else}}
                    <span class="badge bg-danger">{{__ "ppgiFormReview.status.naoRegistrado"}}</span>
                  {{/if}}
                </td>
              </tr>
              <tr>
                <th class="col-3">{{__ "ppgiFormReview.fields.tipoPos"}}</th>
                <td>
                  {{#if (notEmpty candidato.tipoPos)}}
                    {{candidato.tipoPos}}
                  {{else}}
                    <span class="badge bg-danger">{{__ "ppgiFormReview.status.naoRegistrado"}}</span>
                  {{/if}}
                </td>
              </tr>
              <tr>
                <th class="col-3">{{__ "ppgiFormReview.fields.instituicaoPos"}}</th>
                <td>
                  {{#if (notEmpty candidato.instituicaoPos)}}
                    {{candidato.instituicaoPos}}
                  {{else}}
                    <span class="badge bg-danger">{{__ "ppgiFormReview.status.naoRegistrado"}}</span>
                  {{/if}}
                </td>
              </tr>
              <tr>
                <th class="col-3">{{__ "ppgiFormReview.fields.anoEgressoPos"}}</th>
                <td>
                  {{#if (notEmpty candidato.anoEgressoPos)}}
                    {{candidato.anoEgressoPos}}
                  {{else}}
                    <span class="badge bg-danger">{{__ "ppgiFormReview.status.naoRegistrado"}}</span>
                  {{/if}}
                </td>
              </tr>
              </tbody>
            </table>
            <hr />
            <h4><b>{{__ "ppgiFormReview.sections.experienciasAcademicas"}}</b></h4>
            {{#if candidato.experienciasAcademicas.length}}
              <div class="table-responsive">
                <table class="table table-bordered table-hover mt-2">
                  <thead>
                  <tr>
                    <th>{{__ "ppgiFormReview.experienciasTable.instituicao"}}</th>
                    <th>{{__ "ppgiFormReview.experienciasTable.atividade"}}</th>
                    <th>{{__ "ppgiFormReview.experienciasTable.periodo"}}</th>
                  </tr>
                  </thead>
                  <tbody>
                  {{#each candidato.experienciasAcademicas}}
                    <tr>
                      <td>{{this.instituicao}}</td>
                      <td>{{this.atividade}}</td>
                      <td>{{this.periodo}}</td>
                    </tr>
                  {{/each}}
                  </tbody>
                </table>
              </div>
            {{else}}
              <p class="badge bg-warning mt-2">{{__ "ppgiFormReview.status.nenhumaExperienciaRegistrada"}}</p>
            {{/if}}
            <hr />
            <h4><b>{{__ "ppgiFormReview.sections.publicacoesAcademicas"}}</b></h4>

            {{#if candidato.publicacoes.length}}
              {{#each (groupByTipo candidato.publicacoes) as |grupo tipoId|}}
                <div id="accordionTipo{{tipoId}}" class="mb-3">
                  <div class="card">
                    <div class="card-header" id="headingTipo{{tipoId}}">
                      <h5 class="mb-0 d-flex justify-content-between align-items-center">
                        <button class="btn  collapsed d-flex justify-content-between w-100" data-toggle="collapse" data-target="#collapseTipo{{tipoId}}" aria-expanded="false" aria-controls="collapseTipo{{tipoId}}">
                                        <span>
                                          {{#if (eq tipoId 1)}} {{__ "ppgiFormReview.publicacoes.periodicos"}}
                                          {{else if (eq tipoId 2)}} {{__ "ppgiFormReview.publicacoes.eventos"}}
                                          {{else if (eq tipoId 3)}} {{__ "ppgiFormReview.publicacoes.livros"}}
                                          {{else if (eq tipoId 4)}} {{__ "ppgiFormReview.publicacoes.capitulos"}}
                                          {{else if (eq tipoId 5)}} {{__ "ppgiFormReview.publicacoes.outras"}}
                                          {{else if (eq tipoId 6)}} {{__ "ppgiFormReview.publicacoes.prefacios"}}
                                          {{else}} {{__ "ppgiFormReview.publicacoes.outros"}}
                                          {{/if}}
                                        </span>
                          <i class="fa fa-chevron-down transition-icon"></i>
                        </button>
                      </h5>
                    </div>
                    <div id="collapseTipo{{tipoId}}" class="collapse" aria-labelledby="headingTipo{{tipoId}}" data-parent="#accordionTipo{{tipoId}}">
                      <div class="card-body">
                        <ul class="list-group">
                          {{#each grupo}}
                            <li class="list-group-item">
                              <strong>{{this.titulo}}</strong><br />
                              <small><b>{{__ "ppgiFormReview.publicacoes.autores"}}:</b> {{this.autores}}</small><br />
                              <small><b>{{__ "ppgiFormReview.publicacoes.local"}}:</b> {{this.local}}</small><br />
                              <small><b>{{__ "ppgiFormReview.publicacoes.ano"}}:</b> {{this.ano}}</small><br />
                              {{#if this.issn}}<small><b>{{__ "ppgiFormReview.publicacoes.issn"}}:</b> {{this.issn}}</small><br />{{/if}}
                              <small><b>{{__ "ppgiFormReview.publicacoes.natureza"}}:</b> {{this.natureza}}</small>
                            </li>
                          {{/each}}
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              {{/each}}
            {{else}}
              <p class="badge bg-warning mt-2">{{__ "ppgiFormReview.status.nenhumaPublicacaoRegistrada"}}</p>
            {{/if}}
          </div>
        </div>

        <div class="card card-primary  w-full">
          <div class="card-header">
            <h3 class="card-title">
              {{__ "ppgiFormReview.sections.informacoesProjetos"}}
            </h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="card-body" style="overflow-x:auto;">
            <table id="example2" class="table table-bordered table-hover">
              <tbody>

              <tr>
                <th class="col-3"> {{__ "ppgiFormReview.fields.linhaPesquisa"}}</th>
                <td><span class="{{#if (notEmpty candidato.linhaPesquisa)}}">{{candidato.linhaPesquisa.nome}}
                {{else}}badge bg-danger">{{__ "ppgiFormReview.status.naoRegistrado"}}{{/if}}

                </span></td>
              </tr>
              {{#if candidato.edital.projetoPesquisa}}
                <tr>
                  <th class="col-3"> {{__ "ppgiFormReview.fields.tituloProposta"}}</th>
                  <td>
                  <span class="{{#if (notEmpty candidato.tituloProposta)}}">{{candidato.tituloProposta}}
                  {{else}}badge bg-danger">{{__ "ppgiFormReview.status.naoRegistrado"}}{{/if}}
                  </span>
                  </td>
                </tr>
              {{/if}}
              <tr>
                <th class="col-3">{{__ "ppgiFormReview.fields.professorOrientador"}}</th>
                <td>{{#if (notEmpty candidato.nomeOrientador)}}{{candidato.nomeOrientador}}
                {{else}}-{{/if}}</td>
              </tr>
              <tr>
                <th class="col-3">{{__ "ppgiFormReview.fields.motivos"}}s</th>
                <td><span class="{{#if (notEmpty candidato.motivos)}}">{{candidato.motivos}}
                {{else}}badge bg-danger">{{__ "ppgiFormReview.status.naoRegistrado"}}{{/if}}

                </span></td>
              </tr>
              {{#if (eq candidato.edital.cartaOrientador 1)}}
                <tr>
                  <th class="col-3">{{__ "ppgiFormReview.fields.cartaOrientadorPdf"}}</th>
                  <td>
                  <span class="{{#if candidatoDocs.CartaDoOrientador}}">
                    <a style="margin-right: 16px"
                       title="{{__ "ppgiFormReview.actions.visualizar"}}"
                       target="_blank"
                       href="/view/arquivo/CartaAceiteOrientador.pdf"
                       class='fa fa-solid fa-eye'></a>
                    <a  style="margin-right: 3px"
                        title="{{__ "ppgiFormReview.actions.baixar"}}"
                        href="/download/arquivo/CartaAceiteOrientador.pdf"
                        class='fa fa-solid fa-download'></a>
                  {{else}}badge bg-warning">{{__ "ppgiFormReview.status.pendente"}}{{/if}}
                  </span>
                  </td>
                </tr>
              {{/if}}

              {{#if candidato.edital.projetoPesquisa}}
                <tr>
                  <th class="col-3">{{__ "ppgiFormReview.fields.projetoPesquisaPdf"}}</th>
                  <td>
                  <span class="{{#if candidatoDocs.PropostaDeTrabalho}}">
                    <a style="margin-right: 16px"
                       title="{{__ "ppgiFormReview.actions.visualizar"}}"
                       target="_blank"
                       href="/view/arquivo/PropostaTrabalho.pdf"
                       class='fa fa-solid fa-eye'></a>
                    <a style="margin-right: 3px"
                       title="{{__ "ppgiFormReview.actions.baixar"}}"
                       href="/download/arquivo/PropostaTrabalho.pdf"
                       class='fa fa-solid fa-download'></a>
                  {{else}}badge bg-warning">{{__ "ppgiFormReview.status.pendente"}}{{/if}}
                  </span>
                  </td>
                </tr>
              {{/if}}

              <tr>
                <th class="col-3">{{__ "ppgiFormReview.fields.comprovantePagamentoPdf"}}</th>
                <td>
                <span class="{{#if candidatoDocs.ComprovantePagamento}}">
                  <a style="margin-right: 16px"
                     title="{{__ "ppgiFormReview.actions.visualizar"}}"
                     target="_blank"
                     href="/view/arquivo/ComprovantePagamento.pdf"
                     class='fa fa-solid fa-eye'></a>
                  <a  style="margin-right: 3px"
                      title="{{__ "ppgiFormReview.actions.baixar"}}"
                      href="/download/arquivo/ComprovantePagamento.pdf"
                      class='fa fa-solid fa-download'></a>
                {{else}}badge bg-warning">{{__ "ppgiFormReview.status.pendente"}}{{/if}}
                </span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>

      <!-- Botões do card -->
      <div class="card-footer ">
        <div class="col d-flex flex-row-reverse p-0" style="gap: 6px;">
          <!-- Botão Finalizar (Save and Continue) -->
          <button class="btn btn-success custom-button" id="finishButton" data-toggle="modal" data-target="#confirm-register" type="button">
            {{__ "ppgi.form.finish"}}
            <span
              class="spinner-border spinner-border-sm"
              hidden="hidden"
              role="status"
              aria-hidden="true"
            ></span>
          </button>

          <!-- Botão Voltar -->
          <button class="btn btn-warning custom-button" type="button" id="voltarForm">
            {{__ "ppgi.form.previousStep"}}
            <span
              class="spinner-border spinner-border-sm"
              hidden="hidden"
              role="status"
              aria-hidden="true"
            ></span>
          </button>
        </div>
      </div>
    </main>

  </section>
  {{> ppgi/footer}}

</main>
<script>
  $(document).ready(function() {
    const basePath = "{{basePath}}";
    $("#btn_logout").click(function () {
      $.ajax({
        url: `${basePath}/logout`,
        type: "POST",
        success: function () {
          window.location.replace(`${basePath}/entrar`);
        },
        error: function (xhr) {
          if (xhr.status === 401){
            window.location.replace(`${basePath}/entrar`);
            return
          }
          toastr.error('Atualize a página e tente novamente', 'Erro ao realizar logout');
        }
      });
    });

    $("#btn_inicio").click(function () {
      $.ajax({
        url: `${basePath}/voltarInicio`,
        type: "POST",
        success: function (data) {
          window.location.href = `${basePath}/formulario`;
        },
        error: function (xhr) {
          if (xhr.status === 401){
            document.location.href = `${basePath}/entrar?expired=true`;
            return
          }
        }
      });
    });

    $("#voltarForm").on("click", function () {
      const btnVoltar = $("#voltarForm");
      btnVoltar.prop("disabled", true);
      btnVoltar.find("span").prop("hidden", false);
      const id = $("#idCandidato").val();
      const editalPosicao = '{{editalPosicao}}';

      $.ajax({
        url: `${basePath}/voltar`,
        type: 'POST',
        data: {
          editalPosicao: editalPosicao,
          id: id
        },
        success: function () {
          window.location.href = `${basePath}/formulario`;
          window.location.reload(true);
        },
        error: function (xhr) {
          btnVoltar.prop("disabled", false);
          btnVoltar.find("span").prop("hidden", true);
          if (xhr.status === 401){
            document.location.href = `${basePath}/entrar?expired=true`;
            return
          }
          toastr.error('Atualize a página e tente novamente', 'Erro ao salvar informações');
        }
      });
    });

  });
  function finishRegister(){
    const btnSubmit = $("#confirmButton");
    btnSubmit.attr("disabled", true);
    btnSubmit.find("span").prop("hidden", false);

    $.ajax({
      url: `{{basePath}}/formulario/5`,
      type: 'PUT',
      contentType: false,
      processData: false,
      success: function (data) {
        window.location.href = `{{basePath}}/formulario`;
      },
      error: function (xhr) {
        btnSubmit.attr("disabled", false);
        btnSubmit.find("span").prop("hidden", true);
        if (xhr.status === 401){
          document.location.href = `{{basePath}}/entrar?expired=true`;
          return
        }
        toastr.error('Atualize a página e tente novamente', 'Erro ao finalizar inscrição.');
      }
    });
  }
</script>
