{{ setTitle title="Proposta de Projeto" }}

<style>
  .remove-btn {
    color: white;
    background-color: red;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 5px;
  }

  #add-btn {
    margin-top: 10px;
  }

.custom-file-container .custom-file-input {
  padding: 10px;
}

/* Adicione a seguinte regra se necessário, para ajustar a largura do label associado */
.custom-file-container .custom-file-label {
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    margin-left: 5px;
    margin-right: 5px;
}
</style>
<link href="/script-adminlte/plugins/icheck-bootstrap/icheck-bootstrap.min.css" rel="stylesheet">
<div class="modal fade mt-5" id="confirm-register" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
               <p>{{__ "ppgiForm3.finalizar"}}</p>
              </div>
              <div class="modal-footer">
                  <a type="button" class="btn btn-secondary color-white" data-dismiss="modal">{{__ "ppgi.form.cancel"}}</a>
                  <a id="confirmButton" type="button" class="btn btn-warning color-white" onclick="finishRegister()">{{__ "ppgi.form.confirm"}}
                    <span class="spinner-border spinner-border-sm" hidden="true" role="status" aria-hidden="true"></span></a>
              </div>
              <form name="postDelete" id="finish-register" method="POST">
                  <input type="hidden" name="_csrf" value="{{csrfToken}}"> 
              </form>
          </div>
      </div>
</div>

<div class="forms-page">
	<header>
    <div class="container">
      <h1 class="header-title">PPGI</h1>
		  <div class="options">
        {{> ppgi/selectLanguageHeader}}
        <button id="btn_inicio"> {{__ "ppgi.header.initButton"}}</button>
				<button id="btn_logout">{{__ "ppgi.header.logoutButton"}}</button>
		  </div>
    </div>
	</header>

  <section class="content container">
    {{> ppgi/nav indexSelect="3" progress="75"}}

    
    <div class="container-fluid">
      <form id="candidato-formulario">
        <input id="csrfToken" type="hidden" name="_csrf" value="{{csrfToken}}">
        <input id="email" type="hidden" value="{{email}}">
        <input id="editalPosicao" type="hidden" value="{{editalPosicao}}">
        <input id="idCandidato" type="hidden" value="{{id}}">

        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">{{__ "ppgiForm3.titulo"}}</h3>
          </div>

          <div class="card-body">
            <div class="row">
              <div class="form-group col-md-5">
                <label for="candidato-curso">
                  <font color="#FF0000">*</font>
                  <b>{{__ "ppgiForm3.linhaPesquisaLabel"}}:</b>
                </label>
                <select  id="candidato-pesquisa" class="custom-select" name="linhaPesquisa">
                  <option value="" >{{__ "ppgiForm3.linhaPesquisaPlaceholder"}}:</option>
                  {{#each linhasPesquisa}}
                    <option value="{{id}}" {{#if (eq id ../idLinhaPesquisa)}}selected{{/if}}>{{nome}}</option>
                  {{/each}}
                </select>
              </div>

              <div class="col-md-7 ">
                <label class="control-label" for="candidato-instituicao">
                  <font color="#FF0000">*</font>
                  <b>{{__ "ppgiForm3.tituloPropostaLabel"}}: </b>
                </label>
                <input class="form-control" id="candidato-titulo-proposta" type="text" name="tituloProposta"  maxlength="60" value="{{tituloProposta}}">
              </div>
            </div>

          </div>
        </div>

        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">{{__ "ppgiForm3.orientador.titulo"}}:</h3>
          </div>


          <div class="card-body">
            <p>{{__ "ppgiForm3.orientador.descricao"}}</p>
            <div class="row">
              <div class="form-group col-12">
                <label for="candidato-curso-pos">
                  <b>{{__ "ppgiForm3.orientador.nomeOrientadorLabel"}}:</b>
                </label>
                <input class="form-control" id="candidato-orientador" type="text" name="nomeOrientador"  maxlength="60" value={{nomeOrientador}} >
              </div>
            </div>

          </div>
        </div>
        {{#if (eq edital.cartaRecomendacao 1)}}
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">{{__ "ppgiForm3.cartaRecomendacao.titulo"}}</h3>
            </div>

            <div class="card-body">
              <p>{{__ "ppgiForm3.cartaRecomendacao.descricao"}}</p>

              <div class="row">
                {{#each recomendacoes}}
                  <div class="col-md-5 ">
                    <label class="control-label" for="candidato-instituicao">
                      <font color="#FF0000">*</font>
                      <b>{{__ "ppgiForm3.cartaRecomendacao.nomeLabel"}}:</b>
                    </label>
                    <input class="form-control" id="candidatoNomeRecomendacao{{@index}}" type="text" name="recomendacaoNome[]" value="{{nome}}" maxlength="60">
                  </div>

                  <div class="col-md-5 ">
                    <label class="control-label" for="candidato-instituicao">
                      <font color="#FF0000">*</font>
                      <b>{{__ "ppgiForm3.cartaRecomendacao.emailLabel"}}:</b>
                    </label>
                    <input class="form-control" id="candidatoEmailRecomendacao{{@index}}" type="email" name="recomendacaoEmail[]" value="{{email}}" maxlength="60">
                  </div>
                {{else}}
                <div class="col-md-5 ">
                  <label class="control-label" for="candidato-instituicao">
                    <font color="#FF0000">*</font>
                    <b>{{__ "ppgiForm3.cartaRecomendacao.nomeLabel"}}:</b>
                  </label>
                  <input class="form-control" id="candidatoNomeRecomendacao1" type="text" name="recomendacaoNome[]" value="" maxlength="60">
                </div>

                <div class="col-md-5 ">
                  <label class="control-label" for="candidato-instituicao">
                    <font color="#FF0000">*</font>
                    <b>{{__ "ppgiForm3.cartaRecomendacao.emailLabel"}}:</b>
                  </label>
                  <input  class="form-control" id="candidatoEmailRecomendacao1" type="email" name="recomendacaoEmail[]" value="" maxlength="60">
                </div>
                {{/each}}
              
              </div>
              <div id="dynamic-inputs">
                <!-- Novos campos serão adicionados aqui -->
              </div>

              <button id="add-btn" class="btn btn-success">+</button>
            </div>
          </div>
        {{/if}}
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">{{__ "ppgiForm3.motivos.titulo"}}</h3>
          </div>

          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="control-label" for="candidato-Motivo">
                    {{__ "ppgiForm3.motivos.descricao"}}
                    (<span id="charCount">1000</span> {{__ "ppgiForm3.motivos.caracteresRestantesLabel"}}):
                  </label>
                  <textarea class="form-control" rows="3" id="candidato-Motivo" name="motivos" maxlength="1000">{{motivos}}</textarea>
                </div>
              </div>
            </div>

            {{#if (eq edital.cartaOrientador 1)}}
              <div>{{#if hasCartaAceiteOrientador}}(Você já realizou o upload de um arquivo, <a id="downloadLink" href="/selecaoppgi/download/arquivo/Curriculum.pdf"> clique aqui</a> para visualizá-lo.){{/if}}</div>
              <div class="row ">
                  <div class="col-md-5 custom-file form-group custom-file-container mb-4">
                    <input type="file" class="custom-file-input" id="CartaAceiteOrientador" name="CartaAceiteOrientador" accept="application/pdf" data-msg-accept="Esse campo so permite arquivos pdf.">
                    <label class=" form-control custom-file-label" for="CartaAceiteOrientador"> {{__ "ppgiForm3.documentos.cartaOrientador"}}</label>
                  </div>
              </div>
            {{/if}}
            <div>{{#if hasPropostaTrabalho}}(Você já realizou o upload de um arquivo, <a id="downloadLink" href="/selecaoppgi/download/arquivo/Curriculum.pdf"> clique aqui</a> para visualizá-lo.){{/if}}</div>
            <div class="row">
                <div class="col-md-5 custom-file form-group custom-file-container mb-4">
                  <input type="file" class="custom-file-input" id="PropostaTrabalho" name="PropostaTrabalho" accept="application/pdf" data-msg-accept="Esse campo so permite arquivos pdf.">
                  <label class="form-control custom-file-label" for="PropostaTrabalho">{{__ "ppgiForm3.documentos.propostaTrabalho"}}</label>
                </div>
            </div>

            <div>{{#if hasComprovante}}(Você já realizou o upload de um arquivo, <a id="downloadLink" href="/selecaoppgi/download/arquivo/Curriculum.pdf"> clique aqui</a> para visualizá-lo.){{/if}}</div>
            <div class="row">
                <div class="col-md-5 custom-file form-group custom-file-container mb-4">
                  <input type="file" class="custom-file-input" id="ComprovantePagamento" name="ComprovantePagamento" accept="application/pdf" data-msg-accept="Esse campo so permite arquivos pdf.">
                  <label class=" form-control custom-file-label" for="ComprovantePagamento">{{__ "ppgiForm3.documentos.comprovantePagamento"}}</label>
               </div>
            </div>
          </div>

          <div class="card-footer">
            <div class="col d-flex flex-row-reverse" style="gap: 6px;">
              <button class="btn btn-success custom-button">
                {{__ "ppgi.form.saveAndContinue"}}
                <span class="spinner-border spinner-border-sm" hidden="true" role="status" aria-hidden="true"></span>
              </button>
              <button  id="save-data" class="btn btn-secondary custom-button" >
                {{__ "ppgi.form.save"}}
                <span class="spinner-border spinner-border-sm" hidden="true" role="status" aria-hidden="true"></span>
              </button>
              <button class="btn btn-warning custom-button" type="button" id="voltarForm">
                {{__ "ppgi.form.previousStep"}}
                <span class="spinner-border spinner-border-sm" hidden="true" role="status" aria-hidden="true"></span>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>

<script>
  function finishRegister(event){
    const linhaDePesquisaId = $("#candidato-pesquisa").val();
    const formData = new FormData($("#candidato-formulario")[0]);
    const btnSubmit = $("#confirmButton");
    btnSubmit.attr("disabled", true);
    btnSubmit.find("span").prop("hidden", false);
    formData.append('idLinhaPesquisa', linhaDePesquisaId);
    formData.append('isNext', true);
    $.ajax({
      headers: {
        'X-CSRF-TOKEN': $("#csrfToken").val()
      },
      url: '/selecaoppgi/formulario/3',
      type: 'PUT',
      data: formData,
      contentType: false,
      processData: false,
      success: function (data) {
        window.location.href = '/selecaoppgi/formulario';
      },
      error: function (data) {
        console.error(data);
        btnSubmit.attr("disabled", false);
        btnSubmit.find("span").prop("hidden", true);
      }
    });
  }
  
  $("#save-data").click(function (e) {
    e.preventDefault();
    const form = $("#candidato-formulario");
    if (!form.valid()) {
      return;
    }
    const linhaDePesquisaId = $("#candidato-pesquisa").val();
    const formData = new FormData($("#candidato-formulario")[0]);
    const btnSubmit = $("#save-data");
    btnSubmit.attr("disabled", true);
    btnSubmit.find("span").prop("hidden", false);
    formData.append('idLinhaPesquisa', linhaDePesquisaId);

    $.ajax({
      headers: {
        'X-CSRF-TOKEN': $("#csrfToken").val()
      },
      url: '/selecaoppgi/formulario/3',
      type: 'PUT',
      data: formData,
      contentType: false,
      processData: false,
      success: function (data) {
        window.location.href = '/selecaoppgi/formulario';
      },
      error: function (data) {
        console.error(data);
        btnSubmit.attr("disabled", false);
        btnSubmit.find("span").prop("hidden", true);
      }
    });
  });

  $(document).ready(function () {
    let recomendacaoCounter = 1;
    $("#charCount").text(1000 - $("#candidato-Motivo").val().length);
		$("#btn_logout").click(function () {
			$.ajax({
				url: "/selecaoppgi/logout",
				type: "POST",
				data: {
					_csrf: $("#csrfToken").val()
				},
				success: function (data) {
					window.location.href = "/selecaoppgi";
				},
				error: function (data) {
					console.error(data);
				}
			});
		});

		$("#btn_inicio").click(function () {
			$.ajax({
				url: "/selecaoppgi/voltarInicio",
				type: "POST",
				data: {
					_csrf: $("#csrfToken").val()
				},
				success: function (data) {
					window.location.href = "/selecaoppgi/formulario";
				},
				error: function (data) {
					console.error(data);
				}
			});
		});
	
    $("#voltarForm").on("click", function (e) {
        const btnVoltar = $("#voltarForm");
        btnVoltar.prop("disabled", true);
        btnVoltar.find("span").prop("hidden", false);
        const csrfToken = $("#csrfToken").val();
        const id = $("#idCandidato").val();
        const editalPosicao = $("#editalPosicao").val();

        $.ajax({    
          url: '/selecaoppgi/voltar',
          type: 'POST',
          data: {
            _csrf: csrfToken,
            editalPosicao: editalPosicao, 
            id: id
          }, success: function (data) {
            window.location.href = '/selecaoppgi/formulario';
            window.location.reload(true);
          },
          error: function (data) {
            console.error(data)
            btnVoltar.prop("disabled", false);
            btnVoltar.find("span").prop("hidden", true);
          }
        });
      });
 
    $("#add-btn").click(function (e) {
      e.preventDefault();
      var newInput = '<div class="row">' +
        '<div class="col-md-5">' +
        '<label class="control-label" for="candidato-Nome-Recomendacao">' +
        '<font color="#FF0000">*</font>' +
        '<b>Nome:</b>' +
        '</label>' +
        '<input class="form-control" type="text" name="recomendacaoNome[]" value="" maxlength="60">' +
        '</div>' +
        '<div class="col-md-5">' +
        '<label class="control-label" for="candidato-Email-Recomendacao">' +
        '<font color="#FF0000">*</font>' +
        '<b>Email:</b>' +
        '</label>' +
        '<input class="form-control" type="text" name="recomendacaoEmail[]" value="" maxlength="60">' +
        '</div>' +
        '<div class="col-md-2 align-self-end">' +
        '<button class="remove-btn" onclick="$(this).closest(\'.row\').remove();">X</button>' + '</div>' +
        '</div>';

      $("#dynamic-inputs").append(newInput);
    });

    $("#candidato-Motivo").on("input", function () {
      var maxLength = 1000;
      var currentLength = $(this).val().length;
      var charactersRemaining = maxLength - currentLength;
      $("#charCount").text(charactersRemaining);
    });
  });

  $.validator.prototype.checkForm = function() {
    this.prepareForm();
    for (var i = 0, elements = (this.currentElements = this.elements()); elements[i]; i++) {
        if (this.findByName(elements[i].name).length != undefined && this.findByName(elements[i].name).length > 1) {
            for (var cnt = 0; cnt < this.findByName(elements[i].name).length; cnt++) {
                this.check(this.findByName(elements[i].name)[cnt]);
            }
        } else {
            this.check(elements[i]);
        }
    }
    return this.valid();
  }
 
  $("#candidato-formulario").validate({
      errorElement: 'span',
      errorPlacement: function (error, element) {
        error.addClass('invalid-feedback');
        element.closest('div').append(error);
      },
      highlight: function (element, errorClass, validClass) {
        $(element).addClass('is-invalid');
      },
      unhighlight: function (element, errorClass, validClass) {
        $(element).removeClass('is-invalid');
      },
      rules: {
        "linhaPesquisa": {
          required: true
        },
        "tituloProposta": {
          required: true
        },
        "recomendacaoNome[]": {
          required: false
        },
        "recomendacaoEmail[]": {
          required: false,
          email: true 
        },
        "PropostaTrabalho": {
          required: {{#if hasPropostaTrabalho}}false{{else}}true{{/if}}
        },
        "ComprovantePagamento": {
          required: {{#if hasComprovante}}false{{else}}true{{/if}}
        },
        "CartaAceiteOrientador": {
          required: {{#if (and (eq cursoDesejado 'Doutorado') (eq hasComprovante false))}}true{{else}}false{{/if}}
        },
      },
      messages: {
        "linhaPesquisa": {
          required: "Linha de Pesquisa é obrigatória",
        },
        "tituloProposta": {
          required: "Título da Proposta é obrigatório",
        },
        "recomendacaoNome[]": {
          required: "Nome é obrigatório",
        },
        "recomendacaoEmail[]": {
          required: "Email é obrigatório",
          email: "Por favor, insira um endereço de email válido"
        },
        "PropostaTrabalho": {
          required: "Proposta de Trabalho é obrigatória",
        },
        "ComprovantePagamento": {
          required: "Comprovante de Pagamento é obrigatório",
        },
        "CartaAceiteOrientador": {
          required: "Carta de Aceite do Orientador é obrigatória para doutorado",
        },
      },
      submitHandler: (form, e) => {
        e.preventDefault();
        $('#confirm-register').modal()
      }
    });
</script>