{{ setTitle title="Histórico" }}
<style>
  .container-buttons-icon {
    display: flex;
    gap: 4px;
    flex-direction: column;
    max-width: 50vw;
    overflow: hidden;
    flex-basis: 210px;
    align-items: center;
  }
</style>
<link href="/script-adminlte/plugins/icheck-bootstrap/icheck-bootstrap.min.css" rel="stylesheet">
<main class="forms-page">
  <!-- Cabeçalho / Header -->
  <header>
    <div class="container d-flex justify-content-between align-items-center px-3">
      <h1 class="header-title">PPGI</h1>
      <div class="options">
        {{> ppgi/selectLanguageHeader}}
        <button class="p-0" id="btn_inicio">{{__ "ppgi.header.initButton"}}</button>
        <button class="p-0" id="btn_logout">{{__ "ppgi.header.logoutButton"}}</button>
      </div>
    </div>
  </header>

  <!-- Seção de conteúdo principal -->
  <section class="content container px-3">
    <!-- Possível nav (dependendo de como seu partial é estruturado) -->
    {{> ppgi/nav active="historico" indexSelect="2" progress="50"}}

    <div class="container-fluid p-0">
      <!-- Formulário de histórico (em um <article> semântico, se desejar) -->
      <article>
        <form id="candidato-formulario2" novalidate>
          <!-- Inputs escondidos de controle -->
          <input id="csrfToken" type="hidden" name="_csrf" value="{{csrfToken}}" />
          <input id="email" type="hidden" value="{{email}}" />
          <input id="idCandidato" type="hidden" value="{{id}}" />
          <input id="idCandidato" type="hidden" value="{{message}}" />
          <p>{{message}}</p>

          <!-- Card 1: Curso de Graduação -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">{{__ "ppgiForm2.cursoGraduacao.title"}}</h3>
            </div>

            <div class="card-body">
              <div class="row">
                <!-- Curso de Graduação -->
                <div class="form-group col-md-6">
                  <label for="candidato-curso">
                    <span class="text-danger">*</span>
                    <b>{{__ "ppgiForm2.cursoGraduacao.curso"}}:</b>
                  </label>
                  <input
                    class="form-control"
                    id="candidato-curso"
                    type="text"
                    name="cursoGraduacao"
                    maxlength="60"
                    placeholder="{{__ "ppgiForm2.cursoGraduacao.curso"}}"
                    value="{{cursoGraduacao}}"
                    autofocus
                  />
                </div>

                <!-- Instituição de Graduação -->
                <div class="col-md-6 form-group">
                  <label for="candidato-instituicao" class="control-label">
                    <span class="text-danger">*</span>
                    <b>{{__ "ppgiForm2.cursoGraduacao.instituicao"}}:</b>
                  </label>
                  <input
                    class="form-control"
                    id="candidato-instituicao"
                    type="text"
                    name="instituicaoGraduacao"
                    maxlength="60"
                    placeholder="{{__ "ppgiForm2.cursoGraduacao.instituicaoPlaceholder"}}"
                    value="{{instituicaoGraduacao}}"
                  />
                </div>
              </div>

              <div class="row">
                <!-- Ano de Egresso Graduação -->
                <div class="col-md-3 form-group">
                  <label for="candidato-ano" class="control-label">
                    <span class="text-danger">*</span>
                    <b>{{__ "ppgiForm2.cursoGraduacao.anoEgresso"}}:</b>
                  </label>
                  <input
                    class="form-control"
                    id="candidato-ano"
                    type="number"
                    name="anoEgressoGraduacao"
                    value="{{anoEgressoGraduacao}}"
                    placeholder="{{__ "ppgiForm2.cursoGraduacao.anoEgressoPlaceholder"}}"
                  />
                </div>
              </div>
            </div>
          </div>

          <!-- Card 2: Curso de Pós-Graduação -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">{{__ "ppgiForm2.cursoPos.title"}}</h3>
            </div>

            <div class="card-body">
              <div class="row">
                <!-- Curso de Pós -->
                <div class="form-group col-md-6">
                  <label for="candidato-curso-pos">
                    <b>{{__ "ppgiForm2.cursoPos.curso"}}:</b>
                  </label>
                  <input
                    class="form-control"
                    id="candidato-curso-pos"
                    type="text"
                    name="cursoPos"
                    maxlength="60"
                    value="{{cursoPos}}"
                  />
                </div>

                <!-- Tipo do Curso de Pós -->
                <div class="col-md-6 form-group">
                  <label for="candidato-curso-tipo" class="control-label">
                    <b>{{__ "ppgiForm2.cursoPos.tipo"}}:</b>
                  </label>
                  <!-- Um único container com role="radiogroup" -->
                  <div
                    id="candidato-curso-tipo"
                    role="radiogroup"
                    aria-label="Tipo de Curso Pós-Graduação"
                    style="display: flex; align-content:center; gap: 20px; flex-wrap: wrap;"
                  >
                    <div class="icheck-primary d-inline" style="margin-right: 20px;">
                      <input
                        type="radio"
                        id="Tipo1"
                        name="tipoPos"
                        value="Mestrado Acadêmico"
                        {{#if (eq "Mestrado Acadêmico" tipoPos)}}checked{{/if}}
                      />
                      <label for="Tipo1">
                        {{__ "ppgiForm2.cursoPos.optionTipo.mestradoAcademico"}}
                      </label>
                    </div>

                    <div class="icheck-primary d-inline" style="margin-right: 20px;">
                      <input
                        type="radio"
                        id="Tipo2"
                        name="tipoPos"
                        value="Mestrado Profissional"
                        {{#if (eq "Mestrado Profissional" tipoPos)}}checked{{/if}}
                      />
                      <label for="Tipo2">
                        {{__ "ppgiForm2.cursoPos.optionTipo.mestradoProfissional"}}
                      </label>
                    </div>

                    <div class="icheck-primary d-inline" style="margin-right: 20px;">
                      <input
                        type="radio"
                        id="Tipo3"
                        name="tipoPos"
                        value="Doutorado"
                        {{#if (eq "Doutorado" tipoPos)}}checked{{/if}}
                      />
                      <label for="Tipo3">
                        {{__ "ppgiForm2.cursoPos.optionTipo.doutorado"}}
                      </label>
                    </div>

                    <button
                      id="limparSelecao"
                      class="btn btn-block btn-primary"
                      style="width:50%;"
                    >
                      {{__ "ppgiForm2.cursoPos.limparSelecao"}}
                    </button>
                  </div>
                </div>
              </div>

              <div class="row">
                <!-- Instituição de Pós -->
                <div class="col-md-6 form-group">
                  <label for="candidato-instituicao-pos" class="control-label">
                    <b>{{__ "ppgiForm2.cursoPos.instituicao"}}:</b>
                  </label>
                  <input
                    class="form-control"
                    id="candidato-instituicao-pos"
                    type="text"
                    name="instituicaoPos"
                    maxlength="60"
                    value="{{instituicaoPos}}"
                  />
                </div>

                <!-- Ano de Egresso Pós -->
                <div class="col-md-3 form-group">
                  <label for="candidato-ano-pos" class="control-label">
                    <b>{{__ "ppgiForm2.cursoPos.anoEgresso"}}:</b>
                  </label>
                  <input
                    class="form-control"
                    id="candidato-ano-pos"
                    type="number"
                    name="anoEgressoPos"
                    value="{{anoEgressoPos}}"
                  />
                </div>
              </div>
            </div>
          </div>

          <!-- Card 3: Currículo Vitae -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">{{__ "ppgiForm2.curriculumVittae.title"}}</h3>
            </div>

            <div class="card-body">
              <div class="row">
                <!-- PDF do currículo -->
                <label for="vittaepdf" class="control-label col-12">
                  <span class="text-danger">*</span>
                  <b>{{__ "ppgiForm2.curriculumVittae.pdf"}}:</b>
                </label>

                <div id="buttons-curriculum" class="col-12 flex-row align-items-center mb-4" style="display: {{#if (not hasCurriculum)}}none{{else}}flex{{/if}}; gap: 16px"  >
                  <div class="container-buttons-icon ">
                    <img src="/public/img/pdf-logo.png" alt="pdf" width="50" height="50" />
                    <figcaption id="name-curriculum" style="word-break: break-word;"><b>Curriculum.pdf</b></figcaption>
                  </div>
                  <div class="d-flex flex-row align-items-center flex-wrap" style="gap: 4px">
                    <a id="url-curiculum" href="/selecaoppgi/download/arquivo/Curriculum.pdf" class="btn btn-primary" download style="flex-grow: 1;">
                      <i class="fa fa-download mr-2" aria-hidden="true" ></i>
                       {{__ "ppgi.form.btnDownload"}}</a>
                    <button type="button" class="btn btn-success" id="btn-change-curriculum" style="flex-grow: 1;">
                      <i class="fa fa-retweet mr-2" aria-hidden="true"></i>
                       {{__ "ppgi.form.btnChange"}}</button>
                    <button type="button" class="btn btn-danger" id="btn-delete-curriculum" style="flex-grow: 1;">
                      <i class="fa fa-trash mr-2" aria-hidden="true"></i>
                       {{__ "ppgi.form.btnDelete"}}</button>
                  </div>
                </div>
                <div id="input-curriculum" class="custom-file mb-4 col-md-6 form-group" {{#if hasCurriculum}}style="display: none;"{{/if}}>
                  <input
                    type="file"
                    class="custom-file-input"
                    id="vittaepdf"
                    name="Curriculum"
                    accept="application/pdf"
                    data-msg-accept="{{__ "ppgi.form.onlyPdf"}}"/>
                  <label class="custom-file-label" for="vittaepdf">{{__ "ppgi.form.chooseFile"}}</label>
                </div>

                <!-- XML do currículo -->
                <label for="vittaexml" class="control-label col-12">
                  <b>{{__ "ppgiForm2.curriculumVittae.xml"}}:</b><br>
                  <span style="font-weight: normal">({{__ "ppgiForm2.curriculumVittae.doubtXml"}}, <a href="/public/files/instrucoes-lattes.pdf" target="_blank">{{__ "ppgiForm2.curriculumVittae.doubtXmlInstructions"}}</a>)</span>
                </label>
                <div id="buttons-vittae" class="col-12 flex-row align-items-center mb-4" style="display: {{#if (not hasVitaeXML)}}none{{else}}flex{{/if}}; gap: 16px"  >
                  <div class="container-buttons-icon ">
                    <img src="/public/img/xml-logo.png" alt="pdf" width="50" height="50" />
                    <figcaption id="name-vittae" style="word-break: break-word;"><b>VitaeXML.xml</b></figcaption>
                  </div>
                  <div class="d-flex flex-row align-items-center flex-wrap" style="gap: 4px">
                    <a id="url-vittae" href="/selecaoppgi/download/arquivo/VitaeXML.xml" class="btn btn-primary" download style="flex-grow: 1;">
                      <i class="fa fa-download mr-2" aria-hidden="true" ></i>
                      {{__ "ppgi.form.btnDownload"}}</a>
                    <button type="button" class="btn btn-success" id="btn-change-vittae" style="flex-grow: 1;">
                      <i class="fa fa-retweet mr-2" aria-hidden="true"></i>
                      {{__ "ppgi.form.btnChange"}}</button>
                    <button type="button" class="btn btn-danger" id="btn-delete-vittae" style="flex-grow: 1;">
                      <i class="fa fa-trash mr-2" aria-hidden="true"></i>
                      {{__ "ppgi.form.btnDeletePublications"}} </button>
                  </div>
                </div>
                <div id="input-vittae" class="custom-file mb-4 col-md-6 form-group" {{#if hasVitaeXML}}style="display: none;"{{/if}}>
                  <input
                    type="file"
                    class="custom-file-input"
                    id="vittaexml"
                    name="VitaeXML"
                    accept="text/xml"
                    data-msg-accept="{{__ "ppgi.form.onlyXml"}}"
                  />
                  <label class="custom-file-label" for="vittaexml">
                    {{__ "ppgi.form.chooseFile"}}
                  </label>
                </div>
              </div>
              {{#if (and hasVitaeXML (eq periodicos.length 0) (eq conferencias.length 0))}}
                <p class="text-gray">
                  <i class="fa fa-info-circle" aria-hidden="true"></i> {{__ "ppgiForm2.curriculumVittae.emptyPublications"}}
                </p>
              {{/if}}

              <!-- Exibição de publicações/Periódicos e Conferências -->
              {{#if periodicos.length}}
                <button
                  class="btn btn-primary mb-2"
                  type="button"
                  data-toggle="collapse"
                  data-target="#multiCollapseExample1"
                  aria-expanded="false"
                  aria-controls="multiCollapseExample1">
                  {{__ "ppgiForm2.curriculumVittae.periodicos"}}
                  <span class="badge badge-light">{{periodicos.length}}</span>
                </button>

                <div class="collapse multi-collapse" id="multiCollapseExample1">
                  {{#each periodicos}}
                    <div class="card collapsed-card">
                      <div class="card-header">
                        <div
                          style="
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                          "
                        >
                          <a
                            data-card-widget="collapse"
                            style="color: #000"
                            class="card-title"
                          >
                            {{ano}}: {{titulo}}
                          </a>
                          <div class="card-tools">
                            <!-- Botão collapse -->
                            <button
                              type="button"
                              class="btn btn-tool"
                              data-card-widget="collapse"
                              data-card-toggle="collapse"
                            >
                              <i class="fas fa-plus"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="card-body">
                        <li>
                          <strong>{{titulo}}. </strong>{{autores}};
                          <i>{{local}}, {{ano}}. </i>{{natureza}}.
                        </li>
                      </div>
                    </div>
                  {{/each}}
                </div>
                <br/>
              {{/if}}
              {{#if conferencias.length}}
                <button
                  class="btn btn-primary mb-2"
                  type="button"
                  data-toggle="collapse"
                  data-target="#multiCollapseExample2"
                  aria-expanded="false"
                  aria-controls="multiCollapseExample2"
                >
                  {{__ "ppgiForm2.curriculumVittae.conferencias"}}
                  <span class="badge badge-light">{{conferencias.length}}</span>
                </button>

                <div class="collapse multi-collapse" id="multiCollapseExample2">
                  {{#each conferencias}}
                    <div class="card collapsed-card">
                      <div class="card-header">
                        <div
                          style="
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                          "
                        >
                          <a
                            data-card-widget="collapse"
                            style="color: #000"
                            class="card-title"
                          >
                            {{ano}}: {{titulo}}
                          </a>
                          <div class="card-tools">
                            <button
                              type="button"
                              class="btn btn-tool"
                              data-card-widget="collapse"
                              data-card-toggle="collapse"
                            >
                              <i class="fas fa-plus"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="card-body">
                        <li>
                          <strong>{{titulo}}. </strong>{{autores}};
                          <i>{{local}}, {{ano}}. </i>{{natureza}}.
                        </li>
                      </div>
                    </div>
                  {{/each}}
                </div>
              {{/if}}

            </div>
          </div><!-- /card Currículo Vitae -->

          <!-- Card 4: Prova Anterior -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">{{__ "ppgiForm2.provaAnterior.title"}}</h3>
            </div>

            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <label for="candidato-prova" class="control-label">
                    <b>{{__ "ppgiForm2.provaAnterior.description"}}:</b>
                  </label>
                </div>
                <div  id="buttons-prova" class="col-12 flex-row align-items-center mb-4" style="display: {{#if (not hasProvaAnterior)}}none{{else}}flex{{/if}}; gap: 16px" >
                  <div class="container-buttons-icon ">
                    <img src="/public/img/pdf-logo.png" alt="pdf" width="50" height="50" />
                    <figcaption id="name-prova" style="word-break: break-word;"><b>ProvaAnterior.pdf</b></figcaption>
                  </div>
                  <div class="d-flex flex-row align-items-center flex-wrap" style="gap: 4px">
                    <a id="url-prova" href="/selecaoppgi/download/arquivo/ProvaAnterior.pdf" class="btn btn-primary" download style="flex-grow: 1;">
                      <i class="fa fa-download mr-2" aria-hidden="true" ></i>
                       {{__ "ppgi.form.btnDownload"}}</a>
                    <button type="button" class="btn btn-success" id="btn-change-prova" style="flex-grow: 1;">
                      <i class="fa fa-retweet mr-2" aria-hidden="true"></i>
                       {{__ "ppgi.form.btnChange"}}</button>
                    <button type="button" class="btn btn-danger" id="btn-delete-prova" style="flex-grow: 1;">
                      <i class="fa fa-trash mr-2" aria-hidden="true"></i>
                       {{__ "ppgi.form.btnDelete"}}</button>
                  </div>
                </div>

                <div id="input-prova" class="form-group col-md-6" {{#if hasProvaAnterior}}style="display: none;"{{/if}}>
                  <div class="custom-file">
                    <input
                      type="file"
                      class="custom-file-input"
                      id="candidato-prova"
                      name="ProvaAnterior"
                    />
                    <label class="custom-file-label" for="candidato-prova">
                      {{__ "ppgi.form.chooseFile"}}
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- /card Prova Anterior -->

          <!-- Card 5: Experiência Acadêmica -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">{{__ "ppgiForm2.experienciaAcademica.title"}}</h3>
            </div>

            <div class="card-body d-flex flex-column w-100">
              <div id="experiencia-container">
                {{#each experienciasAcademicas}}
                <blockquote class=" experiencia-row quote-secondary m-0 mb-3 pr-0" style="border-radius: 4px;">
                  <div class="row ">
                    <div class="col-md-4">
                      <label
                        for="candidato-experiencia-instituicao"
                        class="control-label"
                      >
                        {{__ "ppgiForm2.experienciaAcademica.instituicao"}}:
                      </label>
                      <input
                        class="form-control"
                        id="candidato-experiencia-instituicao"
                        type="text"
                        name="experienciaInstituicao[]"
                        maxlength="60"
                        value="{{instituicao}}"
                      />
                    </div>

                    <div class="col-md-4">
                      <label
                        for="candidato-experiencia-atividade"
                        class="control-label"
                      >
                        {{__ "ppgiForm2.experienciaAcademica.atividade"}}:
                      </label>
                      <input
                        class="form-control"
                        id="candidato-experiencia-atividade"
                        type="text"
                        name="experienciaAtividade[]"
                        maxlength="60"
                        value="{{atividade}}"
                      />
                    </div>

                    <div class="col-md-4">
                      <label
                        for="candidato-experiencia-periodo"
                        class="control-label"
                      >
                        {{__ "ppgiForm2.experienciaAcademica.periodo"}}:
                      </label>
                      <input
                        class="form-control"
                        id="candidato-experiencia-periodo"
                        type="text"
                        name="experienciaPeriodo[]"
                        maxlength="30"
                        value="{{periodo}}"
                      />
                    </div>

                    <div class="col-12 align-self-end d-flex justify-content-end mt-1">
                      <button
                        type="button"
                        class="btn btn-danger delete-experiencia-button"
                      >
                        {{__ "ppgi.delete"}}
                      </button>
                    </div>
                  </div>
                </blockquote>
                {{/each}}

                {{#if (eq experienciasAcademicas.length 0)}}
                <blockquote class="experiencia-row quote-secondary m-0 mb-3 pr-0" style="border-radius: 4px;">

                  <div class="row">
                    <div class="col-md-4">
                      <label
                        for="candidato-experiencia-instituicao"
                        class="control-label"
                      >
                        {{__ "ppgiForm2.experienciaAcademica.instituicao"}}:
                      </label>
                      <input
                        class="form-control"
                        id="candidato-experiencia-instituicao"
                        type="text"
                        name="experienciaInstituicao[]"
                        maxlength="60"
                      />
                    </div>

                    <div class="col-md-4">
                      <label
                        for="candidato-experiencia-atividade"
                        class="control-label"
                      >
                        {{__ "ppgiForm2.experienciaAcademica.atividade"}}:
                      </label>
                      <input
                        class="form-control"
                        id="candidato-experiencia-atividade"
                        type="text"
                        name="experienciaAtividade[]"
                        maxlength="60"
                      />
                    </div>

                    <div class="col-md-4">
                      <label
                        for="candidato-experiencia-periodo"
                        class="control-label"
                      >
                        {{__ "ppgiForm2.experienciaAcademica.periodo"}}:
                      </label>
                      <input
                        class="form-control"
                        id="candidato-experiencia-periodo"
                        type="text"
                        name="experienciaPeriodo[]"
                        maxlength="30"
                      />
                    </div>
                    <div class="col-12 align-self-end d-flex justify-content-end mt-1">
                      <button
                        type="button"
                        class="btn btn-danger delete-experiencia-button"
                        style="display: none"
                      >
                        {{__ "ppgi.delete"}}
                      </button>
                    </div>
                  </div>
                </blockquote>
                {{/if}}
              </div>

              <!-- Botão para adicionar nova experiência -->
              <button
                id="add-experiencia-button"
                class="btn btn-primary align-self-end"
                style="margin-left: auto;"
              >
                {{__ "ppgiForm2.experienciaAcademica.adicionarExperiencia"}}
              </button>
            </div>

            <div class="card-footer">
              <div
                class="col d-flex align-items-center flex-row-reverse p-0"
                style="gap: 4px;"
              >
                <!-- Botão de Submit -->
                <button id="btn-submit" class="btn btn-success">
                  {{__ "ppgi.form.saveAndContinue"}}
                  <span
                    class="spinner-border spinner-border-sm"
                    hidden="hidden"
                    role="status"
                    aria-hidden="true"
                  ></span>
                </button>

                <!-- Botão Voltar -->
                <button
                  class="btn btn-warning"
                  type="button"
                  id="voltarForm"
                >
                  {{__ "ppgi.form.previousStep"}}
                  <span
                    class="spinner-border spinner-border-sm"
                    hidden="hidden"
                    role="status"
                    aria-hidden="true"
                  ></span>
                </button>
              </div>
            </div>
          </div>
        </form>
      </article>
    </div>
  </section>
  {{> ppgi/footer}}
</main>
<script>

  const inputFilesConfig = {
    Curriculum: {
      input: "#vittaepdf",
      buttons: "#buttons-curriculum",
      containerInput: "#input-curriculum",
      name: "#name-curriculum",
      btnChange: "#btn-change-curriculum",
      btnDelete: "#btn-delete-curriculum",
      aDownload: "#url-curiculum",
      hasFileSave: {{hasCurriculum}}
    },
    Prova: {
      input: "#candidato-prova",
      buttons: "#buttons-prova",
      containerInput: "#input-prova",
      name: "#name-prova",
      btnChange: "#btn-change-prova",
      btnDelete: "#btn-delete-prova",
      aDownload: "#url-prova",
      hasFileSave: {{hasProvaAnterior}}
    }
  }


  function changeYear(event) {
    const year = event.target.value;
    if (year.length === 4) {
      const currentYear = new Date().getFullYear();
      if (year > currentYear) {
        $(event.target).addClass("is-invalid");
      } else {
        $(event.target).removeClass("is-invalid");
      }
    }
  }

  function changeFile(idInput) {
    $(idInput).click();
  }

  function actionDeleteFile(idInput, idButtons, idContainerInput){
    $(idInput).val('');
    $(idButtons).hide();
    $(idContainerInput).show();
    $(idInput).next('label').text('{{__ "ppgi.form.chooseFile"}}');
  }

  function changeFileInput(event, aLink, idButtons, idContainerInput, idName) {
    const input = $(event.target);
    if (!input.valid()) {
      input.next('label').text('{{__ "ppgi.form.chooseFile"}}');
      return;
    }
    const file = event.target.files[0];
    const fileName = file.name;
    const url = URL.createObjectURL(file);
    $(idContainerInput).hide();
    $(idButtons).css('display', 'flex');
    $(idName).html(`<b>${fileName}</b>`);

    $(aLink)
      .attr('href', url)
      .attr('download', fileName);
  }

  $(document).ready(function () {
    Object.keys(inputFilesConfig).forEach(key => {
      const inputConfig = inputFilesConfig[key];
      const input = inputConfig.input;
      const buttons = inputConfig.buttons;
      const containerInput = inputConfig.containerInput;
      const name = inputConfig.name;
      const btnChange = inputConfig.btnChange;
      const btnDelete = inputConfig.btnDelete;
      const aDownload = inputConfig.aDownload;

      $(input).change(function (event) {
        inputFilesConfig[key].hasFileSave = true;
        changeFileInput(event, aDownload, buttons, containerInput, name);
      });

      $(btnChange).click(function () {
        changeFile(input);
      });

      $(btnDelete).click(function () {
        inputFilesConfig[key].hasFileSave = false;
        actionDeleteFile(input, buttons, containerInput);
      });
    });

    $('#btn-change-vittae').click(function () {
      changeFile('#vittaexml');
    });

    $('#btn-delete-vittae').click(function () {
      $.ajax({
        url: '/selecaoppgi/formulario/publicacoes?_csrf={{csrfToken}}',
        type: "DELETE",
        success: function (data) {
          window.location.href = "/selecaoppgi/formulario";
        },
        error: function (data) {
          console.error(data);
        }
      });
    });

    $("#btn_logout").click(function () {
      $.ajax({
        url: "/selecaoppgi/logout",
        type: "POST",
        data: {
          _csrf: $("#csrfToken").val()
        },
        success: function (data) {
          window.location.href = "/selecaoppgi";
        },
        error: function (data) {
          console.error(data);
        }
      });
    });
    $("#btn_inicio").click(function () {
      $.ajax({
        url: "/selecaoppgi/voltarInicio",
        type: "POST",
        data: {
          _csrf: $("#csrfToken").val()
        },
        success: function (data) {
          window.location.href = "/selecaoppgi/formulario";
        },
        error: function (data) {
          console.error(data);
        }
      });
    });
    $("#voltarForm").click(() => {
      const btnVoltar = $("#voltarForm");
      btnVoltar.attr("disabled", true);
      btnVoltar.find("span").prop("hidden", false);
      const csrfToken = $("#csrfToken").val();
      const id = $("#idCandidato").val();

      $.ajax({
        url: '/selecaoppgi/voltar',
        type: 'POST',
        data: {
          _csrf: csrfToken,
          id: id
        }, success: function (data) {
          window.location.href = '/selecaoppgi/formulario';
          window.location.reload(true);
        },
        error: function (data) {
          btnVoltar.attr("disabled", false);
          btnVoltar.find("span").prop("hidden", true);
          console.error(data)
        }
      });
    });

    $("#limparSelecao").on("click", function (e) {
      e.preventDefault()
      $("#candidato-curso-tipo input[type='radio']").prop("checked", false);
    });
    $("#candidato-ano-pos").change(changeYear);
    $("#candidato-ano").change(changeYear);
  });

  function mostrarPeriodicos() {
    const accordion = $('#accordion');
    if (accordion.hasClass("show")) {
      accordion.collapse("hide");
    } else {
      accordion.collapse("show");
    }
  }

  $(".accordion").on("show.bs.collapse", function () {
    $(this).find(".collapse").slideDown(20000);
  });

  $(".accordion").on("hide.bs.collapse", function () {
    $(this).find(".collapse").slideUp(20000);
  });


  function mostrarConferencias() {
    document.getElementById("periodicos").style.display = "none";
    document.getElementById("conferencias").style.display = "block";
  }

  document.addEventListener("DOMContentLoaded", function () {
    const addButton = document.getElementById("add-experiencia-button");
    const experienciaContainer = document.getElementById("experiencia-container");
    const exemploRow = document.querySelector(".experiencia-row");

    const experiencias = experienciaContainer.getElementsByClassName("experiencia-row");
    if (experiencias.length >= 1) {
      for (const experiencia of experiencias) {
        const deleteButton = experiencia.querySelector(".delete-experiencia-button");

        deleteButton.addEventListener("click", function () {
          experienciaContainer.removeChild(experiencia);
        });
      }
    }
    addButton.addEventListener("click", function (e) {
      e.preventDefault();
      const newExperienciaRow = exemploRow.cloneNode(true);

      const inputs = newExperienciaRow.querySelectorAll("input");
      inputs.forEach(input => input.value = "");

      experienciaContainer.appendChild(newExperienciaRow);

      const experiencias = experienciaContainer.getElementsByClassName("experiencia-row");
      if (experiencias.length > 1) {
        for (const experiencia of experiencias) {
          const deleteButton = experiencia.querySelector(".delete-experiencia-button");
          deleteButton.style.display = "inline-block";
          deleteButton.addEventListener("click", function () {
            experienciaContainer.removeChild(experiencia);
            if (experiencias.length === 1) {
              const experiencia = experiencias[0];
              const deleteButton = experiencia.querySelector(".delete-experiencia-button");
              deleteButton.style.display = "none";
            }
          });
        }
      } else {
        const experiencia = experiencias[0];
        const deleteButton = experiencia.querySelector(".delete-experiencia-button");
        deleteButton.style.display = "none";
      }
    });
  });

  function reqAjax(data) {
    const btnSubmit = $("#btn-submit");
    btnSubmit.attr("disabled", true);
    btnSubmit.find("span").prop("hidden", false);

    const formData = new FormData($('#candidato-formulario2')[0]);
    formData.append('csrfToken', $("#csrfToken").val());
    formData.append('email', $("#email").val());
    formData.append('id', $("#idCandidato").val());

    const csrfToken = $("#csrfToken").val();
    console.log(data);
    $.ajax({
      url: `/selecaoppgi/formulario/2?_csrf=${csrfToken}`,
      type: "PUT",
      data: formData,
      contentType: false,
      processData: false,
      success: function (response) {
        window.location.href = '/selecaoppgi/formulario';
        window.location.reload();
      },
      error: function (xhr, status, error) {
        console.error(xhr);
        btnSubmit.attr("disabled", false);
        btnSubmit.find("span").prop("hidden", true);
      }
    });
  }

  function getExperienciasData() {
    const experiencias = document.getElementsByClassName("experiencia-row");
    const experienciasData = [];

    for (const experiencia of experiencias) {
      const instituicao = experiencia.querySelector("#candidato-experiencia-instituicao").value;
      const atividade = experiencia.querySelector("#candidato-experiencia-atividade").value;
      const periodo = experiencia.querySelector("#candidato-experiencia-periodo").value;

      const experienciaData = {
        instituicao: instituicao,
        atividade: atividade,
        periodo: periodo
      };
      experienciasData.push(experienciaData);
    }

    return experienciasData;
  }


  $('#vittaexml').change(function(data){
    const file = data.target.files[0];
    if (file && file.type === "text/xml") {
      const VitaeXML = document.querySelector("VitaeXML")
      const formData = new FormData($('#candidato-formulario2')[0]);

      if (data.target.files.length) {
        const vitaeInput = document.getElementById("vittaexml");
        vitaeInput.setAttribute("disabled", true);
        getCompleteData(formData, GetDataPubli)
      }
    }
  })

  function GetDataPubli(data) {
    const formData = new FormData();
    const file = $('#vittaexml')[0].files[0];
    file && formData.append('VitaeXML', file);
    data.publicacoes && formData.append('publicacoes', JSON.stringify(data.publicacoes));

    $.ajax({
      url: '/selecaoppgi/formulario/publicacoes?_csrf={{csrfToken}}',
      type: "POST",
      data: formData,
      success: function (data) {
        window.location.href = '/selecaoppgi/formulario';
      },
      error: function (err) {
        $(document).Toasts('create', {
          icon: 'success',
          class: "bg-danger",
          autohide: true,
          delay: 10000,
          title: 'Ocorreu um problema!',
          body: 'As informações não poderam ser salvas.'
        })
        const vitaeInput = document.getElementById("vittaexml");
        vitaeInput.setAttribute("disabled", false);
      },
      contentType: false,
      processData: false,
    })


  }

  $.validator.addMethod("conjuntoPreenchido", function (value, element) {
    const cursoPos = $("#candidato-curso-pos").val();
    const instituicaoPos = $("#candidato-instituicao-pos").val();
    const anoEgressoPos = $("#candidato-ano-pos").val();
    const cursoTipoChecked = $("#Tipo1").is(":checked") || $("#Tipo2").is(":checked") || $("#Tipo3").is(":checked");

    return (!cursoPos && !instituicaoPos && !anoEgressoPos && !cursoTipoChecked) || (cursoPos && instituicaoPos && anoEgressoPos && cursoTipoChecked);
  }, "Preencha o conjunto (Curso:, Instituição:, Ano de Egresso:) e Tipo: juntos ou deixe todos vazios.");

  $.validator.addMethod("anoValido", function (value, element) {
    if (!/^\d{4}$/.test(value)) {
      return false;
    }

    const anoAtual = new Date().getFullYear();
    const anoMinimo = 1850;
    const anoInserido = parseInt(value);
    return anoInserido <= anoAtual && anoInserido >= anoMinimo;
  }, "Ano inválido");

  $.validator.addMethod("fileSize", function(value, element, param) {
    if (element.files.length === 0) {
      return true;
    }
    return element.files[0].size <= param;
  }, "O arquivo deve ter no máximo {0} bytes.");


  $.validator.addMethod("anoPosValido", function (value, element) {
    if (value.trim() === "") {
      return true;
    }
    if (!/^\d{4}$/.test(value)) {
      return false;
    }
    const anoAtual = new Date().getFullYear();
    const anoMinimo = 1850;
    const anoInserido = parseInt(value);
    return anoInserido <= anoAtual && anoInserido >= anoMinimo;
  }, "Ano inválido");

  $("#candidato-formulario2").validate({
    errorElement: 'span',
    errorPlacement: function (error, element) {
      error.addClass('invalid-feedback');
      element.closest('div').append(error);
    },
    highlight: function (element, errorClass, validClass) {
      $(element).addClass('is-invalid');
    },
    unhighlight: function (element, errorClass, validClass) {
      $(element).removeClass('is-invalid');
    },
    rules: {
      "cursoGraduacao": {
        required: true
      },
      "instituicaoGraduacao": {
        required: true
      },
      "anoEgressoGraduacao": {
        required: true,
        anoValido: true

      },
      'Curriculum': {
        required: function(){
          return !inputFilesConfig.Curriculum.hasFileSave
        },
        fileSize: 30 * 1024 * 1024 // Tamanho máximo em bytes (por exemplo, 30MB = 30 * 1024 * 1024 bytes)
      },
      'ProvaAnterior': {
        fileSize: 30 * 1024 * 1024 // Tamanho máximo em bytes (por exemplo, 30MB = 30 * 1024 * 1024 bytes)
      },
      "cursoPos": {
        conjuntoPreenchido: true
      },
      "instituicaoPos": {
        conjuntoPreenchido: true
      },
      "anoEgressoPos": {
        conjuntoPreenchido: true,
        anoPosValido: true
      },

    },
    messages: {
      "cursoGraduacao": {
        required: "{{__ "ppgiForm2.validation.required"}}"
      },
      "instituicaoGraduacao": {
        required: "{{__ "ppgiForm2.validation.required"}}"
      },
      "anoEgressoGraduacao": {
        required: "{{__ "ppgiForm2.validation.required"}}"
      },
      "cursoPos": {
        conjuntoPreenchido: "{{__ "ppgiForm2.validation.conjuntoPreenchido"}}"
      },
      "instituicaoPos": {
        conjuntoPreenchido: "{{__ "ppgiForm2.validation.conjuntoPreenchido"}}"
      },
      "anoEgressoPos": {
        conjuntoPreenchido: "{{__ "ppgiForm2.validation.conjuntoPreenchido"}}"
      },
      "Curriculum": {
        required: "{{__ "ppgiForm2.validation.required"}}",
        fileSize: "{{__ "ppgi.validation.fileSize"}}"
      },
      "ProvaAnterior": {
        fileSize: "{{__ "ppgi.validation.fileSize"}}"
      }
    },

    submitHandler: (form, e) => {
      e.preventDefault()
      const VitaeXML = $("#vittaexml").val()
      const formData = new FormData($('#candidato-formulario2')[0]);
      if (VitaeXML === "" || VitaeXML === null || VitaeXML === undefined) {
        reqAjax(formData)
      } else {
        getCompleteData(formData, reqAjax)
      }
    }
  });
</script>