{{ setTitle title="Recuperar Senha - PPGI/UFAM" }}

<style>
	.login-page {
		height: 100vh;
		display: flex;
		background-color: #d2d6de;
		overflow-y: hidden;
	}

	.login-page .box {
		width: 35%;
		min-width: 360px;
		margin: auto;
		margin-top: 7%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.login-page .box .card {
		width: 100%;

		padding: 20px;
		background-color: #fff;
		border-radius: 2px;
		box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
	}

	.login-page .box .card .card-body {
		padding: 20px;
		color: #666;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.login-page .box .card .card-body .title {
		font-size: 24px;
		margin-bottom: 16px;
		text-align: center;

		font-weight: bold;
	}

	.login-page .box .card .card-body .sub-title {
		font-size: 14px;
		margin-bottom: 16px;
		text-align: center;
	}

	.login-page .box .card .card-body .form-group {
		width: 100% !important;
		min-width: 280px;
	}

	.login-page .box .card .card-body .form-control:focus {
		border: 2px solid #3c8dbc;
	}

	.login-page .box .card .card-body .btn {
		width: 100%;
		margin-top: 20px;
		background-color: #3c8dbc;
		border-color: #3c8dbc;
		color: #fff;
	}

	.login-page .box .card .card-body .btn-default {
		background-color: #fff;
		border-color: #ccc;
		color: #666;
		width: 100%;
	}

</style>
<div class="login-box"> 
	<div class="login-logo container-cards">
   		<img src="/public/img//logo-icomp.png" alt="">
    	<img src="/public/img//logo-ufam.png" alt="">
	</div>
	<div class="card"> 
    	<div class="card-body login-card-body">
      		<div class="login-logo">
            	<b>{{__ "ppgiRecPass.title"}}</b>
        	</div>
        	<div id="error-msg" class="alert alert-danger" hidden="true"></div>
        	<div id="success-msg" class="alert alert-success" hidden></div>
        	<!-- /.login-logo -->
        	<p class="login-box-msg">{{__ "ppgiRecPass.subTitle"}} </p>
        	{{#if message}}
				<div class="alert alert-{{type}}">
					{{{message}}}
				</div>
        	{{/if}}
         <form id="form-recuperar-senha">
			<input type="hidden" name="_csrf" value="{{csrfToken}}">
			<div class="form-group">
				<input type="email" class="form-control" name="email" id="email" aria-describedby="email" placeholder="{{__ "ppgiRecPass.emailPlaceholder"}}">
				<div class="help-block"></div>
			</div>
			<div class="form-group">
				<select class="form-control" name="editalId" id="edital">
					<option value="">{{__ "ppgiRecPass.noticePlaceholder"}}</option>
					{{#each editais}}
						<option value="{{editalId}}">{{editalId}}</option>
					{{/each}}
				</select>
				<div class="help-block"></div>
			</div>
          <button id="btn-form-submit" type="submit" class="btn btn-primary btn-block ">{{__ "ppgiRecPass.submitButton"}}<span class="spinner-border spinner-border-sm " hidden="true" role="status" aria-hidden="true"></span></button>
          <button type="button" name="voltar" id="btn-voltar" onclick="back()" class="btn btn-block  btn-default" role="button">{{__ "ppgiRecPass.backButton"}}</button>
        </form>
      </div>
    </div>
	{{> ppgi/selectLanguage}}
  </div>
</div>

<script>
  function back(){
      window.location.href = "{{url}}/selecaoppgi";
  }

  $("#form-recuperar-senha input").on("input", function() {
        const divError = $("#error-msg");
        if (!divError.prop("hidden")) {
            divError.prop("hidden", true);
        }

    });
	$("#form-recuperar-senha").validate({
		ignore: ':hidden',
		rules: {
			email: {
				required: true,
				email: true
			},
			edital: {
				required: true
			}
		},
		messages: {
			email: {
				required: "{{__ "ppgiRecPass.validation.emailRequired"}}",
				email: "{{__ "ppgiRecPass.validation.emailInvalid"}}"
			},
			edital: {
				required: "{{__ "ppgiRecPass.validation.noticeRequired"}}"
			},
		},
		errorElement: 'span',
		errorPlacement: function (error, element) {
			error.addClass('invalid-feedback');
			element.closest('div').append(error);
		},

		highlight: function (element, errorClass, validClass) {
			$(element).addClass('is-invalid');
		},
		unhighlight: function (element, errorClass, validClass) {
			$(element).removeClass('is-invalid');
		},
		submitHandler: function (form, e) {
			e.preventDefault();
      const buttonLogin = $("#btn-form-submit");
      const formData = new FormData(form);
    
			buttonLogin.attr("disabled", true);
			buttonLogin.find("span").prop("hidden", false);
      $.ajax({
          url: "{{url}}/selecaoppgi/recuperarSenha?_csrf={{csrfToken}}",
          type: "POST",
          data: {
            email: formData.get("email"),
            idEdital: formData.get("editalId")
          },
          success: function (data) {
            const divSuccess = $("#success-msg");
			const divError = $("#error-msg");
			divError.prop("hidden", true);
            divSuccess.prop("hidden", false);
            divSuccess.text("{{__ "ppgiRecPass.successMessage"}}");
            buttonLogin.attr("disabled", false);
            buttonLogin.find("span").prop("hidden", true);
            //window.location.href = "{{url}}/selecaoppgi";
          },
          error: function (res, status, error) {
            buttonLogin.attr("disabled", false);
            buttonLogin.find("span").prop("hidden", true);
			const divError = $("#error-msg");
			const divSuccess = $("#success-msg");
            if(res.status === 400){
				divSuccess.prop("hidden", true);
             	 divError.prop("hidden", false);
              	divError.text("{{__ "ppgiRecPass.errorIncomplete"}}");
            } else if(res.status === 404){
              	divSuccess.prop("hidden", true);
              	divError.prop("hidden", false);
              	divError.text("{{__ "ppgiRecPass.errorNotFound"}}");
            } 
          }
      })
		}
	})
</script>