<style>
	.login-page {
		height: 100vh;
		display: flex;
		background-color: #d2d6de;
		overflow-y: hidden;
	}

	.login-page .box {
		width: 35%;
		min-width: 360px;
		margin: auto; 
		margin-top: 7%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.login-page .box .card {
		width: 100%;

		padding: 20px;
		background-color: #fff;
		border-radius: 2px;
		box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
	}

	.login-page .box .card .card-body {
		padding: 20px;
		color: #666;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.login-page .box .card .card-body .title {
		font-size: 24px;
		margin-bottom: 16px;
		text-align: center;

		font-weight: bold;
	}

	.login-page .box .card .card-body .sub-title {
		font-size: 14px;
		margin-bottom: 16px;
		text-align: center;
	}

	.login-page .box .card .card-body .form-group {
		width: 100% !important;
		min-width: 280px;
	}

	.login-page .box .card .card-body .form-control:focus {
		border: 2px solid #3c8dbc;
	}

	.login-page .box .card .card-body .btn {
		width: 100%;
		margin-top: 20px;
		background-color: #3c8dbc;
		border-color: #3c8dbc;
		color: #fff;
	}

	.login-page .box .card .card-body .btn-default {
		background-color: #fff;
		border-color: #ccc;
		color: #666;
		width: 100%;
	}
	.container-cards {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		img {
		max-width: 200px;
		height: 100px;  
		}
  	}
</style>
<div class="login-box"> 
	<div class="login-logo container-cards">
    	<img src="/public/img//logo-icomp.png" alt="">
    	<img src="/public/img//logo-ufam.png" alt="">
	</div>
	<div class="card">
		<div class="card-body login-card-body">
      		<div class="login-logo">
            	<b>Nova Senha</b>
        	</div>
			<div id="error-msg" class="alert alert-danger" {{#if error}}{{else}}hidden{{/if}}>
				{{#if error}}
					{{{error}}}
				{{/if}}
			</div>
			<div id="success-msg" class="alert alert-success" hidden></div>

        	<p class="login-box-msg">Digite nova senha para o email e edital
        	{{#if message}}
        	  <div class="alert alert-{{type}}">
        	    {{{message}}}
        	  </div>
        	{{/if}}
        	{{!-- <form action="/selecaoppgi/recuperarSenha" method="post"> --}}
        	 <form id="form-recuperar-senha" >
        	  <input type="hidden" name="_csrf" value="{{csrfToken}}">
        	  	<div class="form-group">	
					<input {{#if error}} disabled {{/if}} type="password" class="form-control" name="password" id="password" aria-describedby="senha" placeholder="Senha">
					<div class="help-block"></div>
				</div>
				<div class="form-group">	
					<input {{#if error}} disabled {{/if}} type="password" class="form-control" name="confirmPassword" id="confirmPassword" aria-describedby="confirma senha" placeholder="Confirmar Senha">
					<div class="help-block"></div>
				</div>
	
        	  <button {{#if error}} disabled {{/if}} id="btn-form-submit" type="submit" class="btn btn-primary btn-block">Trocar senha<span class="spinner-border spinner-border-sm " hidden="true" role="status" aria-hidden="true"></span></button>
        	  <button type="button" name="voltar" id="btn-voltar" onclick="back()" class="btn btn-block btn-default" role="button">Voltar</button>
        	</form>
		</div>
	</div>
</div>
<!-- /.login-box -->

<script>
  function back(){
      window.location.href = "{{url}}/selecaoppgi";
  }

  $("#form-recuperar-senha input").on("input", function() {
        const divError = $("#error-msg");
        if (!divError.prop("hidden")) {
            divError.prop("hidden", true);
        }

    });
	$("#form-recuperar-senha").validate({
		ignore: ':hidden',
		rules: {
			password: {
				required: true,
				minlength: 6
			},
			confirmPassword: {
           		required: true,
           		equalTo: "#password"
        	}
		},
		messages: {
			password: {
				required: "Campo obrigatório",
				minlength: "A senha deve ter pelo menos 6 caracteres"
			},
			confirmPassword: {
				required: "Campo obrigatório",
				equalTo: "As senhas não coincidem"
			}
		}, 
		errorElement: 'span',
		errorPlacement: function (error, element) {
			error.addClass('invalid-feedback');
			element.closest('div').append(error);
		},

		highlight: function (element, errorClass, validClass) {
			$(element).addClass('is-invalid');
		},
		unhighlight: function (element, errorClass, validClass) {
			$(element).removeClass('is-invalid');
		},
		submitHandler: function (form, e) {
			e.preventDefault();
			const formData = new FormData(form);
			const password = formData.get("password");
			const btnSubmit = $("#btn-form-submit");
			btnSubmit.attr("disabled", true);
			btnSubmit.find("span").prop("hidden", false);
			$.ajax({
				url: "{{url}}/selecaoppgi/trocarSenha?_csrf={{csrfToken}}",
				type: "PUT",
				data: {
					password,
					token: "{{token}}"
				},
				success: function (data) {
					window.location.href = "{{url}}/selecaoppgi/entrar";

				},
				error: function (res, status, error) {
					btnSubmit.attr("disabled", false);
					btnSubmit.find("span").prop("hidden", true);
					if(res.responseJSON.message) {
						divError.text(res.responseJSON.message);
					} else {
						divError.text("Erro ao alterar senha");
					}
				}
			})	
		}
	})
</script>