{{> header}}
{{> sidebar module='linhasDePesquisa' page='linhasDePesquisa-busca'}}
<style>
	/* Style your page here  */
  .card {
    max-width: 1000px;
  }
</style>

<main class="content-wrapper">
	<section class="content-header">
		<div class="container-fluid">

			<div class="row mb-3">
				<div class="col-sm-7">
					<h1>{{nome}}</h1>
				</div>
				<div class="col-sm-5">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item">Página Inicial</li>
						<li class="breadcrumb-item">Linhas de Pesquisa</li>
						<li class="breadcrumb-item active">{{nome}}</li>
					</ol>
				</div>
			</div>

			<div class="btn-group row mb-3 col-sm-3" role="group">
        <button type="button" class="btn btn-secondary" onclick="goHome()">
          <i class="fa fa-arrow-left color-white"></i>
          Voltar
        </button>
        <button type="button" class="btn btn-primary" onclick="goEdit({{id}})">
          <i class="fas fa-edit color-white"></i>
          Editar
        </button>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-danger">
          <i class="fas fa-times color-white"></i>
          Remover
        </button>
			</div>

		</div>
	</section>

	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<div class="card card-primary">
						<div class="card-header">
							<h3 class="card-title">Dados da Linha de Pesquisa</h3>
						</div>
						<div class="card-body table-responsive-sm">
							<table id="dataTable2" class="table table-bordered table-hovers">
								<tbody>
									<tr>
										<th>Nome</th>
                    <td>{{nome}}</td>
									</tr>
                  <tr>
										<th>Sigla</th>
                    <td>{{sigla}}</td>
                  </tr>
                  <tr>
										<th>Ícone</th>
                    <td class='{{icone}}'></td>
                  </tr>
                  <tr>
										<th>Cor</th>
                    <td style="background-color: {{cor}}" class="color"></td>
                  </tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
    <div class="modal fade" id="modal-danger">
        <div class="modal-dialog">
          <div class="modal-content bg-danger">
            <div class="modal-header">
              <h4 class="modal-title">Danger Modal</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-outline-light">Save changes</button>
            </div>
          </div>
        </div>
      </div>
	</section>
</main>
<script>
	function goHome() {
		window.location.href = "{{url}}/linhasdepesquisa/listar";
	}

  function goEdit(id) {
    window.location.href = "{{url}}/linhasdepesquisa/editar/" + {{id}};
  }
</script>
{{> footer}}