{{> header}}
{{> sidebar module='linhasDePesquisa' page='linhasDePesquisa-editar'}}
<style>
  .card {
    max-width: 800px;
  }
</style>

<main class="content-wrapper">
	<header class="content-header">
		<div class="container-fluid">

			<div class="row mb-3">
				<div class="col-sm-7">
					<h1>Editar Linha de Pesquisa</h1>
				</div>
				<div class="col-sm-5">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item">Página Inicial</li>
						<li class="breadcrumb-item">Linhas de Pesquisa</li>
						<li class="breadcrumb-item">{{nome}}</li>
						<li class="breadcrumb-item active">Editar</li>
					</ol>
				</div>
			</div>

			<div class="row mb-3">
				<div class="col-sm-3 col-md-2 col-lg-1">
					<button type="button" class="btn btn-block btn-secondary" onclick="goHome()">
						<i class="fa fa-arrow-left color-white"></i>
						Voltar
					</button>
				</div>
			</div>

		</div>
	</header>

	<main class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<div class="card card-primary">
						<div class="card-header">
							<h3 class="card-title">Dados da Nova Linha de Pesquisa</h3>
						</div>
						<div class="card-body">
              <form role="form" method="POST">
                <div class="mb-3">
                  <font color="#FF0000">*</font>
                  <label for="nome-input" class="form-label">Nome</label>
                  <input type="text" class="form-control" id="nome-input" name="nome" value="{{nome}}" required>
                </div>
                <div class="mb-3">
                  <font color="#FF0000">*</font>
                  <label for="sigla-input" class="form-label">Sigla</label>
                  <input type="text" class="form-control" id="sigla-input" name="sigla" value="{{sigla}}" required>
                </div>
                <div class="mb-3">
                  <font color="#FF0000">*</font>
                  <label for="icone-input" class="form-label">Ícone</label>
                  <input type="text" class="form-control" id="icone-input" name="icone" value="{{icone}}" required>
                </div>
                <font color="#FF0000">*</font>
                <label for="cor-input" class="form-label">Cor</label>
                <div class="mb-3 input-group">
                      <input
                        type="color"
                        class="form-control form-control-color col-md-2"
                        id="cor-input"
                        value="{{cor}}"
                        title="Selecione uma cor ..."
                        onchange="getColor()"
                        name="cor"
                      >
                      <input type="text" value="{{cor}}" class="form-control col"></input>
                </div>
                <div class="mb-3">
                  <input class="btn btn-success" type="submit" value="Salvar">
                </div>
              </form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</main>

<script>
  function goHome() {
		window.location.href = "{{url}}/linhasdepesquisa/listar";
  }

  function getColor() {
    const currentColor = document.querySelector('#cor-input').value;
    document.querySelector(".color-name").value = currentColor.toString();
  }
</script>

{{> footer}}