{{> header}}
{{> sidebar module='usuarios' page='usuarios-listar' }}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-9">
                    <h1>Lista de Usuários (Professores e Técnicos Administrativos)</h1>
                </div>
                <div class="col-sm-3">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item active">Usuários</li>
                    </ol>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-3 col-md-2 col-lg-1 min-width-button">
                    <button type="button" class="btn btn-secondary" onclick="history.go(-1);">
                        <i class="fa fa-arrow-left color-white"></i>
                        Voltar
                    </button>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-2 min-width-button">
                    <a type="button" class="btn btn-primary" href="/usuarios/adicionar">
                        <i class="fas fa-user-plus color-white"></i>
                        Adicionar Usuário
                    </a>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Usuários</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>CPF</th>
                                        <th>Email</th>
                                        <th>Telefones</th>
                                        <th>Perfil(s)</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each usuarios}}
                                    <tr>
                                        <td> {{nomeCompleto}} </td>
                                        <td> {{cpf}} </td>
                                        <td> {{email}} </td>
                                        <td>
                                            <div class="d-flex justify-content-center">
                                                {{#if telcelular}}<i id="{{id}}c" class="fa fa-mobile fa-lg celular" title="{{telcelular}}"></i>{{/if}}     
                                                {{#if telresidencial}} <i id="{{id}}f" class="fa fa-phone fa-lg fixo" title="{{telresidencial}}"></i>{{/if}}
                                            </div>
                                        </td>
                                        <td>
                                            {{perfis}}
                                        </td>
                                        <td class='links-container'>
                                            <div class="d-flex justify-content-between">

                                                <a  style="margin-right: 2px"
                                                    href='/usuarios/{{id}}'
                                                    class='fa fa-solid fa-eye'
                                                /></a>
                                                <a  style="margin-right: 2px"
                                                    href='/usuarios/remover/{{id}}'
                                                    class='fa fa-solid fa-trash'
                                                ></a>
                                                <a  style="margin-right: 2px"
                                                    href='/linhasdepesquisa/editar/{{id}}'
                                                    class='fa fa-solid fa-pen'
                                                /></a>
                                            </div>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

<script>
    // Adiciona margem entre os icones de telefone caso haja 2 números de contato
    const celulares = document.getElementsByClassName("celular")
    for (let cel of celulares) {
        const id = cel.id.slice(0,-1)
        if (document.getElementById(id+"f")) cel.className = cel.className + " mr-2"
    }
    
</script>
{{> footer}}