{{> header}}
{{> sidebar module='reservas' page='reservas-adicionar'}}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-3">
                <div class="col-sm-9">
                    <h1>Adicionar Reserva</h1>
                </div>
                <div class="col-sm-3">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/reservas/gerenciar">Reservas</a></li>
                        <li class="breadcrumb-item active">Adicionar</li>
                    </ol>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-4 col-md-3 col-lg-1 min-width-button">
                    <a type="button" class="btn btn-warning color-white" href="/reservas/gerenciar">
                        <i class="fa fa-arrow-left color-white"></i>
                        Voltar
                    </a>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="row">
            <div class="col">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title"><b>Dados da Reserva</b></h3>
                    </div>
                    <div class="container-fluid">
                        <form id="formAdicionarSala" method="POST" action="/reservas/adicionar">
                            <input type="hidden" name="_csrf" value="{{csrf}}" />
                            <input type="hidden" name="UsuarioId" value="{{UsuarioId}}" />
                            <div class="card-body ">


                                <div class="form-group">
                                    <label for="atividade">
                                        <font color="#FF0000">*</font> Atividade:
                                    </label>
                                    <input type="text" class="form-control" id="atividade" name="atividade" required
                                        placeholder="Ex: Seminários ">
                                </div>

                                <div class="form-group ">
                                    <label for="bloco">
                                        <font color="#FF0000">*</font> Tipo:
                                    </label>
                                    <select class="form-control" id="tipo" name="tipo" required>
                                        <option value="Aula">Aula</option>
                                        <option value="Defesa">Defesa</option>
                                        <option value="Exame">Exame</option>
                                        <option value="Reunião">Reunião</option>
                                    </select>
                                </div>

                                <div class="form-group ">
                                    <label for="SalaId">
                                        <font color="#FF0000">*</font> Sala:
                                    </label>
                                    <select class="form-control" id="SalaId" name="SalaId" required>
                                        {{#each salas}}
                                        <option value="{{id}}">{{nome}} - {{bloco}} - {{andar}}° andar</option>
                                        {{/each}}
                                    </select>

                                </div>

                                <div class="row">

                                    <div class="form-group col-md-1">
                                        <label for="carta_recomendacao">
                                            <font color="#FF0000">*</font> Reserva Única?
                                        </label>
                                    </div>
                                    <div class="form-group ">
                                        <input type="checkbox" name="unica" data-bootstrap-switch
                                            data-off-color="danger" data-on-color="success" data-on-text="Sim"
                                            data-off-text="Não" value = "1" id="unica">
                                    </div>
                                </div>

                                


                                <div class="form-group " id="conditionalInput">

                                    <label class="control-label" for="candidato-nome">
                                        <font color="#FF0000"> &nbsp&nbsp</font>
                                        <b>Dias da semana:</b>
                                    </label>

                                    <label class="checkbox-inline ml-2 ">
                                        <input type="checkbox" id="checkboxOption1" name="dia" value="Segunda">
                                        Segunda
                                    </label>

                                    <label class="checkbox-inline ml-4 ">
                                        <input type="checkbox" id="checkboxOption2" name="dia" value="Terça">
                                        Terça
                                    </label>

                                    <label class="checkbox-inline ml-4">
                                        <input type="checkbox" id="checkboxOption3" name="dia" value="Quarta">
                                        Quarta
                                    </label>
                                    <label class="checkbox-inline ml-4">
                                        <input type="checkbox" id="checkboxOption3" name="dia" value="Segunda"
                                            value="Quinta"> Quinta
                                    </label>
                                    <label class="checkbox-inline ml-4">
                                        <input type="checkbox" id="checkboxOption3" name="dia" value="Sexta">
                                        Sexta
                                    </label>
                                    <label class="checkbox-inline ml-4">
                                        <input type="checkbox" id="checkboxOption3" name="dia" value="Sábado">
                                        Sábado
                                    </label>


                                </div>


                                <div class="row">

                                    <div class="form-group col-md-6">
                                        <label for="dataInicio">
                                            <font color="#FF0000">*</font> Data Inicial:
                                        </label>

                                        <div class="input-group date" id="dataInicio" data-target-input="nearest">

                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>

                                            <input type="date" class="form-control datetimepicker-input"
                                                placeholder="Data de Início" name="dataInicio"
                                                data-inputmask-inputformat="dd/mm/yyyy" placeholder="dd/mm/yyyy"
                                                required id="data_inicio">
                                        </div>

                                    </div>
                                    <div class="form-group col-md-6" id="conditionalInput2">
                                        <label for="dataTermino">
                                            <font color="#FF0000">*</font> Data Término:
                                        </label>
                                        <div class="input-group date" id="dataTermino" data-target-input="nearest">

                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                            <input type="date" class="form-control datetimepicker-input"
                                                placeholder="Data de Início" name="dataTermino" placeholder="dd/mm/yyyy"
                                                data-inputmask-inputformat="dd/mm/yyyy" placeholder="DD-MM-YYYY">

                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group  col-md-6 ">
                                        <label for="horaInicio">
                                            <font color="#FF0000">*</font> Hora Inicial:
                                        </label>
                                        <div class="input-group date" id="horaInicio" data-target-input="nearest">
                                            <div class="input-group-append" data-target="#horaTermino"
                                                data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-clock"></i></div>
                                            </div>
                                            <input type="time" class="form-control datetimepicker-input"
                                                data-target="#horaInicio" name="horaInicio" placeholder='HH:mm'>

                                        </div>
                                    </div>
                                    <div class="form-group col-md-6 ">
                                        <label for="horaTermino">
                                            <font color="#FF0000">*</font> Hora Término:
                                        </label>
                                        <div class="input-group date" id="horaTermino" data-target-input="nearest">
                                            <div class="input-group-append" data-target="#horaTermino"
                                                data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-clock"></i></div>
                                            </div>
                                            <input type="time" class="form-control  datetimepicker-input"
                                                data-target="#horaTermino" name="horaTermino" placeholder='HH:mm'>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card-footer pr-0">
                                <div style="margin-right: auto;" class="d-flex justify-content-end">
                                    <button type="submit" class="btn btn-success float-right">
                                        Adicionar Reserva
                                    </button>

                                </div>
                            </div>
                        </form>


                    </div>
                </div>
            </div>
            <!-- /.card -->
    </section>
</div>

{{> footer}}

<script>


    $(document).ready(function () {
        const conditionalInput = document.getElementById('conditionalInput');
        const conditionalInput2 = document.getElementById('conditionalInput2');

        // Inicialize o switch
        $("input[data-bootstrap-switch]").each(function () {
            $(this).bootstrapSwitch('state', $(this).is(':checked'));
        });

        // lógica do switch
        $("#unica").on('switchChange.bootstrapSwitch', function (event, state) {
            const unica = $("#unica").prop('checked');
            if (unica) {
                conditionalInput.style.display = 'none';
                conditionalInput2.style.display = 'none';
            } else {
                conditionalInput.style.display = 'block';
                conditionalInput2.style.display = 'block';
            }

        });
    });

</script>