<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        {{!-- Header --}}
        
        
        .main-header {
            width: 100%;
            border-collapse: collapse;
        }

        .main-header td {
            padding: 0px 10px;
            text-align: center;
        }

        .title-container {
            font-size: 16px;
            text-align: center;
            line-height: 0.3;
            
        }

        .linha-cinza {
            width: 100%;
            height: 1px;
            background-color: gray;
            
            margin-bottom: 30px;
        }

        .header-margin{
            margin: 0px 1.60cm;
        }

        {{!-- Body-Content --}}
        body {
            font-family: system-ui, sans-serif
            font-size: 81.25%;
        }
        .margem-body {
            margin: 1.90cm 1.60cm;
        }
        body-content {
            margin-top: 1px;
            line-height: 0.1;
        }
        body-table-info {
            width: 100%;
            border-collapse: collapse;
        }

        body-table-info td {
            padding: 0px 10px;
            text-align: center;
        }
        .linha-preta{
            width: 100%;
            height: 3px;
            background-color: black;
        }

        .container-assinatura {
            text-align: center;
            margin-top: 2cm;
        }

        .linha-assinatura {
            width: 55%;
            height: 1px;
            background-color: gray;
            margin-bottom: 5px;
            margin-left: auto;
            margin-right: auto;
        }

        .resposavel-assinatura {
            font-size: 17px;
            line-height: 0.4;
        }

        .rodape-info {
            width: 100%;
            font-size: 12px;
            border-collapse: collapse;
        }

        .rodape-info td {
            padding: 12px;
            text-align: center;
        }

    </style>
</head>



<body>
    {{!-- Body-Content --}}

    {{#with afastamentoDoc}}
        
        <!-- Content -->
        <div style="display:block" class="margem-body">
            <div style="padding: 10px;">
                <table style="font-size: 16px;">
                    <td>
                        <div><strong>SOLICITAÇÃO DE AFASTAMENTO TEMPORÁRIO</strong></div>
                    </td>
                    <td>
                        <div style="margin-left: 3cm;">
                            <div><strong>Hora:</strong> {{hora}}</div>
                            <div><strong>Data:</strong> {{data}}</div>
                        </div>
                    </td>
                </table>
                <div class="linha-preta"></div>
                <div class="body-content">
                    <p>
                        O(A) professor(a) <strong>{{usuarioNome}}</strong> estará afastado de suas atividades
                        presenciais na UFAM no período de <strong>{{dataSaida}}</strong> a <strong>{{dataRetorno}}</strong>.
                    </p>
                    

                    <p>
                        O motivo deste afastamento: <strong>{{justificativa}}</strong>.
                    </p>
                    
                    
                    <p>
                        Para reposição de suas aulas, o(a) professor(a) fez o seguinte planejamento:
                        {{planoReposicao}}
                    </p>
                </div>

                <div>
                    <p>Os dados desse funcionário estão descritos a seguir:</p>
                    <div class="body-table-info">
                        <table >
                            <tr>
                                <td ><strong>Funcionário</strong>: {{usuarioNome}}</td>
                                <td ><strong>E-mail</strong>: email</td>
                            </tr>
                            <tr>
                                <td ><strong>Local</strong>: {{localViagem}}</td>
                                <td ><strong>Tipo de Viagem</strong>: {{tipoViagem}}</td>
                            </tr>
                            <tr>
                                <td ><strong>Data de Saída</strong>: {{dataSaida}}</td>
                                <td ><strong>Data de Retorno</strong>: {{dataRetorno}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                {{!-- Assinatura --}}
                <div class="container-assinatura">
                    <div class="linha-assinatura"></div>
                    <div class="resposavel-assinatura">
                        <p><strong>Prof. Dr. José Luiz de Souza Pio</strong> </p>
                        <p>Diretor do Instituto de Computação - IComp</p>
                    </div>
                </div>
                
            </div>
        </div>

    {{/with}}

</body>
</html>